venv
#img
__pycache__/
*.pyc
*~
/static
.DS_Store
.idea
*.sqlite3
db.json
db.sqlite3
mydb.py
.env
/staticfiles/*
/TI_Management/settings/settings.py
/TI_Management/settings/*
/TI_Management_app/migrations
/media/images/*
/media/uploads/*
/media/uploadsGroup/*
/media/uploadsMember/*
/media/uploadsNotepad/*
/media/uploadsLoyaltyCards/*
/media/uploadsLoyaltyCards_a/*
/media/orderedCardDocument/*
/media/toBePickedUpCardDocument/*
/media/documentsDatabase/*
/media/uploadsRegisterRelief/*
/media/uploadsScholarshipsApplication/*
/media/uploadsScholarshipsScannedConfirmationOfPaymentForStudies/*
/media/uploadsScholarshipsDeclarationOfIncome/*
/media/uploadsScholarshipsResolutionConsenting/*
/media/uploadsScholarshipsDocumentConfirmingOfTheSemester/*
/media/uploadsScholarshipsUniversityRegulationsOfTheGradingScale/*
/media/uploadsFileFinance/*
/media/uploadsBankStatement/*
/TI_Management_app/static/img/*
/TI_Management_app/static/font/*
/backups/*

