venv
#img
__pycache__/
*.pyc
*~
/static
.DS_Store
.idea
*.sqlite3
db.sqlite3
/TI_Management_app/migrations
/media/images/*
/media/uploads/*
/media/uploadsMember/*
/media/uploadsNotepad/*
/media/uploadsLoyaltyCards/*
/media/uploadsLoyaltyCards_a/*

