{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} - {{member.member_nr}}</b></a>
<a href="{% url 'TI_Management_app:member_notepad_edit' pk=member.pk pk1=notepad.pk %}"><b> / Aktualizuj komunikację</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
<h2 class="fadeInUp-animation">Aktualizacja komunikacji</h2>
<hr>
<br />
{% if form.errors %}
    <div class="alert alert-danger">
        <p>{{form.errors}}</p>
    </div>
{% endif %}

    <h3><a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} - {{member.member_nr}}</a></h3>
    <p>Komunikacja</p>
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <table width="100%">
            <tr>
                <td>
                    <b>Tytuł sprawy:</b>
                        {{ form.title }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Opis:</b>
                    <br/>
                        {{ form.media }}
                        {{ form.content }}
                </td>
            </tr>
<!--                <tr>-->
<!--                    <td>Data zgłoszenia:-->
<!--                    {{ form.published_date }}</td>-->
<!--                </tr>-->
            <tr>
                <td>
                    <b>Ważność:</b>
                    <br/>
                        {{ form.importance }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sposób zgłoszenia:</b>
                    <br/>
                        {{ form.method }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Status:</b>
                    <br/>
                        {{ form.status }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Odpowiedzialny:</b>
                    <br />
                        {{ form.responsible.as_hidden }}
                    <input
                        class="form-control me-2"
                        style="min-width: 50%!important; min-height: 15px"
                        type="text"
                        placeholder="{{ user.username }}"
                        value="{{ user.username }}"
                        aria-label="odpowiedzialny"
                        name="responsible"
                        disabled
                    >
                </td>
            </tr>
            <tr>
                <td class="tableCredential">
                    <label class="custom-file-upload-mod">
                        <b>Dodaj plik:</b>
                        {{ form.file }}
                    </label>
                </td>

            </tr>
            <tr>
                <td>
                    <br />
                    <b>Potwierdzenie zgłoszenia:</b>
                        {{form.confirmed}}
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}