{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} {{member.member_nr}}</b></a>
<a href="{% url 'TI_Management_app:member_loyalty_card_add' pk=member.pk pk1=card_add.pk %}"><b> / Dodaj Kartę Lojalnościową</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
<h2 class="fadeInUp-animation">Dodaj Kartę Lojalnościową</h2>
<hr>
<br />

    {% if form.errors %}
        <div class="alert alert-danger">
            <p>{{form.errors}}</p>
        </div>
    {% endif %}

    <h3><a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
    <br />
    <form method="post" class="post-form" enctype="multipart/form-data">
<!--            {{ form.as_p }}-->
        {% csrf_token %}
<!--            <p>{{form.card}}</p>-->
<!--            <p>{{form.card_identity}}</p>-->
<!--            <p>{{form.card_status}}</p>-->
<!--            <p>{{form.date_of_action}}</p>-->
        <table width="100%">
            <tr>
                <td><b>Rodzaj karty: </b></td>
                <td>{{ card_add }}</td>
            </tr>

            <tr>
                <td><b>Numer karty: </b></td>
<!--                    <td>{{form.card_identity}}</td>-->

                <td>
                    {% if form.card_identity.errors %}
                        <p class="hint">{{form.card_identity}}</p>
                        <p>{{form.card_identity.errors}}</p>
                    {% else %}
                        <p>{{form.card_identity}}</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Startowy PIN: </b></td>
                <td>{{form.card_start_pin}}</td>
            </tr>
            <tr>
                <td><b>Status karty: </b></td>
                <td>{{form.card_status}}</td>
            </tr>
<!--                <tr>-->
<!--                    <td>Data modyfikacji: </td>-->
<!--                    <td>{{form.date_of_action}}</td>-->
<!--                </tr>-->
            <tr>
                <td><b>Potwierdzenie odbioru: </b></td>
                <td>{{form.confirmed}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{form.responsible}}</td>
            </tr>
        </table>
        {{ form.member.as_hidden }}
        <br />
        {{ form.confirmed_hid }}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj karte</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}