{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:member_function_add' %}"><b> / Dodaj funkcję dla członka</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodawanie nowego Członka</h2>
    <br />

    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}
        <h4>Funkcja Członka:</h4>
        {{form.member_function}}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    {% for function in all_functions %}
        <div class="notepad">
            <h3>
                <a href="{% url 'TI_Management_app:member_function_edit' pk=function.pk %}">
                    {{function}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{function.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='member_function_add' %}
{% endblock %}