<!DOCTYPE html>
{% load static %}
{% load ti_management_tags %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
        <link rel="icon" type="image/x-icon" href="{% static 'img/zzti_png-3.png' %}">

    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">

      {% for note in member_notepad_history_obj %}
            <div class="notepad">
                <div class="notepad-head"><h3>{{ note.title }}</h3> </div>
                <div class="notepad-history-head">
                    <div class="notepad-status-left">
                        <p># {{ forloop.revcounter }}</p>
                    </div>
                    <div class="notepad-status-right">
                        <p>Data: {{ note.published_date }} Przez: {{ note.responsible }}</p>
                    </div>
                </div>

                <table>
                    <tr>
                        <td><h5>Sposób zgłoszenia: </h5></td>
                        <td>
                            {% if note.method == 'personally' %} Osobiście
                            {% elif note.method == 'email' %} E-mail
                            {% elif note.method == 'telephone' %} Telefonicznie
                            {% elif note.method == 'zoom' %} ZOOM
                            {% elif note.method == 'whatsapp' %} WhatsApp
                            {% elif note.method == 'facebook' %} Facebook
                            {% elif note.method == 'other' %} Inny
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Ważnośc: </h5></td>
                        <td>
                            {% if note.importance == 'low' %} Niski
                            {% elif note.importance == 'standard' %} Umiarkowany
                            {% elif note.importance == 'important' %} Ważny
                            {% elif note.importance == 'veryImportant' %} Bardzo ważny
                            {% elif note.importance == 'critical' %} Krytyczny
                            {% elif note.importance == 'none' %} Nie dotyczy
                            {% else %} None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5>Opis: </h5>
                            {{ note.content|safe }}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Nadano status: </h5></td>
                        <td>
                            {% if note.status == 'ongoing' %}
                                W trakcie
                            {% elif note.status == 'closed' %}
                                Zamknięty
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Podpisano: </h5></td>
                        <td>{{ note.confirmed }}</td>
                    </tr>
                    <tr>
                        <td><h5>Plik: </h5></td>
                        <td>
                            {% if note.file %}
                                <a href="{{ note.file.url }}">{{ note.file|filename }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
       {% endfor %}


    </body>
</html>