{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} - {{member.member_nr}}</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
  <h2 class="fadeInUp-animation">{{member.forename}} {{member.surname}} - {{member.member_nr}}</h2>
  <hr>
  <br />
  {% if member.created_date %}
  <div class="notepad">
    <div style='display: block; float: right; margin-left: auto;'>
      <div style="float: right; margin-left: auto;">
        <a href="{{ member.image.url }}">
          <img src="{% thumbnail member.image 250x0  quality=100 %}">
        </a>
<!--        <img src="{{ member.image.url }}" alt="image" style="width: 250px;">-->
      </div>
      <br/>

      {% if member.deactivate %}
        <span class="label label-warning pull-left">Dezaktywacja!</span>
      {% endif %}

      {% with existing_user=member.member_nr|admin_exist %}
        {% if existing_user %}
          <span class="label label-info pull-right">Administrator</span>
        {% else %}
          <!-- User not found -->
        {% endif %}
      {% endwith %}
    </div>
        <table>
          <tr>
            <td><p class="tableCredential"><b>Uczestnik:</b></p></td>
            <td><p>{{member.forename}} {{member.surname}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Funkcja:</b></p></td>
            <td><p>{{member.role}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Zawód:</b></p></td>
            <td><p>{{member.occupation}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Firma zatrudnienia:</b></p></td>
            <td><p>{{member.headquarters}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer uczestnika:</b></p></td>
            <td><p>{{member.member_nr}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Płeć: </b></p></td>
            <td>
              {% if member.sex == 'male' %}<p>M</p>
              {% elif member.sex == 'female' %}<p>K</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data urodzenia: </b></p></td>
            <td><p>{{member.birthday}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Miejsce urodzenia: </b></p></td>
            <td><p>{{member.birthplace}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>PIN: </b></p></td>
            <td>
              {% if member.pin is None %}
                <p><span style="color:red;">Brak informacji</span></p>
              {% else %}
                <p>{{member.pin}}</p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
            <td>
              {% if member.phone_number is None %}
                <p><div class="red-circle">!</div></p>
              {% else %}
                <p>{{member.phone_number|phone_number}}</p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>E-mail: </b></p></td>
            <td><p>{{member.email}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data przystąpienia: </b></p></td>
            <td><p>{{member.date_of_accession}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data wystąpienia: </b></p></td>
            <td><p>{{member.date_of_abandonment}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Rodzaj umowy: </b></p></td>
            <td>
              {% if member.type_of_contract == 'indefinite_period_of_time' %}<p>Na czas nieokreślony</p>
              {% elif member.type_of_contract == 'limited_duration' %}<p>Na czas określony</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data zatrudnienia: </b></p></td>
            <td><p>{{member.date_of_contract}}</p></td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data rozwiązania umowy: </b></p></td>
            <td><p>{{member.expiration_date_contract}}</p></td>
          </tr>
        </table>
  </div>
  <br />

        <a href="{% url 'TI_Management_app:member_edit' pk=member.pk %}">
          <button type="submit" class="btn btn-primary btn-large pull-left">Aktualizuj</button>
        </a>
        <a href="{% url 'TI_Management_app:member_deactivate' pk=member.pk %}">
          {% if member.deactivate %}
            <button type="submit" class="btn btn-danger btn-large pull-right">Przywróć</button>
          {% else %}
            <button type="submit" class="btn btn-danger btn-large pull-right">Dezaktywacja</button>
          {% endif %}
        </a>
      <br/>
      <br/>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="show">Karta HID:</li>
              <li id="obj1" style="display: none">
                {% if not member.card %}
                <p><a href="{% url 'TI_Management_app:member_card_edit' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Zmień
                </a></p>
                {% endif %}
                <br />
                <br />
                <div class="notepad">
                  <p>
                    <b>Status: </b>
                    {% if member.card %}
                    <span style="color: green"><b>dodano</b></span>
                    {% else %}
                    <span style="color: red"><b>brak</b></span>
                    {% endif %}
                  </p>
                </div>
                {% for h in card_history_entries %}
                <div class="notepad">
                  {% if h.history_object.card not in seen_cards %}
                      {{ h.history_object.card}}
                  {% endif %}
                    <table width="100%">
                      <tr>
                        <td>{{ h.history_id }}</td>
                        <td>{{ h.history_type }}</td>
                        <td>{{ h.history_user }}</td>
                        <td>{{ h.history_date }}</td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <small>
                            Karta HID: {% if h.history_object.card %} dodano {% else %} brak {% endif %}
                          </small>
                          <br />
                        </td>
                      </tr>
                    </table>

                </div>
                {% endfor %}
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showDocuments">Dokumenty:</li>
              <li id="objDocuments" style="display: none">
                <p><a href="{% url 'TI_Management_app:member_file_edit' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Dodaj Plik
                </a></p>
                <br />
                <br />
                <div class="notepad">
                <table width="100%">
                {% for file in member.membersFile.all %}
                  <tr>
                    <td><a href="{{ file.file.url }}">{{ file.title }}</a></td>
<!--                    <td><p class="str-file">{{ file.file|cut:'uploadsMember/' }}</p></td>-->
                    <td><p class="str-file">{{ file.file|filename }}</p></td>
                    <td><p class="str-file">{{ file.created_date }}</p></td>
                    <td><a href="{% url 'TI_Management_app:member_file_delete' pk=member.pk pk1=file.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a></td>
                  </tr>



                {% empty %}
                  <tr>
                    <td>
                      <p>Brak plików</p>
                    </td>
                  </tr>
                {% endfor %}
                </table>
                </div>
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showFinance">Finanse:</li>
              <li id="objFinance" style="display: none">

<!--                {% for app in member.application.all %}-->
<!--                    <div class="notepad">-->
<!--                      <p><b>Tytuł:</b> {{ app.kind_of_application }}</p>-->
<!--                      <p><b>Treść:</b> {{ app.description }}</p>-->
<!--                      <p><b>Data wniosku:</b> {{ app.date_of_application }}</p>-->
<!--                      <p><b>Data wypłaty:</b> {{ app.date_of_payout }}</p>-->
<!--                    </div>-->

<!--                {% empty %}-->
<!--                  <p>Brak informacji application</p>-->
<!--                {% endfor %}-->

                {% for relief_detail in member.memberRegisterRelief.all %}
                    <div class="notepad">
                      <p>{{relief_detail.relief.figure}} zł</p>
                      <p><b>Zapomoga z tytułu:</b></p>

                      {% if relief_detail.payment_confirmation is False and relief_detail.complete is True %}
                        {% if relief_detail.registerReliefSignatureRelief.count < 3 %}
                          <a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_detail.pk %}">
                            {{ relief_detail.relief }}
                          </a>
                          <p>Brak podpisów zarządu</p>
                        {% else %}
                          <a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_detail.pk %}">
                            {{ relief_detail.relief }}
                          </a>
                          <p>Brak potwierdzenia wypłaty</p>
                        {% endif %}

                      {% elif relief_detail.complete is False %}



                        {% if relief_detail.registerReliefFileRegisterRelief.all %}
                          {% if relief_detail.complete is False %}
                          <a href="{% url 'TI_Management_app:register_relief_step_five' pk=relief_detail.id %}">
                            {{ relief_detail.relief }}
                          </a>
                          <p>Brak Podpisu</p>
                          {% endif %}
                        {% else %}
                          <a href="{% url 'TI_Management_app:register_relief_step_four' pk=relief_detail.id %}">
                            {{ relief_detail.relief }}
                          </a>
                          <p>Bark dokumentów</p>
                        {% endif %}

                      {% else %}

                        <a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_detail.pk %}">
                          {{ relief_detail.relief }}
                        </a>
                        <p>Wypłata potwierdzona</p>

                      {% endif %}
                      <div class="date">
                        <p>
                          Data wprowadzenia: {{relief_detail.created_date}}<br />
                          przez: {{relief_detail.author}}
                        </p>
                      </div>

                    </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak zapomóg</p>
                  </div>
                {% endfor %}

                {% for scholarship_detail in member.memberScholarships.all %}
                  <div class="notepad">
                      <p>{{scholarship_detail.scholarship_rate}} zł</p>
                      <p><b>{{scholarship_detail.title}}</b></p>
                      <a href="{% url 'TI_Management_app:scholarships_edit' pk=scholarship_detail.pk %}">Zobacz szczegóły stypendium</a>
                      {% if scholarship_detail.confirmation_of_scholarship is True %}
                        <p>Zaakceptowane</p>
                      {% else %}
                        <p>Oczekuje na zaakceptowanie</p>
                      {% endif %}

                    <div class="date">
                        <p>
                          Data wprowadzenia: {{scholarship_detail.created_date}}<br />
                          przez: {{scholarship_detail.author}}
                        </p>
                      </div>
                  </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak stypendium</p>
                  </div>
                {% endfor %}

                {% for finance_detail in member.memberFileFinance.all %}
                  <div class="notepad">
                      <p>{{finance_detail.figure}} zł</p>
                      <p><b>Dokumenty księgowe:</b></p>
                      <a href="#">{{finance_detail.expense_name}}</a>
                    <div class="date">
                        <p>
                          Data wprowadzenia: {{finance_detail.created_date}}<br />
                          przez: {{finance_detail.author}}
                        </p>
                      </div>
                  </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak dodatkowej pomocy</p>
                  </div>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showCardsLoyality">Karty lojalnościowe:</li>
              <li id="objCardsLoyality" style="display: none">
                {% for en in different_elements %}
                  {% for accessed in accessible %}
                    {%if en == accessed.id%}
                      <p><a href="{% url 'TI_Management_app:member_loyalty_card_add' pk=member.pk pk1=accessed.id %}" class="btn btn-primary btn-large pull-right">
                        {{ accessed }}
                      </a></p>
                    {%endif%}
                  {% endfor %}
                {% endfor %}
                <br />
                <br />
                {% for card in member.cardStatus.all %}
                    <div class="notepad">
                      <p><a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=member.pk pk1=card.pk %}"><b>{{ card.card }}</b></a></p>
                      <p><b>Nr:</b> {{ card.card_identity }}</p>
                        {% if card.card_status == 'toOrder' %}<p><b>Status:</b> Do zlecenia</p>
                        {% elif card.card_status == 'active' %}<p><b>Status:</b> Aktywna</p>
                        {% elif card.card_status == 'ordered' %}<p><b>Status:</b> Zlecona</p>
                        {% elif card.card_status == 'toBePickedUp' %}<p><b>Status:</b> Do odbioru</p>
                        {% elif card.card_status == 'deactivated' %}<p><b>Status:</b> Dezaktywowana</p>
                        {% elif card.card_status == 'none' %}<p><b>Status:</b> Brak statusu</p>
                        {% else %}<p><b>Status:</b> None</p>{% endif %}
                      <p><b>Data:</b> {{ card.date_of_action }}</p>
                      <a href="{% url 'TI_Management_app:member_loyalty_card_delete' pk=member.pk pk1=card.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak przypisanych kart lojalnościowych</p>
                  </div>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showActivity">Aktywności:</li>
              <li id="objActivity" style="display: none">

                {% for activity in member.activityStatus.all %}
                    <div class="notepad">
                      <p><b>{{ activity.activities }}</b></p>
                      <p><b>Wybrana aktywność:</b> {{ activity.description }}</p>

                        {% if activity.activity_status == 'collect' %} <p><b>Status:</b> Odebrano</p>
                        {% elif activity.activity_status == 'forCollection' %} <p><b>Status:</b> Do odbioru</p>
                        {% elif activity.activity_status == 'none' %} <p><b>Status:</b> Brak statusu</p>
                        {% else %} <p><b>Status:</b> None </p>{% endif %}

                        <p><b>Data:</b> {{ activity.assigned_date }}</p>
                        <p><b>Ilość pobrań:</b> {{ activity.spend }}</p>
                    </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak aktywności</p>
                  </div>
                {% endfor %}

              </li>
          </ul>
        </div>

      <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showVoting">Głosowania:</li>
              <li id="objVoting" style="display: none">

                {% for vote_member in member.voteMember.all %}
                    <div class="notepad">
                      <p><b>{{ vote_member.title }}</b><em><small> {{ vote_member.description|safe|truncatewords:100 }}</small></em></p>
                      {% if vote_member.importance is True %}
                        <p><b>Rodzaj: </b> Niejawne</p>
                      {% else %}
                        <p><b>Rodzaj: </b> Jawne</p>
                      {% endif %}
                    </div>

                {% empty %}
                  <div class="notepad">
                    <p>Brak dostępnych głosowań</p>
                  </div>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showGroup">Grupy:</li>
              <li id="objGroup" style="display: none">

                {% for en in different_elements_group %}
                  {% for accessed in accessible_group %}
                    {%if en == accessed.id%}
                      <p><a href="{% url 'TI_Management_app:member_group_add' pk=member.pk pk1=accessed.id %}" class="btn btn-primary btn-large pull-right">
                        {{ accessed }}
                      </a></p>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                <br />
                <br />

                {% for group in member.groupsMember.all %}
                  <div class="notepad">
                    <p>
                      <b>{{ group.group }}</b>
                      <a href="{% url 'TI_Management_app:member_group_delete' pk=member.pk pk1=group.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    </p>
                  </div>
                {% empty %}
                  <div class="notepad">
                    <p>Brak grupy</p>
                  </div>
                {% endfor %}
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showNotepad">Komunikacja:</li>
              <li id="objNotepad" style="display: none">
                <p><a href="{% url 'TI_Management_app:member_notepad_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                    Dodaj
                </a></p>
                <br />
                <br />
                {% for note in note_entries %}
                    {% if note.title in seen_note %}
                      <div class="notepad">
                      {% if note.hidden %}
                        <p><b>Sprawa: </b>{{ note.title }}</p>
<!--                        {% for note_date in member.notepad.all|slice:"1" %}-->
<!--                          <p><b>Data dodania:</b> {{ note_date.published_date }}</p>-->
<!--                        {% endfor %}-->
                       {% member_notepad_history member note.title as notepad_history %}
                        {% if notepad_history %}
                            <div>
                                <p><b>Data dodania:</b> {{ notepad_history.published_date }}</p>
                            </div>
                        {% endif %}
                        <p><b>Data modyfikacji:</b> {{ note.published_date }}</p>
                        <p><b>Odpowiedzialny:</b> {{ note.responsible }}</p>
                        <div class="notepad-comment">
                          <p><em>{{note.hidden_content|safe}}</em></p>
                        </div>
                      {% else %}
                          <p><a href="{% url 'TI_Management_app:member_notepad_edit' pk=member.pk pk1=note.pk %}" class="btn btn-primary btn-large pull-right">
                            Aktualizuj
                          </a></p>
                          <br />
                          <br />
                          <p><b>Sprawa: </b><a href="{% url 'TI_Management_app:member_notepad_history' pk=member.pk title=note.title %}">{{ note.title }}</a></p>

<!--                        {% for note_date in member.notepad.all|slice:":1" %}-->
<!--                          <p><b>Data dodania:</b> {{ note_date.updated_date }}</p>-->

<!--                        {% endfor %}-->

                        {% member_notepad_history member note.title as notepad_history %}
                        {% if notepad_history %}
                            <div>
                                <p><b>Data dodania:</b> {{ notepad_history.published_date }}</p>
                            </div>
                        {% endif %}

                        <p><b>Data modyfikacji:</b> {{ note.published_date }}</p>
                          {% if note.importance == 'low' %}<p><b>Ważnośc:</b> Niski</p>
                          {% elif note.importance == 'standard' %}<p><b>Ważnośc:</b> Umiarkowany</p>
                          {% elif note.importance == 'important' %}<p><b>Ważnośc:</b> Ważny</p>
                          {% elif note.importance == 'veryImportant' %}<p><b>Ważnośc:</b> Bardzo ważny</p>
                          {% elif note.importance == 'critical' %}<p><b>Ważnośc:</b> Krytyczny</p>
                          {% elif note.importance == 'none' %}<p><b>Ważnośc:</b> Nie dotyczy</p>
                          {% else %}<p><b>Ważność:</b> None</p>
                          {% endif %}
                        <p>
                          {% if note.status == 'ongoing' %}
                            <b>Status:</b> W trakcie</p>
                          {% elif note.status == '' %}
                             <b>Status:</b> Zamknięty</p>
                          {% endif %}

                        <p>
                          <a href="{% url 'TI_Management_app:member_notepad_hide' pk=member.pk pk1=note.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                        </p>
                        <p><b>Odpowiedzialny:</b> {{ note.responsible }}</p>

                    {% endif %}

                      </div>
                    {% endif %}
                {% endfor %}
<!--                <br />-->
<!--                <p>-->
<!--                <a href="{% url 'TI_Management_app:member_notepad_delete_all' pk=member.pk %}" class="btn btn-danger btn-sm pull-right">usuń całą komunikacje</a>-->
<!--                </p>-->
                <br />
                <br />
              </li>
          </ul>
        </div>


        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showHistory">Historia:</li>
              <li id="objHistory" style="display: none">
                {% for h in member.history.all %}
                <div class="notepad">
                    <table width="100%">

                      <tr>
                        <td>{{ h.history_id }}</td>
                        <td>{{ h.history_type }}</td>
                        <td>{{ h.history_user }}</td>
                        <td>{{ h.history_date }}</td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <small>
                            <b>{{ h.history_object.forename }} {{ h.history_object.surname }}</b>
                          </small>
                          <hr>
                          <br />
                          <small>
                            <b>Funkcja:</b> {{ h.history_object.role }}
                          </small>
                          <br />
                          <small>
                            <b>Zawód:</b> {{ h.history_object.occupation}}
                          </small>
                          <br />
                          <small>
                            <b>Numer uczestnika:</b> {{ h.history_object.member_nr }}
                          </small>
                          <br />
                          <small>
                            <b>Płeć:</b> {{ h.history_object.sex }}
                          </small><br />
                          <small>
                            <b>Data urodzenia:</b> {{ h.history_object.birthday }}
                          </small><br />
                          <small>
                            <b>Miejsce urodzenia:</b> {{ h.history_object.birthplace }}
                          </small><br />
                          <small>
                            <b>PIN:</b> {{ h.history_object.pin }}
                          </small><br />
                          <small>
                            <b>Numer kontaktowy:</b> {{ h.history_object.phone_number }}
                          </small><br />
                          <small>
                            <b>e-mail:</b> {{ h.history_object.email }}
                          </small><br />
                          <small>
                            <b>Data przystąpienia:</b> {{ h.history_object.date_of_accession }}
                          </small>
                          <br />
                          <small>
                            <b>Data wystąpienia:</b> {{ h.history_object.date_of_abandonment }}
                          </small>
                          <br />
                          <small>
                            <b>Rodzaj umowy:</b> {{ h.history_object.type_of_contract }}
                          </small>
                          <br />
                          <small>
                            <b>Data zatrudnienia:</b> {{ h.history_object.date_of_contract }}
                          </small>
                          <br />
                          <small>
                            <b>Data rozwiązania umowy:</b> {{ h.history_object.expiration_date_contract }}
                          </small>
                          <br />
                          <small>
                            <b>Karta HID:</b> {% if h.history_object.card %} dodano {% endif %}
                          </small>
                          <br />
                          <small>
                            <b>Grupa:</b> {{ h.history_object.group }}
                          </small>
                          <br />
                          <small>
                            <b>Zdjęcie:</b> {{ h.history_object.image|filename }}
                          </small>
                          <br />
                          <small>
                            <b>Dezaktywacja:</b> {{ h.history_object.deactivate }}
                          </small>

                        </td>
                      </tr>

                    </table>
                </div>
                {% endfor %}
              </li>
          </ul>
        </div>
      {% endif %}
    <small>Ilość wyświetleń: {{total_views}}</small>
    </div>


{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}