{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} - {{member.member_nr}}</b></a>
<a href="{% url 'TI_Management_app:member_card_edit' pk=member.pk %}"><b> / Aktualizacja karty</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Aktualizacja karty</h2>
    <hr>
    <br />
    <form method="post" class="post-form">
        {% csrf_token %}
        <h3><a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
        <p>Karta</p>
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{ form.errors }}</p>
            </div>
        {% endif %}
        <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"
               type="password" placeholder="Przyłóż kartę do czytnika" value="{{ member.card }}" aria-label="card" name="card" autofocus="autofocus">
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}
