{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} - {{member.member_nr}}</b></a>
<a href="{% url 'TI_Management_app:member_deactivate' pk=member.pk %}"><b> / Dezaktywacja</b></a>
{% endblock %}


{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dezaktywacja Członka</h2>
    <hr>
    <br />
    <p>Czy na pewno chcesz {% if member.deactivate %} przywrócić {% else %} dezaktywować {% endif %}:
        {{member.forename}} {{member.surname}} - {{member.member_nr}}?
    </p>
    <form method="post" class="post-form">
        {% csrf_token %}
        <table>
            <tr>
                <td><p class="tableCredential"><b>Dezaktywacja: </b></p></td>
                <td><p>{{form.deactivate}}</p></td>
            </tr>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
    {% if member.deactivate %}
        <h3>Nieaktywne karty:</h3>
            {% for member_loyalty_card in member_loyalty_cards %}
                <p>- {{member_loyalty_card.card}}</p>
            {% endfor %}
    {% else %}
        <h3>Karty:</h3>
            {% for member_loyalty_card in member_loyalty_cards %}
                <p>- {{member_loyalty_card.card}}</p>
            {% endfor %}
        <h3>Grupy:</h3>
            {% for member_group in member_groups %}
                <p>- {{member_group.group}}</p>
            {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}