{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_occupation_add' %}"><b> / Dodaj stanowisko</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodawanie stanowiska Członka</h2>
    <hr>
    <br />
    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <H4>Stanowisko:</H4>
        {{form.member_occupation}}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    {% for occupation in all_occupation %}
        <div class="notepad">
            <h3>
                <a href="{% url 'TI_Management_app:member_occupation_edit' pk=occupation.pk %}">
                    {{occupation}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{occupation.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='member_occupation_add' %}
{% endblock %}