{% extends 'TI_Management_app/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_new' %}"><b> / Dodaj Członka</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodawanie nowego Członka</h2>
    <hr>
    <br />
    <form method="post" class="post-form" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <p>{{ form.non_field_errors }}</p>
            </div>
        {% endif %}
        <table width="100%">
            <tr>
                <td width="30%"><p class="tableCredential"><b>Imię nowego Członka: </b></p></td>
                <td width="70%">
                    <div>
                        <div {% if form.forename.errors %} class="hint" {% endif %}>
                            {{form.forename}}
                        </div>
                        {% if form.forename.errors %}
                            <div class="alert alert-danger">
                                {{ form.forename.errors }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Nazwisko nowego Członka: </b></p></td>
                <td width="70%">
                    <div>
                        <div {% if form.surname.errors %} class="hint" {% endif %}>
                            {{form.surname}}
                        </div>
                        {% if form.surname.errors %}
                            <div class="alert alert-danger">
                                {{ form.surname.errors }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Funkcja Członka: </b></p></td>
                <td width="70%">
                    <div>
<!--                        {{form.member_function}}-->
                        <div>
                            <div {% if form.member_function.errors %} class="hint" {% endif %}>
                                {{form.member_function}}
                            </div>
                            {% if form.member_function.errors %}
                                <div class="alert alert-danger">
                                    {{ form.member_function.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <datalist id="roles_database">
                            {% for role in roles %}
                                <option value="{{ role }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Numer uczestnika: </b></p></td>
                <td width="70%">
                    <div>
                        <div {% if form.member_nr.errors %} class="hint" {% endif %}>
                            {{form.member_nr}}
                        </div>
                        {% if form.member_nr.errors %}
                            <div class="alert alert-danger">
                                {{ form.member_nr.errors }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Płeć: </b></p></td>
                <td width="70%">
                    <div class="select-wrapper">
                        {{form.sex}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Data urodzenia: </b></p></td>
                <td width="70%">
                    <div>{{form.birthday}}</div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Miejsce urodzenia: </b></p></td>
                <td width="70%">
                    <div>
                        <div {% if form.birthplace.errors %} class="hint" {% endif %}>
                            {{form.birthplace}}
                        </div>
                        {% if form.birthplace.errors %}
                            <div class="alert alert-danger">
                                {{ form.birthplace.errors }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>PP ID: </b></p></td>
                <td width="70%">
                    <div>
                        <div {% if form.pin.errors %} class="hint" {% endif %}>
                            {{form.pin}}
                        </div>
                        {% if form.pin.errors %}
                            <div class="alert alert-danger">
                                {{ form.pin.errors }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Stanowisko: </b></p></td>
                <td width="70%">
                    <div>
<!--                        {{form.member_occupation}}-->
                        <div>
                            <div {% if form.member_occupation.errors %} class="hint" {% endif %}>
                                {{form.member_occupation}}
                            </div>
                            {% if form.member_occupation.errors %}
                                <div class="alert alert-danger">
                                    {{ form.member_occupation.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <datalist id="occupation_database">
                            {% for occupation in occupations %}
                                <option value="{{ occupation }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Firma zatrudnienia: </b></p></td>
                <td width="70%">
                    <div>
                        <div>
                            <div {% if form.headquarters.errors %} class="hint" {% endif %}>
                                {{form.headquarters}}
                            </div>
                            {% if form.headquarters.errors %}
                                <div class="alert alert-danger">
                                    {{ form.headquarters.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <datalist id="headquarters_database">
                            {% for headquarter in headquarters %}
                                <option value="{{ headquarter }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
                <td width="70%">
                    {% if form.phone_number.errors %}
                        <div class="form-row">
                            <div class="input-group">
                                <div class="hint">{{ form.phone_number }}</div>
                            </div>
                            <div class="ext-input">
                                <span class="flag-icon"><img src="{% static 'img/poland-flag.png' %}" alt="Poland Flag"></span>
                                    {{ form.extension }}
                            </div>
                        </div>
                        <div class="alert alert-danger">
                            {{ form.phone_number.errors }}
                        </div>
                    {% else %}
                        <div class="form-row">
                            <div class="input-group">
                                {{ form.phone_number }}
                            </div>
                            <div class="ext-input">
                                <span class="flag-icon"><img src="{% static 'img/poland-flag.png' %}" alt="Poland Flag"></span>
                                    {{ form.extension }}
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>e-mail: </b></p></td>
                <td width="70%">
                    {% if form.email.errors %}
                        <p class="hint">{{form.email}}</p>
                        <p>{{form.email.errors}}</p>
                    {% else %}
                        <p>{{form.email}}</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Data przystąpienia: </b></p></td>
                <td width="70%">
                    <div>
                        <p>{{form.date_of_accession}}</p>
                        {% if form.date_of_accession.errors %}
                            <div class="error">{{ form.date_of_accession.errors }}</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Data wystąpienia: </b></p></td>
                <td width="70%">
                    <p>{{form.date_of_abandonment}}</p>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Data zatrudnienia: </b></p></td>
                <td width="70%">
                    <p>{{form.date_of_contract}}</p>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Rodzaj umowy: </b></p></td>
                <td width="70%">
                    <div class="select-wrapper">
                        {{form.type_of_contract}}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%"><p><b>Data rozwiązania umowy: </b></p></td>
                <td width="70%">
                    <p>{{form.expiration_date_contract}}</p>
                </td>
            </tr>
            <tr>
                <td width="30%"><p class="tableCredential"><b>Grupa: </b></p></td>
                <td width="70%">
                    <div class="select-wrapper">
                        {{form.group}}
                    </div>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td width="30%"><p class="tableCredential"><b>Karta: </b></p></td>-->
<!--                <td width="70%">-->
<!--                    <p>{{form.card}}</p>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td width="30%">
                    <p class="tableCredential"><b>Rekomendacja? </b>{{ form.recommendation }}</p>
                </td>
                <td width="70%">
                    <div id="memberDiv" style="display: none;">
                        {{ form.recommended_member_nr }}
                        <datalist id="members">
                            {% for member in members %}
                                <option value="{{ member.member_nr }}">{{ member.forename }}</option>
                            {% endfor %}
                        </datalist>
                        <div id="memberDetails" style="display: none;"></div>
                        <div id="error" style="color: red; display: none;"></div>
                    </div>

                </td>
            </tr>
            <tr>
                <td width="30%"><p><b>Zdjęcie: </b></p></td>
                <td width="70%">
                    <label class="custom-file-upload">
                        Dodaj zdjęcie
                        {{form.image}}
                    </label>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const typeOfContractField = document.querySelector('#id_type_of_contract');
    const expirationDateFieldWrapper = document.querySelector('tr:has(#id_expiration_date_contract)');

    function toggleExpirationDateField() {
        if (typeOfContractField.value === 'limited_duration') {
            expirationDateFieldWrapper.style.display = '';
        } else {
            expirationDateFieldWrapper.style.display = 'none';
        }
    }

    typeOfContractField.addEventListener('change', toggleExpirationDateField);

    // Initial check
    toggleExpirationDateField();
});
</script>

<script>
    const baseUrl = '{% url "TI_Management_app:get_member_details" "dummy_member_nr" %}'.replace('dummy_member_nr/', '');


    document.getElementById('recommendation').addEventListener('change', function() {
        var memberDiv = document.getElementById('memberDiv');
        if (this.checked) {
            memberDiv.style.display = 'block';
        } else {
            memberDiv.style.display = 'none';
        }
    });

    document.querySelector('input[name="recommended_member_nr"]').addEventListener('change', function() {
        var memberNr = this.value;
        console.log('Member number changed: ', memberNr);
        if (memberNr !== 'none') {
            fetchMemberDetails(memberNr);
        } else {
            document.getElementById('memberDetails').style.display = 'none';
            document.getElementById('error').style.display = 'none';
        }
    });

    function fetchMemberDetails(memberNr) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/TI_Management_app/finance/get-member-details/${memberNr}/`, true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const memberDetails = JSON.parse(xhr.responseText);
                console.log('Received member details: ', memberDetails);
                displayMemberDetails(memberDetails);
            } else if (xhr.status === 400) {
                console.error('Invalid request: ', xhr.status, xhr.statusText);
                displayError('Invalid request.');
            } else {
                console.error('Error fetching member details: ', xhr.status, xhr.statusText);
                displayError('Error fetching member details.');
            }
        }
    };
    xhr.send();
    }

<!--    function fetchMemberDetails(memberNr) {-->
<!--        console.log('Fetching member details for: ', memberNr);-->
<!--        var xhr = new XMLHttpRequest();-->
<!--        xhr.open('GET', baseUrl + memberNr + '/', true);-->
<!--        xhr.setRequestHeader('Content-Type', 'application/json');-->
<!--        xhr.onreadystatechange = function () {-->
<!--            if (xhr.readyState === 4) {-->
<!--                if (xhr.status === 200) {-->
<!--                    console.log('Received member details: ', xhr.responseText);-->
<!--                    var memberDetails = JSON.parse(xhr.responseText);-->
<!--                    displayMemberDetails(memberDetails);-->
<!--                    document.getElementById('error').style.display = 'none';-->
<!--                } else if (xhr.status === 404) {-->
<!--                    console.error('Error fetching member details: ', xhr.status, xhr.statusText);-->
<!--                    document.getElementById('memberDetails').style.display = 'none';-->
<!--                    displayError('Taki Członek nie istnieje');-->
<!--                } else {-->
<!--                    console.error('Error fetching member details: ', xhr.status, xhr.statusText);-->
<!--                    document.getElementById('memberDetails').style.display = 'none';-->
<!--                    displayError('Taki Członek nie istnieje lub jest dezaktywowany');-->
<!--                }-->
<!--            }-->
<!--        };-->
<!--        xhr.send();-->
<!--    }-->

    function displayMemberDetails(details) {
        var memberDetailsDiv = document.getElementById('memberDetails');
        memberDetailsDiv.style.display = 'block';
        memberDetailsDiv.innerHTML = `
            <p><b>Imię:</b> ${details.first_name}</p>
<!--                <p><b>Nazwisko:</b> ${details.last_name}</p>-->
<!--                <p><b>Email:</b> ${details.email}</p>-->
            <!-- Add more details as needed -->
        `;
        console.log('Displaying member details: ', details);
    }

    function displayError(errorMessage) {
        var errorDiv = document.getElementById('error');
        errorDiv.style.display = 'block';
        errorDiv.innerText = errorMessage;
        console.log('Displaying error: ', errorMessage);
    }
</script>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='member_new' %}
{% endblock %}
