{% extends 'TI_Management_app/base.html' %}
{% load thumbnail %}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"><b> / {{member.forename}} {{member.surname}} - {{member.member_nr}}</b></a>
<a href="{% url 'TI_Management_app:member_edit' pk=member.pk %}"><b> / Aktualizuj</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
<h2 class="fadeInUp-animation">{{member.forename}} {{member.surname}} - {{member.member_nr}}</h2>
<hr>
<br />
<form method="post" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <p>{{ form.non_field_errors }}</p>
        </div>
    {% endif %}

    <a href="{{ member.image.url }}">
          <img src="{% thumbnail member.image 250x0  quality=100 %}" alt="image" style='display: block; float: right; margin-left: auto;'>
    </a>
<!--    <img src="{{ member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 250px'>-->
    <table width="60%">
        <tr>
            <td width="30%"><p class="tableCredential"><b>Imię: </b></p></td>
            <td width="70%">
                <div>
                    <div {% if form.forename.errors %} class="hint" {% endif %}>
                        {{form.forename}}
                    </div>
                    {% if form.forename.errors %}
                        <div class="alert alert-danger">
                            {{ form.forename.errors }}
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Nazwisko: </b></p></td>
            <td width="70%">
                <div>
                    <div {% if form.surname.errors %} class="hint" {% endif %}>
                        {{form.surname}}
                    </div>
                    {% if form.surname.errors %}
                        <div class="alert alert-danger">
                            {{ form.surname.errors }}
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Funkcja: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.role}}
                </div>
            </td>
        </tr>

        <tr>
            <td width="30%"><p class="tableCredential"><b>Numer uczestnika: </b></p></td>
            <td width="70%">
                <div>
                    <div {% if form.member_nr.errors %} class="hint" {% endif %}>
                        {{form.member_nr}}
                    </div>
                    {% if form.member_nr.errors %}
                        <div class="alert alert-danger">
                            {{ form.member_nr.errors }}
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Płeć: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.sex}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Data urodzenia: </b></p></td>
            <td width="70%">
                <div>{{form.birthday}}</div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Miejsce urodzenia: </b></p></td>
            <td width="70%">
                <div>
                    <div {% if form.birthplace.errors %} class="hint" {% endif %}>
                        {{form.birthplace}}
                    </div>
                    {% if form.birthplace.errors %}
                        <div class="alert alert-danger">
                            {{ form.birthplace.errors }}
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>PP ID: </b></p></td>
            <td width="70%">
                <div>
                    <div {% if form.pin.errors %} class="hint" {% endif %}>
                        {{form.pin}}
                    </div>
                    {% if form.pin.errors %}
                        <div class="alert alert-danger">
                            {{ form.pin.errors }}
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Stanowisko: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.occupation}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Firma zatrudnienia: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.headquarters}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
            <td width="70%">
                {% if form.phone_number.errors %}
                    <div class="form-row">
                        <div class="input-group">
                            <div class="hint">{{ form.phone_number }}</div>
                        </div>
                        <div class="ext-input">
                            <span class="flag-icon"><img src="{% static 'img/poland-flag.png' %}" alt="Poland Flag"></span>
                                {{ form.extension }}
                        </div>
                    </div>
                    <div class="alert alert-danger">
                        {{ form.phone_number.errors }}
                    </div>
                {% else %}
                    <div class="form-row">
                        <div class="input-group">
                            {{ form.phone_number }}
                        </div>
                        <div class="ext-input">
                            <span class="flag-icon"><img src="{% static 'img/poland-flag.png' %}" alt="Poland Flag"></span>
                                {{ form.extension }}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>e-mail: </b></p></td>
            <td width="70%">
                {% if form.email.errors %}
                    <p class="hint">{{form.email}}</p>
                    <p>{{form.email.errors}}</p>
                {% else %}
                    <p>{{form.email}}</p>
                {% endif %}
            </td>
        </tr>


        <tr>
            <td width="30%"><p class="tableCredential"><b>Data przystąpienia: </b></p></td>
            <td width="70%">
                <div>
                    <p>{{form.date_of_accession}}</p>
                    {% if form.date_of_accession.errors %}
                        <div class="error">{{ form.date_of_accession.errors }}</div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Data wystąpienia: </b></p></td>
            <td width="70%">
                <p>{{form.date_of_abandonment}}</p>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Data zatrudnienia: </b></p></td>
            <td width="70%">
                <p>{{form.date_of_contract}}</p>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Rodzaj umowy: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.type_of_contract}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%"><p><b>Data rozwiązania umowy: </b></p></td>
            <td width="70%">
                <p>{{form.expiration_date_contract}}</p>
            </td>
        </tr>
        <tr>
            <td width="30%"><p class="tableCredential"><b>Grupa: </b></p></td>
            <td width="70%">
                <div class="select-wrapper">
                    {{form.group}}
                </div>
            </td>
        </tr>

        <tr>
            <td width="30%" class="tableCredential"><p><b>Zdjęcie: </b></p></td>
            <td width="70%">
                <label class="custom-file-upload-mod">
                    {{form.image|cut:'images/'}}
                </label>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
    <br />
</form>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}