{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"><b> / Baza Członków </b></a>
<a href="{% url 'TI_Management_app:member_headquarters_add' %}"><b> / Dodaj siedzibę</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodawanie siedziby</h2>
    <hr>
    <br />

    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <p><b>Siedziba:</b></p>
        {{form.headquarters}}
        <hr>
        <p>Miasto:</p>
        {{form.city}}
        <p>Ulica:</p>
        {{form.street}}
        <p>Kod pocztowy</p>
        {{form.postcode}}
        <p>Numer domu:</p>
        {{form.house_number}}
        <p>Numer mieszkania:</p>
        {{form.float_number}}
        <p>KRS:</p>
        {{form.national_court_register}}
        <p>NIP:</p>
        {{form.tax_number}}
        <p>REGON:</p>
        {{form.national_business_registry_number}}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    {% for headquarter in headquarters %}
        <div class="notepad">
            <h3>
                <a href="{% url 'TI_Management_app:member_headquarters_edit' pk=headquarter.pk %}">
                    {{headquarter}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{headquarter.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='member_headquarters_add' %}
{% endblock %}