{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:documents_database' %}"><b> / Baza dokumentów</b></a>
<a href="#"><b> / Wyszukiwarka</b></a>
{% endblock %}

{% block content %}
    {% if searched %}
        <h2 class="fadeInUp-animation">Szukasz dokumentu: <span class="search-style">{{ searched }}</span></h2>
        <hr>
        <br />
        <div class="hero-unit">
        {% for document in documents %}
            <div class="notepad">
                <h3>
                    {{ document.category }}:
                </h3>
                <hr>
                <h3>
                    <a href="{% url 'TI_Management_app:documents_database_edit' pk=document.pk %}">
                        {{document.title}}
                    </a>
                </h3>
                <p>
                    <a href="{{ document.file.url }}">
<!--                        {{document.file|cut:'documentsDatabase/'}}-->
                        {{document.file|filename}}
                    </a>
                </p>

                <p>
                    <a href="{% url 'TI_Management_app:documents_database_delete' pk=document.pk %}"
                        class="btn btn-danger btn-sm pull-right">
                        usuń
                    </a>
                </p>
                <div class="date">
                    <p>
                        Data dodania: {{ document.created_date }}
                    </p>
                    <p>
                        Dodany przez: {{document.responsible}}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="hero-unit">
            <h4>Proszę, wprowadź frazę w pole wyszukiwania</h4>
            <br />
        </div>
    {% endif %}
{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database' %}
{% endblock %}