{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:documents_database' %}"><b> / Baza dokumentów</b></a>
<a href="{% url 'TI_Management_app:documents_database_category' %}"><b> / Kategorie</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodaj kategorie do bazy dokumentów</h2>
    <hr>
    <br />
    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <p><b>Dodaj kategorie:</b></p>
        {{form.title}}
        {{form.responsible.as_hidden}}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    {% for category in categories %}
        <div class="notepad">
            <h3>
                <a href="{% url 'TI_Management_app:documents_database_category_edit' pk=category.pk %}">
                    {{category.title}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{category.created_date}}
                </p>
                <p>
                    Dodany przez: {{category.responsible}}
                </p>
            </div>
            <a href="{% url 'TI_Management_app:documents_database_category_delete' pk=category.pk %}"
                class="btn btn-danger btn-sm pull-right"
                onclick="return confirm('Czy na pewno chcesz usunąć WSZYSTKIE dokumenty powiązane z tą kategorią?')">
                usuń
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database_category' %}
{% endblock %}