{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:documents_database' %}"><b> / Baza dokumentów</b></a>
<a href="{% url 'TI_Management_app:documents_database_category_edit' pk=category.pk %}"><b> / Aktualizuj kategorię</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Aktualizuj kategorię - {{ category.title }}</h2>
    <hr>
    <br />
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <p><b>Kategoria:</b></p>
        {{form.title}}
        {{form.responsible.as_hidden}}

        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">
            Aktualizuj
        </button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    <p>
        <b>Historia:</b>
    </p>
    {% for h in category.history.all %}
        <div class="notepad">
            <table width="100%" border="0">
                <tr>
                    <td>
                        {{ h.history_id }}
                    </td>
                    <td>
                        {{ h.history_type }}
                    </td>
                    <td>
                        {{ h.history_date }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <b>Nazwa:</b> {{ h.title }}
                    <br />
                        <b>Odpowiedzialny:</b> {{ h.responsible }}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database_category' %}
{% endblock %}