{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Wyszukiwarka</a>
{% endblock %}

{% block content %}
    {% if searched %}
        <h2>Szukasz: <span class="search-style">{{ searched }}</span></h2>
        <br />
        {% for document in documents %}
            <div class="hero-unit">
                <h2>
                    {{ document.category }}:
                </h2>
                <h3>
                    <a href="{% url 'TI_Management_app:documents_database_edit' pk=document.pk %}">
                        {{document.title}}
                    </a>
                </h3>
                <p>
                    <a href="{{ document.file.url }}">
<!--                        {{document.file|cut:'documentsDatabase/'}}-->
                        {{document.file|filename}}
                    </a>
                </p>

                <p>
                    <a href="{% url 'TI_Management_app:documents_database_delete' pk=document.pk %}"
                        class="btn btn-danger btn-sm pull-right">
                        usuń
                    </a>
                </p>
                <div class="date">
                    <p>
                        Data dodania: {{ document.created_date }}
                    </p>
                    <p>
                        Dodany przez: {{document.responsible}}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>
            Please, insert the phrase into the search area.
        </h2>
    {% endif %}
{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database' %}
{% endblock %}