{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:documents_database' %}"><b> / Baza dokumentów</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Baza dokumentów</h2>
    <hr>
    <br />
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:documents_database_search' %}">
        {% csrf_token %}
        <input
            class="form-control me-2"
            style="min-width: 100%!important; min-height: 35px"
            type="search"
            placeholder="Szukaj Dokumentu"
            aria-label="Search"
            name="searched"
            autofocus="autofocus">
        <br />
        <br />
        <button class="btn btn-primary btn-large pull-right" type="submit">
            Szukaj
        </button>
        <br />
    </form>
</div>

<div class="hero-unit">
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
            <p><b>Dokument:</b></p>
        <div class="select-wrapper">
            {{form.category}}
        </div>
        {{form.title}}
        {{form.responsible.as_hidden}}
        <label class="custom-file-upload">
            Wybierz dokument
            {{form.file}}
        </label>
        <br />
        <br />

        <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
        <br />
    </form>
</div>


{% for document in documents %}
<div class="hero-unit">
    {% if document.file %}
    <h3>
        {{ document.category }}:
    </h3>
    <hr>
    <div class="notepad">
        <h3>
            <a href="{% url 'TI_Management_app:documents_database_edit' pk=document.pk %}">
                {{document.title}}
            </a>
        </h3>
        <p>
            <a href="{{ document.file.url }}">
<!--                    {{document.file|cut:'documentsDatabase/'}}-->
                {{ document.file|filename }}
            </a>
        </p>
        <div class="date">
            <p>
                Data dodania: {{document.created_date}}
            </p>
            <p>
                Dodany przez: {{document.responsible}}
            </p>
        </div>
        <a href="{% url 'TI_Management_app:documents_database_delete' pk=document.pk %}"
           class="btn btn-danger btn-sm pull-right">
            usuń
        </a>
        <br />
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database' %}
{% endblock %}