{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"> / Finanse</a>
<a href="{% url 'TI_Management_app:finance_detail' year=year month=month %}"> / Finanse {{ year }} {{ month }}</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2>{{ year }} / {{ month_name }} - Przegląd dokumentów finansowych</h2>
    <br />
    <div class="notepad">
        <h2>{{ month_name }} - {{ year }}</h2>
        <hr>
    {% if year %}
        <h3>Dokumenty księgowe:</h3>
        <ul>
            {% for finance in finances %}
                {% if finance %}
                    <li>{{ finance.payment_date|date:"j E Y" }}: {{ finance.title }} | {{ finance.figure }} zł</li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3>Zapomogi:</h3>
        <ul>
            {% for relief in reliefs %}
                {% if relief %}
                    <li>{{ relief.date_of_payment_confirmation|date:"j E Y" }}: {{ relief.relief.title }} | {{ relief.relief.figure|floatformat:"2" }} zł</li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3>Stypendia:</h3>
        <ul>
            {% for scholarship in scholarships %}
                {% if scholarship %}
                    <li>{{ scholarship.confirmation_date|date:"j E Y" }}: {{ scholarship.title }} | {{ scholarship.scholarship_rate|floatformat:"2" }} zł</li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <p><b>Wydatki dokumenty księgowe:</b> {{ total_figure|floatformat:"2" }} zł</p>
        <p><b>Wydatki stypendia:</b> {{ total_scholarships|floatformat:"2" }} zł</p>
        <p><b>Wydatki zapomogi:</b> {{ total_reliefs|floatformat:"2" }} zł</p>

        <hr>
        <h3>Dokumenty sprawozdawcze:</h3>
        <ul>
            {% for bank_statement in bank_statements %}
                {% if bank_statement %}
                    <li>
                        <a href="{{ bank_statement.file_bank_statement.url }}">{{bank_statement.title_bank_statement}}</a>
                        <ul>
                            <li>Ilość pozycji: {{bank_statement.quantity_bank_statement}} </li>
                            <li>Saldo początkowe: {{bank_statement.starting_balance}} zł</li>
                            <li>Saldo końcowe: {{bank_statement.final_balance}} zł</li>
                            <li>Wpływy: {{bank_statement.income_bank_statement}} zł</li>
                        </ul>
<!--                        Wydatki: {{bank_statement.}}-->

                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <p><b>Wydatki ogółem:</b> {{ total_expenses|floatformat:"2" }} zł</p>
        <p><b>Wpływy ogółem:</b> {{ total_income|floatformat:"2" }} zł</p>

    {% endif %}
    </div>
    <br />

    <div class="notepadChart">
        <canvas id="myChart" width="500" height="500"></canvas>
    </div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie', // or 'bar', 'pie', etc.
        data: {
            labels: ["Wydatki dokumenty księgowe {{total_figure|to_int}} zł", "Wydatki stypendia {{total_scholarships|to_int}} zł", "Wydatki zapomogi {{total_reliefs}} zł", "Wpływy ogółem {{total_income}} zł"],
            datasets: [{
                label: 'suma w zł',
                data: [{{total_figure|to_int}}, {{total_scholarships|to_int}}, {{total_reliefs|to_int}}, {{total_income|to_int}}],
                backgroundColor: [
                    'rgba(0, 0, 255, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(106, 90, 205, 0.2)',
                    'rgba(40, 176, 50, 0.2)'
                ],
                borderColor: [
                    'rgba(0, 0, 255, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(106, 90, 205, 1)',
                    'rgba(40, 176, 50, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
    <br />

    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}

        <p><b>Dodaj dokument sprawozdawczy:</b></p>
        <input
            class="form-control me-2"
            style="min-width: 50%!important; min-height: 15px"
            type="text"
            value=""
            placeholder="Tytuł - {{ year }} - {{ month }}"
            aria-label="Tytuł"
            name="title_bank_statement"
            required />
        <br />
        <label class="custom-file-upload">
            {{form.file_bank_statement}}
        </label>
        <br />

        <p><b>Ilość pozycji:</b></p>
        <input
            class="form-control me-2"
            style="max-width: 25%!important; min-height: 15px"
            type="number"
            min="0"
            step="1"
            placeholder="Ilość pozycji"
            aria-label="Ilość pozycji"
            name="quantity_bank_statement"
            required />
        <br />

        <p><b>Saldo początkowe:</b></p>
        <input
            class="form-control me-2"
            style="max-width: 25%!important; min-height: 15px"
            type="number"
            min="0.00"
            step="0.01"
            placeholder="Saldo początkowe"
            aria-label="Saldo początkowe"
            name="starting_balance"
            required /> zł
        <br />

        <p><b>Saldo końcowe:</b></p>
        <input
            class="form-control me-2"
            style="max-width: 25%!important; min-height: 15px"
            type="number"
            min="0.00"
            step="0.01"
            placeholder="Saldo końcowe"
            aria-label="Saldo końcowe"
            name="final_balance"
            required /> zł
        <br />

        <p><b>Wpływy:</b></p>
        <input
            class="form-control me-2"
            style="max-width: 25%!important; min-height: 15px"
            value="0.00"
            type="number"
            min="0.00"
            step="0.01"
            placeholder="Wpływy"
            aria-label="Wpływy"
            name="income_bank_statement"
            required /> zł
        <br />

        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>

</div>
{% endblock %}


{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='finance_list' %}
{% endblock %}