{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:finance_file_add' %}"><b> / Dodawanie dokumentu księgowego</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodawanie dokumentu księgowego</h2>
    <hr>
    <br />
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form_kind_of_document.errors %}
            <div class="alert alert-danger">
                {{form_kind_of_document.errors}}
            </div>
        {% endif %}
        {% if form_file_finance.errors %}
            <div class="alert alert-danger">
                {{form_file_finance.errors}}
            </div>
        {% endif %}
        {% if form_kind_of_expense.errors %}
            <div class="alert alert-danger">
                {{form_kind_of_expense.errors}}
            </div>
        {% endif %}

        <p><b>Rodzaj dokumentu:</b></p>
            {{ form_kind_of_document.title_doc }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="min-width: 50%!important; min-height: 15px"-->
<!--                type="text"-->
<!--                list="kind_of_finance_document"-->
<!--                placeholder="Rodaj dokumentu"-->
<!--                aria-label="Rodzaj dokumentu"-->
<!--                name="title_doc"-->
<!--                required />-->
        <datalist id="kind_of_finance_document">
            {% for document_kind in kind_of_finance_document %}
                <option value="{{ document_kind.title_doc }}"></option>
            {% endfor %}
        </datalist>
        <br />
        <br />
<!--        <hr>-->
        <p><b>Dodaj dokument:</b></p>
            <label class="file">
                {{form_file_finance.file}}
            </label>
<!--        <br />-->
<!--        <hr>-->
        <br />
        <br />
        <p><b>Kwota:</b></p>
            {{ form_file_finance.figure }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="max-width: 25%!important; min-height: 15px"-->
<!--                type="number"-->
<!--                placeholder="0.00"-->
<!--                aria-label="Kwota"-->
<!--                name="figure"-->
<!--                min="0"-->
<!--                step="0.01"-->
<!--                required /> zł-->
        <br />
        <br />
<!--        <hr>-->
        <p><b>Pozycji na wyciągu:</b></p>
            {{ form_file_finance.quantity }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="max-width: 25%!important; min-height: 15px"-->
<!--                type="number"-->
<!--                placeholder="1"-->
<!--                value="1"-->
<!--                aria-label="Pozycji na wyciągu"-->
<!--                name="quantity"-->
<!--                min="1"-->
<!--                step="1"-->
<!--                required />-->
        <br />
        <br />
<!--        <hr>-->
        <p><b>Data:</b></p>
            {{ form_file_finance.payment_date }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="max-width: 50%!important; min-height: 15px"-->
<!--                type="date"-->
<!--                name="payment_date"-->
<!--                required />-->
        <br />
        <br />
<!--        <hr>-->
        <p><b>Dokument bez uchwały:</b></p>
            {{ form_file_finance.resolution_requirement }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="min-width: 1%!important; min-height: 15px"-->
<!--                type="checkbox"-->
<!--                aria-label="Dokument bez uchwały"-->
<!--                name="resolution_requirement"-->
<!--                id="documentRequirement" />-->
        <br />
        <br />
<!--        <hr>-->
        <p><b>Przypnij uchwałę:</b></p>

        <select name="resolution" id="resolution" style="width: 90%; height: 40px; overflow-y: visible;">
            <optgroup label="Kategoria uchwały">
                <option value="none">Brak</option>
            {% for doc in doc_database %}
                <option value="{{ doc.id }}">{{ doc.title }}</option>
            {% endfor %}
            </optgroup>
        </select>
<!--        {{ form_file_finance.resolution }}-->
<!--        <br />-->
<!--        <hr>-->
        <br />
        <br />
        <p><b>Nazwa wydatku:</b></p>
            {{ form_kind_of_expense.title_expense }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="min-width: 50%!important; min-height: 15px"-->
<!--                type="text"-->
<!--                list="expense_database"-->
<!--                placeholder="Nazwa wydatku"-->
<!--                aria-label="Nazwa wydatku"-->
<!--                name="title_expense"-->
<!--                required />-->
        <datalist id="expense_database">
        {% for expense in expense_names %}
            <option value="{{ expense }}"></option>
        {% endfor %}
        </datalist>
<!--        <br />-->
<!--        <hr>-->
        <br />
        <br />
        <p><b>Pomoc psychologa?</b></p>
            {{ form_file_finance.psychologist }}
<!--        <input-->
<!--                class="form-control me-2"-->
<!--                style="min-width: 1%!important; min-height: 15px"-->
<!--                type="checkbox"-->
<!--                aria-label="Pomoc psychologa"-->
<!--                name="psychologist"-->
<!--                id="PsychologistHelp" />-->
        <br />
        <br />
        <div id="memberDiv" style="display: none;">
            <br />
            {{ form_file_finance.member_nr }}
<!--            <input-->
<!--                class="form-control me-2"-->
<!--                style="min-width: 50%!important; min-height: 15px"-->
<!--                type="text"-->
<!--                list="members"-->
<!--                placeholder="Nr Członka"-->
<!--                aria-label="Nr Członka"-->
<!--                name="member_nr" />-->
            <datalist id="members">
                {% for member in members %}
                <option value="{{ member.member_nr }}"></option>
                {% endfor %}
            </datalist>
            <div id="memberDetails" style="display: none;"></div>
            <div id="error" style="color: red; display: none;"></div>
        </div>
<!--        <hr>-->
        <br />
        <br />
        <p><b>Opis:</b></p>
            {{ form_file_finance.media }}
            {{ form_file_finance.description }}
<!--        <textarea-->
<!--                class="form-control"-->
<!--                name="description"-->
<!--                rows="4"-->
<!--                cols="50" >-->

<!--        </textarea>-->
        <br />
<!--        <hr>-->


        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>
</div>
<script>
    const baseUrl = '{% url "TI_Management_app:get_member_details" "dummy_member_nr" %}'.replace('dummy_member_nr/', '');

    document.getElementById('documentRequirement').addEventListener('change', function() {
        var resolutionSelect = document.getElementById('resolution');
        resolutionSelect.disabled = this.checked;
    });
    document.getElementById('resolution').addEventListener('change', function() {
        var documentRequirement = document.getElementById('documentRequirement');
        documentRequirement.disabled = this.value !== 'none';
    });
    document.getElementById('PsychologistHelp').addEventListener('change', function() {
        var memberDiv = document.getElementById('memberDiv');
        if (this.checked) {
            memberDiv.style.display = 'block';
        } else {
            memberDiv.style.display = 'none';
        }
    });

    document.querySelector('input[name="member_nr"]').addEventListener('change', function() {
        var memberNr = this.value;
        console.log('Member number changed: ', memberNr);
        if (memberNr !== 'none') {
            fetchMemberDetails(memberNr);
        } else {
            document.getElementById('memberDetails').style.display = 'none';
            document.getElementById('error').style.display = 'none';
        }
    });

    function fetchMemberDetails(memberNr) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/TI_Management_app/finance/get-member-details/${memberNr}/`, true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const memberDetails = JSON.parse(xhr.responseText);
                console.log('Received member details: ', memberDetails);
                displayMemberDetails(memberDetails);
            } else if (xhr.status === 400) {
                console.error('Invalid request: ', xhr.status, xhr.statusText);
                displayError('Invalid request.');
            } else {
                console.error('Error fetching member details: ', xhr.status, xhr.statusText);
                displayError('Error fetching member details.');
            }
        }
    };
    xhr.send();
    }

<!--    function fetchMemberDetails(memberNr) {-->
<!--        console.log('Fetching member details for: ', memberNr);-->
<!--        var xhr = new XMLHttpRequest();-->
<!--        xhr.open('GET', baseUrl + memberNr + '/', true);-->
<!--        xhr.setRequestHeader('Content-Type', 'application/json');-->
<!--        xhr.onreadystatechange = function () {-->
<!--            if (xhr.readyState === 4) {-->
<!--                if (xhr.status === 200) {-->
<!--                    console.log('Received member details: ', xhr.responseText);-->
<!--                    var memberDetails = JSON.parse(xhr.responseText);-->
<!--                    displayMemberDetails(memberDetails);-->
<!--                    document.getElementById('error').style.display = 'none';-->
<!--                } else if (xhr.status === 404) {-->
<!--                    console.error('Error fetching member details: ', xhr.status, xhr.statusText);-->
<!--                    document.getElementById('memberDetails').style.display = 'none';-->
<!--                    displayError('Taki Członek nie istnieje');-->
<!--                } else {-->
<!--                    console.error('Error fetching member details: ', xhr.status, xhr.statusText);-->
<!--                    document.getElementById('memberDetails').style.display = 'none';-->
<!--                    displayError('Taki Członek nie istnieje lub jest dezaktywowany');-->
<!--                }-->
<!--            }-->
<!--        };-->
<!--        xhr.send();-->
<!--    }-->

    function displayMemberDetails(details) {
        var memberDetailsDiv = document.getElementById('memberDetails');
        memberDetailsDiv.style.display = 'block';
        memberDetailsDiv.innerHTML = `
            <p><b>Imię:</b> ${details.first_name}</p>
<!--                <p><b>Nazwisko:</b> ${details.last_name}</p>-->
<!--                <p><b>Email:</b> ${details.email}</p>-->
            <!-- Add more details as needed -->
        `;
        console.log('Displaying member details: ', details);
    }

    function displayError(errorMessage) {
        var errorDiv = document.getElementById('error');
        errorDiv.style.display = 'block';
        errorDiv.innerText = errorMessage;
        console.log('Displaying error: ', errorMessage);
    }
</script>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='finance_file_add' %}
{% endblock %}