{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"> / Finanse</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h2>Przegląd dokumentów finansowych</h2>
  {% if years %}
  {% for year, entries, finance_figure, scholarship_figure, relief_figure, total_expense, total_income in years.object_list %}
  <div class="notepad">

<!--    <nav class="menu menu-1">-->
<!--  <ul>-->
<!--    <li><a href="#">Home</a></li>-->
<!--    <li><a href="#">About</a></li>-->
<!--    <li><a href="#">Blog</a></li>-->
<!--    <li><a href="#">contact</a></li>-->
<!--  </ul>-->
<!--</nav>-->

      <h2>{{ year }}</h2>
      <nav class="menu menu-1">
          <ul>
      {% get_months_until_now year as months %}

      {% for month_name, numeric_month in months %}
              <li>

        <a href="{% url 'TI_Management_app:finance_detail' year=year month=numeric_month %}">
            {{ month_name }}
            {% if year|record_exist:numeric_month %}
            {% else %}
                <span style="color: red"><b>!</b></span>
            {% endif %}
        </a></li>

      {% endfor %}
              </ul>
      </nav>
    <hr>
    <p><b>Dokumenty sprawozdawcze:</b></p>
    {% for bank_statement in bank_statements %}
      {% if bank_statement.file_bank_statement %}
        {% if year == bank_statement.year_bank_statement %}

          <ul>
            <li><img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20"><a href="{{ bank_statement.file_bank_statement.url }}" target="_blank">{{ bank_statement.title_bank_statement }}</a></li>
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
    <br />
    <p><b>Wydatki:</b></p>
      <ul>
        {% for entry in entries %}
          <li>{{ entry.payment_date|date:"j E Y" }} {{ entry.date_of_payment_confirmation|date:"j E Y" }} {{ entry.confirmation_date|date:"j E Y" }} : {{ entry.relief.title }} {{ entry.title }} | {{ entry.figure }} {{ entry.relief.figure|floatformat:"2" }} {{ entry.scholarship_rate|floatformat:"2" }} zł</li>
        {% endfor %}
      </ul>
    <br />
    <hr>
      <p><b>Wydatki dokumenty księgowe:</b> {{ finance_figure }} zł</p>
      <p><b>Wydatki stypendia:</b> {{ scholarship_figure|floatformat:"2" }} zł</p>
      <p><b>Wydatki zapomogi:</b> {{ relief_figure|floatformat:"2" }} zł</p>
    <br />
    <hr>
    <p><b>Wpływy ogółem:</b> {{ total_income|floatformat:"2" }} zł</p>
    <p><b>Wydatki ogółem:</b> {{ total_expense|floatformat:"2" }} zł</p>

  </div>

  <div class="notepadChart">
    <canvas id="myChart" width="500" height="500"></canvas>
  </div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie', // or 'bar', 'pie', etc.
        data: {
            labels: ["Wydatki ogółem {{total_expense|to_int}} zł", "Wpływy ogółem {{total_income|to_int}} zł"],
            datasets: [{
                label: 'suma w zł',
                data: [{{total_expense|to_int}}, {{total_income|to_int}}],
                backgroundColor: [
                    'rgba(245, 7, 7, 0.2)',
                    'rgba(40, 176, 50, 0.2)'
                ],
                borderColor: [
                    'rgba(245, 7, 7, 1)',
                    'rgba(40, 176, 50, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
  {% endfor %}

  <div class="pagination">
      <span class="step-links">
        {% if years.has_previous %}
          <a href="?page={{ years.previous_page_number }}">Następny rok</a>
        {% endif %}

        <span class="current">
            {{ years.number }} / {{ years.paginator.num_pages }}
        </span>

        {% if years.has_next %}
          <a href="?page={{ years.next_page_number }}">poprzedni rok</a>
        {% endif %}
      </span>
  </div>
  {% else %}
    <p>Nie ma jeszcze danych</p>
  {% endif %}
</div>
{% endblock %}


{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='finance_list' %}
{% endblock %}