{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"> / Rejestrowanie zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_two' pk=member.pk %}"> / Krok 1/4</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <div class="notepad">
        <h4>Krok 1/4 - Adres:</h4>
        <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}
        <table width="100%">
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Ulica"
                            aria-label="Ulica"
                            name="street"
                            required
                            autofocus>
                </td>
            </tr>
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Miasto"
                            aria-label="Miasto"
                            name="city"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Kod pocztowy"
                            aria-label="Kod pocztowy"
                            name="postcode"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Numer domu"
                            aria-label="Numer domu"
                            name="house_number"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Numer mieszkania"
                            aria-label="Numer mieszkania"
                            name="float_number"
                            required>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary btn-large pull-right">
            2/4 Dalej
        </button>
        <br />
        </form>
    </div>
    <div class="notepad">
        <img src="{{ member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 250px'>

        <table>
          <tr>
            <td><p class="tableCredential"><b>Uczestnik:</b></p></td>
            <td><p>{{member.forename}} {{member.surname}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Funkcja:</b></p></td>
            <td><p>{{member.role}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Zawód:</b></p></td>
            <td><p>{{member.occupation}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer uczestnika:</b></p></td>
            <td><p>{{member.member_nr}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Płeć: </b></p></td>
            <td>
              {% if member.sex == 'male' %}<p>M</p>
              {% elif member.sex == 'female' %}<p>K</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data urodzenia: </b></p></td>
            <td><p>{{member.birthday}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Miejsce urodzenia: </b></p></td>
            <td><p>{{member.birthplace}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>PIN: </b></p></td>
            <td><p>{{member.pin}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
            <td><p>{{member.phone_number}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>E-mail: </b></p></td>
            <td><p>{{member.email}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data przystąpienia: </b></p></td>
            <td><p>{{member.date_of_accession}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data wystąpienia: </b></p></td>
            <td><p>{{member.date_of_abandonment}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Rodzaj umowy: </b></p></td>
            <td>
              {% if member.type_of_contract == 'indefinite_period_of_time' %}<p>Na czas nieokreślony</p>
              {% elif member.type_of_contract == 'limited_duration' %}<p>Na czas określony</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data zatrudnienia: </b></p></td>
            <td><p>{{member.date_of_contract}}</p></td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data rozwiązania umowy: </b></p></td>
            <td><p>{{member.expiration_date_contract}}</p></td>
          </tr>
        </table>
    </div>
</div>


{{ member }}

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}