{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"><b> / Zapomogi</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"><b> / Rejestrowanie zapomogi</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_two' pk=one_registered_relife.member.pk %}"><b> / Krok [1/4]</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_three' pk=one_registered_relife.member.pk %}"><b> / Krok [2/4]</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_four' pk=one_registered_relife.pk %}"><b> / Krok [3/4]</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_five' pk=one_registered_relife.pk %}"><b> / Krok [4/4]</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Krok 4 / 4</h2>
    <hr>
    <br />
    <div class="notepad">
        <h4>Krok 4/4 - Podpis Wnioskującego:</h4>
        {% if one_registered_relife.signature_image %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>{{form.errors}}</p>
                </div>
            {% endif %}
            <h5>Podpis:</h5>
            <img src="{{ one_registered_relife.signature_image.url }}" alt="Signature" style="border: 1px solid #000; width: 300px; display: block; margin-top: 10px;">

            <form method="post" action="{% url 'TI_Management_app:register_relief_step_five_remove_signature' pk=one_registered_relife.pk %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć ten podpis?')">Usuń Podpis</button>
            </form>
            <form method="post" class="post-form">
                {% csrf_token %}

                <br />
                <br />
                {{form.card}}
                <br />
                <br />
                <button type="submit" class="btn btn-primary btn-large pull-right">
                    Zapisz
                </button>
                <br />
            </form>
        {% else %}
            <p><em>Podpis nie został jeszcze dodany.</em></p>
            <p>
                <a href="{% url 'TI_Management_app:register_relief_step_five_signature' pk=one_registered_relife.pk %}"
                    onclick="openSignatureWindow(event)"
                    class="btn btn-primary btn-sm pull-left">
                    Okno podpisu
                </a>
            </p>
            <br/>
            <script>
                function openSignatureWindow(event) {
                    event.preventDefault(); // Prevent the default anchor click behavior
                    const url = event.currentTarget.href;
                    window.open(url, 'SignatureWindow', 'width=600,height=600,resizable=yes,scrollbars=yes');
                }
            </script>
        {% endif %}

    </div>

    <div class="notepad">
<!--        <img src="{{ one_registered_relife.member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 150px'>-->
        <a href="{% url 'TI_Management_app:member_detail' pk=one_registered_relife.member.pk %}">
            <img src="{% thumbnail one_registered_relife.member.image 150x0  quality=100 %}" style='display: block; float: right; margin-left: auto;'>
        </a>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.member.member_nr}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię i nazwisko:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        <a href="{% url 'TI_Management_app:member_detail' pk=one_registered_relife.member.pk %}">
                            {{one_registered_relife.member.forename}} {{one_registered_relife.member.surname}}
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Adres:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        ul. {{one_registered_relife.member.street}}
                        {{one_registered_relife.member.house_number}}
                        {% if not one_registered_relife.member.float_number|default_if_none:"--" %}
                            m. {{one_registered_relife.member.float_number}}
                        {% endif %}
                        {{one_registered_relife.member.postcode}}
                        {{one_registered_relife.member.city}}

                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wypełnienia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.date_of_completing_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wpłynięcia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.date_of_receipt_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data zdarzenia, którego dotyczy wniosek:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.date_of_accident}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Rodzaj zapomogi:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.relief.title}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.associate_forename}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nazwisko osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.associate_surname}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Uzasadnienie:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.reason|safe}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Relacja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.relation}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Kwota:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.relief.figure}} zł
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr konta:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.account_number}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Karencja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.relief.grace}} miesiąc/e

                        <span style="color: green"><b>&#9745;</b></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Dokumenty:
                        </b>
                    </p>
                </td>
                <td>
<!--                    {% for file in one_registered_relife.registerReliefFileRegisterRelief.all  %}-->
<!--                        {{file.title}}-->
<!--                    {% endfor %}-->
                    {% for file in one_registered_relife.registerReliefFileRegisterRelief.all  %}
                        <a href="{{ file.file.url }}">
                            {{file.title}}
                        </a><br/>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}