{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"> / Rejestrowanie zapomogi</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:register_relief_step_one_search' %}">
        {% csrf_token %}
        <input class="form-control me-2"
               style="min-width: 100%!important; min-height: 35px"
               type="search"
               placeholder="Dodaj Uczestnika"
               aria-label="Search" name="searched">
        <button class="btn btn-primary btn-large pull-right"
                type="submit">
            Szukaj
        </button>
    </form>
</div>
<div class="hero-unit">
    <H4>Niedokończone procesy wprowadzania wniosków:</H4>
    {% for relife_process in relief_process_ongoing %}
        <div class="notepad">
            {% if relife_process.registerReliefFileRegisterRelief.all %}
                <h3>
                    <a href="{% url 'TI_Management_app:register_relief_step_five' pk=relife_process.id %}">
                        {{relife_process}} - {{relife_process.member.forename}} {{relife_process.member.forename}} {{relife_process.member.member_nr}}
                    </a>
                </h3>

                <p>Brak Podpisu</p>
            {% else %}
                <h3>
                    <a href="{% url 'TI_Management_app:register_relief_step_four' pk=relife_process.id %}">
                        {{relife_process}} - {{relife_process.member.forename}} {{relife_process.member.forename}} {{relife_process.member.member_nr}}
                    </a>
                </h3>
                <p>Bark dokumentów</p>
            {% endif %}
            <div class="date">

                <p>
                    Data dodania: {{relife_process.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}