{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"> / Rejestrowanie zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_two' pk=member.pk %}"> / Krok [1/4]</a>
<a href="{% url 'TI_Management_app:register_relief_step_three' pk=member.pk %}"> / Krok [2/4]</a>
{% endblock %}

{% block content %}

<script>
        $(document).ready(function () {
            $('#relief_select').change(function () {
                var relief_id = $(this).val();
                $.ajax({
                    url: "{% url 'TI_Management_app:get_relief_details' %}",
                    data: {'relief_id': relief_id},
                    dataType: 'json',
                    success: function (data) {
                        $('#author_name').text(data.author_name);
                        $('#author_email').text(data.author_email);
                        $('#figure').text(data.figure);
                        $('#grace').text(data.grace);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
</script>



<div class="hero-unit">
    <div class="notepad">
        <h4>Krok 2/4 - Adres:</h4>
        <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}

        <table width="100%">
            <tr>
                <td>
                    <p>
                        Data wypełnienia wniosku:
                    </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="date"
                            name="date_of_completing_the_application"
                            required
                            autofocus>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Data wpłyniecia wniosku:
                    </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="date"
                            name="date_of_receipt_the_application"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Data zdarzenia, którego dotyczy wniosek:
                    </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="date"
                            name="date_of_accident"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Imię osoby powiązanej z wnioskiem:
                    </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Imię"
                            aria-label="Imię osoby powiązanej z wnioskiem"
                            name="associate_forename"
                            required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Nazwisko osoby powiązanej z wnioskiem:
                    </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="text"
                            placeholder="Nazwisko"
                            aria-label="Nazwisko osoby powiązanej z wnioskiem"
                            name="associate_surname"
                            required>
                </td>
            </tr>
        </table>
        <p>
            Zapomoga:
        </p>
        <select id="relief_select" class="form-select" name="relief">
            <option value="">Wybierz zapomogę</option>

                {% for relief in all_relief %}
                    <option value="{{ relief.id }}">{{ relief.title }}</option>
                {% endfor %}

        </select>
        <div>
            <p>Kwota: <span id="figure"></span> zł</p>
            <p>Karencja: <span id="grace"></span> miesiąc/e</p>
        </div>
        <p>
            Relacja:
        </p>
        <select class="form-select" name="relation">
            <option value="">Wybierz relacje</option>
                {% for relation in all_relation %}
                    <option value="{{ relation.id }}">{{ relation.title }}</option>
                {% endfor %}
        </select>
        <div>
             <p>
                 Nr Konta:
             </p>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; min-height: 15px"
                            type="number"
                            placeholder="Nr konta"
                            aria-label="Nr konta"
                            name="account_number"
                            required>
        </div>

        <button type="submit" class="btn btn-primary btn-large pull-right">
            3/4 Dalej
        </button>
        <br />
        </form>
    </div>
    <div class="notepad">
        <img src="{{ member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 150px'>

        <table>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{member.member_nr}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię i nazwisko:
                        </b>
                    </p>
                </td>
                <td>
                    <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                        {{member.forename}} {{member.surname}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Adres:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        ul. {{member.street}}
                        {{member.house_number}}
                        {% if not member.float_number|default_if_none:"--" %}
                            m. {{member.float_number}}
                        {% endif %}
                        {{member.postcode}}
                        {{member.city}}
                    </p>
                </td>
            </tr>

        </table>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}