{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"><b> / Zapomogi</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"><b> / Rejestrowanie zapomogi</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_two' pk=member.pk %}"><b> / Krok [1/4]</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Krok 1 / 4</h2>
    <hr>
    <br />
    <div class="notepad">
        <h4>Krok 1/4 - Adres:</h4>
        <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}

        <table width="100%">
            <tr>
                <td>
                    {{ form.city }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 50%!important; min-height: 15px"-->
<!--                            type="text"-->
<!--                            placeholder="Miasto"-->
<!--                            {% if member.city is not None %}-->
<!--                                value="{{ member.city }}"-->
<!--                            {% endif %}-->
<!--                            aria-label="Miasto"-->
<!--                            name="city"-->
<!--                            required>-->
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.street }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 50%!important; min-height: 15px"-->
<!--                            type="text"-->
<!--                            placeholder="Ulica"-->
<!--                            {% if member.street is not None %}-->
<!--                                value="{{ member.street }}"-->
<!--                            {% endif %}-->
<!--                            aria-label="Ulica"-->
<!--                            name="street"-->
<!--                            required-->
<!--                            autofocus>-->
                </td>
            </tr>
            <tr>
                <td>
                    {{form.postcode}}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 50%!important; min-height: 15px"-->
<!--                            type="text"-->
<!--                            placeholder="Kod pocztowy"-->
<!--                            {% if member.postcode is not None %}-->
<!--                                value="{{ member.postcode }}"-->
<!--                            {% endif %}-->
<!--                            aria-label="Kod pocztowy"-->
<!--                            name="postcode"-->
<!--                            required>-->
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.house_number }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 50%!important; min-height: 15px"-->
<!--                            type="text"-->
<!--                            placeholder="Numer domu"-->
<!--                            {% if member.house_number is not None %}-->
<!--                                value="{{ member.house_number }}"-->
<!--                            {% endif %}-->
<!--                            aria-label="Numer domu"-->
<!--                            name="house_number"-->
<!--                            required>-->
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.float_number }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 50%!important; min-height: 15px"-->
<!--                            type="text"-->
<!--                            placeholder="Numer mieszkania"-->
<!--                            {% if member.float_number is not None %}-->
<!--                                value="{{ member.float_number }}"-->
<!--                            {% endif %}-->
<!--                            aria-label="Numer mieszkania"-->
<!--                            name="float_number"-->
<!--                            >-->
                </td>
            </tr>
        </table>
            <br />
            <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">
            2/4 Dalej
        </button>
        <br />
        </form>
    </div>
    <div class="notepad">
<!--        <img src="{{ member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 150px'>-->
        <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
            <img src="{% thumbnail member.image 150x0  quality=100 %}" style='display: block; float: right; margin-left: auto;'>
        </a>
        <table>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika Wnioskującego:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{member.member_nr}}
                    </p>
                </td>
          </tr>
          <tr>
              <td>
                  <p class="tableCredential">
                      <b>
                          Imię i nazwisko Wnioskującego:
                      </b>
                  </p>
              </td>
                <td>
                    <p class="tableCredential">
                        <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                            {{member.forename}} {{member.surname}}
                        </a>
                    </p>
                </td>
          </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}