{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"><b> / Zapomogi</b></a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"><b> / Rejestrowanie zapomogi</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Rejestrowanie zapomogi</h2>
    <hr>
    <br />
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:register_relief_step_one_search' %}">
        {% csrf_token %}
        <input
                class="form-control me-2"
                style="min-width: 100%!important; min-height: 35px"
                type="search"
                placeholder="Dodaj Uczestnika"
                aria-label="Search"
                name="searched"
                autofocus="autofocus">
        <br />
        <br />
        <button class="btn btn-primary btn-large pull-right"
                type="submit">
            Szukaj
        </button>
        <br />
    </form>
</div>
<div class="hero-unit">
    <H4>Niedokończone procesy wprowadzania wniosków:</H4>
    {% for relife_process in relief_process_ongoing %}
        <div class="notepad">
            {% if relife_process.registerReliefFileRegisterRelief.all %}
                <h3>
                    <a href="{% url 'TI_Management_app:register_relief_step_five' pk=relife_process.id %}">
                        {{relife_process}} - {{relife_process.member.forename}} {{relife_process.member.forename}} {{relife_process.member.member_nr}}
                    </a>
                </h3>

                <p>Brak Podpisu</p>
                <a href="{% url 'TI_Management_app:register_relief_step_one_remove' pk=relife_process.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć ten podpis?')">
                    Usuń
                </a>
            {% else %}
                <h3>
                    <a href="{% url 'TI_Management_app:register_relief_step_four' pk=relife_process.id %}">
                        {{relife_process}} - {{relife_process.member.forename}} {{relife_process.member.forename}} {{relife_process.member.member_nr}}
                    </a>
                </h3>
                <p>Bark dokumentów</p>
                <a href="{% url 'TI_Management_app:register_relief_step_one_remove' pk=relife_process.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć ten podpis?')">
                    Usuń
                </a>
            {% endif %}
            <div class="date">

                <p>
                    Data dodania: {{relife_process.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}