{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_one' %}"> / Rejestrowanie zapomogi</a>
<a href="{% url 'TI_Management_app:register_relief_step_two' pk=validation_register_relief.pk %}"> / Weryfikacja</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <div class="notepad">
        <h4>Weryfikacja przebiegła pomyślnie:</h4>
        <H1><span style="color:green">&#10003;</span></H1>

    </div>

    <div class="notepad">
        <img src="{{ validation_register_relief.member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 150px'>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.member.member_nr}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię i nazwisko:
                        </b>
                    </p>
                </td>
                <td>
                    <a href="{% url 'TI_Management_app:member_detail' pk=validation_register_relief.member.pk %}">
                        {{validation_register_relief.member.forename}} {{validation_register_relief.member.surname}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Adres:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        ul. {{validation_register_relief.member.street}}
                        {{validation_register_relief.member.house_number}}
                        {% if validation_register_relief.member.float_number is not None%}
                            m. {{validation_register_relief.member.float_number}}
                        {% endif %}
                        {{validation_register_relief.member.postcode}}
                        {{validation_register_relief.member.city}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wypełnienia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.date_of_completing_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wpłynięcia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.date_of_receipt_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data zdarzenia, którego dotyczy wniosek:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.date_of_accident}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Rodzaj zapomogi:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.relief.title}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.associate_forename}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nazwisko osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.associate_surname}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Relacja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.relation}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Kwota:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.relief.figure}} zł
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr konta:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.account_number}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Karencja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{validation_register_relief.relief.grace}} miesiąc/e
                    </p>
                    <p>
                        <span style="color: green"><b>&#9745;</b></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Dokumenty:
                        </b>
                    </p>
                </td>
                <td>
<!--                    {% for file in validation_register_relief.registerReliefFileRegisterRelief.all  %}-->
<!--                        {{file.title}}-->
<!--                    {% endfor %}-->
                    {% for file in validation_register_relief.registerReliefFileRegisterRelief.all  %}
                        <a href="{{ file.file.url }}">
                            {{file.title}}
                        </a><br/>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <div class="date">
            <p>
                Data wprowadzenia: {{validation_register_relief.created_date}}
                przez: {{validation_register_relief.author}}
                {{validation_register_relief.author.first_name}}
                {{validation_register_relief.author.last_name}}
            </p>
        </div>
        <br />
    </div>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='register_relief_step_one' %}
{% endblock %}