{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_to_be_signed.pk %}"> / Podpisywanie zapomogi</a>
<a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_to_be_signed.pk %}"> / {{ relief_to_be_signed.relief.title }}</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <div class="notepad">
        <div class="no-print">
            <img
                src="{{ relief_to_be_signed.member.image.url }}"
                alt="image"
                style='display: block; float: right; margin-left: auto; width: 150px;'>
            <button class="btn btn-info btn-sm pull-left" onclick="window.print()">
                Drukuj
            </button>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.member.member_nr}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię i nazwisko:
                        </b>
                    </p>
                </td>
                <td>
                    <div>
                        <div style="float:left">
                            <p>
                                {{relief_to_be_signed.member.forename}} {{relief_to_be_signed.member.surname}} &nbsp;
                            </p>
                        </div>
                        <div style="float:left">
                            <div class="no-print">
                                <a href="{% url 'TI_Management_app:member_detail' pk=relief_to_be_signed.member.pk %}">
                                    <button class="btn btn-info btn-sm pull-right">
                                        &#133;
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Adres:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        ul. {{relief_to_be_signed.member.street}}
                        {{relief_to_be_signed.member.house_number}}
                        {% if not relief_to_be_signed.member.float_number|default_if_none:"--" %}
                            m. {{relief_to_be_signed.member.float_number}}
                        {% endif %}
                        {{relief_to_be_signed.member.postcode}}
                        {{relief_to_be_signed.member.city}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wypełnienia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_completing_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wpłynięcia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_receipt_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data zdarzenia, którego dotyczy wniosek:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_accident}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Rodzaj zapomogi:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.title}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.associate_forename}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nazwisko osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.associate_surname}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Uzasadnienie:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{one_registered_relife.reason}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Relacja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relation}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Kwota:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.figure}} zł
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr konta:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.account_number}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Karencja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.grace}} miesiąc/e

                        <span style="color: green"><b>&#9745;</b></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Dokumenty:
                        </b>
                    </p>
                </td>
                <td>
                    {% for file in relief_to_be_signed.registerReliefFileRegisterRelief.all  %}
                        <div>
                            <div style="float:left">
                                <p>{{file.title}}&nbsp;</p>
                            </div>
                            <div style="float:left">
                                <div class="no-print">
                                    <a href="{{ file.file.url }}">
                                        <button class="btn btn-info btn-sm pull-right">
                                            &#133;
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Podpis Wnioskującego:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {% if relief_to_be_signed.complete is True %}
                            {{relief_to_be_signed.member.forename}}
                            {{relief_to_be_signed.member.surname}}
                            {{relief_to_be_signed.member.member_nr}}
                            Data: {{relief_to_be_signed.date_of_signed_by_the_applicant}}
                            <span style="color: green"><b>&#9745;</b></span>
                        {% else %}
                            {{relief_to_be_signed.complete}}
                        {% endif %}
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wprowadzenia:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.created_date}}
                        przez: {{relief_to_be_signed.author}}
                        {{relief_to_be_signed.author.first_name}}
                        {{relief_to_be_signed.author.last_name}}
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Podpisy Członków Zarządu:
                        </b><br />
                            {{relief_to_be_signed.registerReliefSignatureRelief.count}} / 3
                    </p>
                </td>
                <td>
                    {% for signature in  relief_to_be_signed.registerReliefSignatureRelief.all %}
                        <p>
                            {{ signature.member.forename }}
                            {{ signature.member.surname }}
                            {{ signature.member.member_nr }}
                            Dnia: {{ signature.member.created_date }} <span style="color: green"><b>&#9745;</b></span>
                        </p>
                    {% endfor %}
                </td>
            </tr>

            {% if relief_to_be_signed.payment_confirmation is True %}
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Potwierdzenie wypłaty:
                        </b><br />
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.author.first_name}}
                        {{relief_to_be_signed.author.last_name}}
                        {{relief_to_be_signed.author}}
                        Data: {{relief_to_be_signed.date_of_payment_confirmation}} <span style="color: green"><b>&#9745;</b></span>
                    </p>
                </td>
            </tr>
            {% endif %}


        </table>
        <div class="no-print">
        {% if relief_to_be_signed.payment_confirmation is False %}
        {% if relief_to_be_signed.registerReliefSignatureRelief.count >= 3 %}
            <form method="post" class="post-form">
                {% csrf_token %}
                {% if form_confirmation.errors %}
                    <p>{{form_confirmation.errors}}</p>
                {% endif %}
                {{form_confirmation.payment_confirmation}}

                <button type="submit" class="btn btn-primary btn-large pull-right">
                    Potwierdź wypłatę
                </button>
            <br />
            </form>
        {% else %}
            <button type="submit" class="btn btn-primary btn-large pull-right" disabled>
                Potwierdź wypłatę
            </button>
        {% endif %}

        {% endif %}

            <div class="date">
                <p>
                    Data wprowadzenia: {{relief_to_be_signed.created_date}}<br />
                    przez: {{relief_to_be_signed.author}}
                    {{relief_to_be_signed.author.first_name}}
                    {{relief_to_be_signed.author.last_name}}
                </p>
            </div>
        </div>

        <br />
    </div>
    {% if relief_to_be_signed.registerReliefSignatureRelief.count < 3 %}
    <div class="no-print">
    <div class="notepad">
        <H4>Dodaj Podpis:</H4>

        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            {{form.card}}

            <button type="submit" class="btn btn-primary btn-large pull-right">
                Zapisz
            </button>
            <br />
        </form>

    </div>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='relief' %}
{% endblock %}