{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="#"> / Zapomogi</a>
<a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relief_to_be_signed.pk %}"> / Podpisywanie zapomogi</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <div class="notepad">
        <img src="{{ relief_to_be_signed.member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 150px'>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr Uczestnika:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.member.member_nr}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię i nazwisko:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.member.forename}}
                        {{relief_to_be_signed.member.surname}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Adres:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        ul. {{relief_to_be_signed.member.street}}
                        {{relief_to_be_signed.member.city}}
                        {{relief_to_be_signed.member.postcode}}
                        {{relief_to_be_signed.member.house_number}}
                        {% if relief_to_be_signed.member.float_number is not None%}
                            {{relief_to_be_signed.member.float_number}}
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wypełnienia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_completing_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data wpłynięcia wniosku:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_receipt_the_application}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Data zdarzenia, którego dotyczy wniosek:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.date_of_accident}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Rodzaj zapomogi:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.title}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Imię osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.associate_forename}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nazwisko osoby powiązanej z wnioskiem:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.associate_surname}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Kwota:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.figure}} zł
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Nr konta:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.account_number}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Karencja:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {{relief_to_be_signed.relief.grace}} miesiąc/e

                        <span style="color: green"><b>&#9745;</b></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Dokumenty:
                        </b>
                    </p>
                </td>
                <td>
                    {% for file in relief_to_be_signed.registerReliefFileRegisterRelief.all  %}
                        <a href="{{ file.file.url }}">
                            {{file.title}}
                        </a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <p class="tableCredential">
                        <b>
                            Podpis Wnioskującego:
                        </b>
                    </p>
                </td>
                <td>
                    <p>
                        {% if relief_to_be_signed.complete is True %}
                            {{relief_to_be_signed.member.forename}}
                            {{relief_to_be_signed.member.surname}}
                            {{relief_to_be_signed.member.member_nr}}
                            Data: {{relief_to_be_signed.date_of_signed_by_the_applicant}}
                            <span style="color: green"><b>&#9745;</b></span>
                        {% else %}
                            {{relief_to_be_signed.complete}}
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>
        <div class="date">
            <p>
                Data wprowadzenia: {{relief_to_be_signed.created_date}}
                przez: {{relief_to_be_signed.author}}
                {{relief_to_be_signed.author.first_name}}
                {{relief_to_be_signed.author.last_name}}
            </p>
        </div>
        <br />
    </div>
    <div class="notepad">
        Dodaj Podpis:
    </div>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='relief' %}
{% endblock %}