{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"><b> / Zapomogi</b></a>
<a href="{% url 'TI_Management_app:relief_figure_add' %}"><b> / Wprowadzanie kwót zapomóg</b></a>
{% endblock %}

{% block content %}


<div class="hero-unit">
    <h2 class="fadeInUp-animation">Wprowadzanie kwót zapomóg</h2>
    <hr>
    <br />

    {% for relief in all_relief %}
        <div class="notepad">
            <div style="float:left">
                <h4>
                    <a href="{% url 'TI_Management_app:relief_figure_edit' pk=relief.pk %}">
                        {{ relief.title }}
                    </a>
                </h4>
            </div>
            <div style="float:right">
                <H4>
                    <span style="color: #0088CC">
                        {{ relief.figure|floatformat:"2" }} zł
                    </span>
                    Karencja w miesiącach
                    <span style="color: #0088CC">
                        {{ relief.grace }}
                    </span>
                </H4>
            </div>
            <div class="date">
                <p>
                    Data dodania: {{relief.created_date}}
                    przez: {{relief.author}}
                </p>
                <a href="{% url 'TI_Management_app:relief_figure_delete' pk=relief.pk %}" class="btn btn-danger btn-sm pull-right">
                    usuń
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="hero-unit">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <table width="100%">
            <tr>
                <td>
                    <input
                            class="form-control me-2"
                            style="min-width: 50%!important; width: 90%; height: 40px; overflow-y: visible;"
                            type="text"
                            placeholder="Nazwa zapomogi"
                            aria-label="Nazwa"
                            name="title"
                            required>
                </td>
                <td>
                    <input
                            class="form-control me-2"
                            style="max-width:75px; width: 90%; height: 40px; overflow-y: visible;"
                            type="number"
                            step="0.01"
                            placeholder="Kwota [zł]"
                            aria-label="Kwota"
                            name="figure"
                            required>
                </td>
                <td>
                    <input
                            class="form-control me-2"
                            style="max-width:95px; width: 90%; height: 40px; overflow-y: visible;"
                            type="number"
                            step="1"
                            placeholder="Karencja [m]"
                            aria-label="Karencja"
                            name="grace"
                            required>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>
</div>
{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='relief_figure_add' %}
{% endblock %}