{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"> / Zapomogi</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:relief_status_list_search' %}">
        {% csrf_token %}
        <input class="form-control me-2"
               style="min-width: 100%!important; min-height: 35px"
               type="search"
               placeholder="Szukaj"
               aria-label="Search" name="searched">
        <button class="btn btn-primary btn-large pull-right"
                type="submit">
            Szukaj
        </button>
    </form>
</div>
<div class="hero-unit">
    <H4>Wnioski zapomogi do podpisu:</H4>
    {% for relife_to_sign in relief %}
        {% if relife_to_sign.registerReliefSignatureRelief.count < 2 %}
        <div class="notepad">
            {% if relife_to_sign.registerReliefFileRegisterRelief.all %}
                <h3>
                    <a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relife_to_sign.pk %}">
                        {{relife_to_sign}} -
                        {{relife_to_sign.member.forename}}
                        {{relife_to_sign.member.surname}} -
                        {{relife_to_sign.member.member_nr}}
                    </a>
                </h3>
                {% for admin in active_admin %}
                    {% for missed_signature in relife_to_sign.registerReliefSignatureRelief.all %}
                        {% if admin.username == missed_signature.member.member_nr %}
                            <span style="color: green"><b>&#9745;</b></span>
                            {{ admin }} -
                            {{ missed_signature.member.forename }}
                            {{ missed_signature.member.surname }}
                            <br />
                        {% else %}
                            <span style="color: red"><b>&#9746;</b></span>
                            {{ admin }} -
                            {{ admin.first_name }}
                            {{ admin.last_name }}
                            <br />
                        {% endif %}
                    {% endfor %}
                    {% if relife_to_sign.registerReliefSignatureRelief.count == 0 %}
                        <span style="color: red"><b>&#9746;</b></span>
                        {{ admin }} -
                        {{ admin.first_name }}
                        {{ admin.last_name }}
                        <br />
                    {% endif %}
                {% endfor %}

            {% endif %}
            <div class="date">
                <p>
                    Data dodania: {{relife_to_sign.created_date}}
                </p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<div class="hero-unit">
    <H4>Wnioski do wypłaty:</H4>
    {% for relife_to_sign in relief %}
        {% if relife_to_sign.payment_confirmation is False %}
            {% if relife_to_sign.registerReliefSignatureRelief.count >= 2 %}
                <div class="notepad">
                    {% if relife_to_sign.registerReliefFileRegisterRelief.all %}
                    <h3>
                    <a href="{% url 'TI_Management_app:relief_status_to_be_signed' pk=relife_to_sign.pk %}">
                        {{relife_to_sign}} -
                        {{relife_to_sign.member.forename}}
                        {{relife_to_sign.member.forename}} -
                        {{relife_to_sign.member.member_nr}}
                    </a>
<!--                    {% if relife_to_sign.payment_confirmation is True %}-->
<!--                        <span style="color: green"><b>&#9745;</b></span>-->
<!--                    {% endif %}-->
                    </h3>
                    <div class="date">
                        <p>
                            Data dodania: {{relife_to_sign.created_date}}
                        </p>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% include 'TI_Management_app/pagination.html' with page=relief %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='relief' %}
{% endblock %}