{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:relief_status_list' %}"><b> / Zapomogi</b></a>
<a href="{% url 'TI_Management_app:relief_figure_add' %}"><b> / Wprowadzanie kwot zapomóg</b></a>
<a href="{% url 'TI_Management_app:relief_figure_edit' pk=one_relief.pk %}"><b> / Aktualizacja kwot zapomóg</b></a>
{% endblock %}

{% block content %}


<div class="hero-unit">
    <h2 class="fadeInUp-animation">Aktualizacja kwot zapomóg</h2>
    <hr>
    <br />

    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <table width="100%">
            <tr>
                <td>
                    {{ form.title }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="min-width: 90%!important; width: 40%; height: 40px; overflow-y: visible;"-->
<!--                            type="text"-->
<!--                            placeholder="{{ one_relief.title }}"-->
<!--                            value="{{ one_relief.title }}"-->
<!--                            aria-label="Nazwa"-->
<!--                            name="title"-->
<!--                            required>-->
                </td>
                <td>
                    {{form.figure}}
                </td>
                <td>
                    {{ form.grace }}
<!--                    <input-->
<!--                            class="form-control me-2"-->
<!--                            style="max-width:95px; width: 20%; height: 40px; overflow-y: visible;"-->
<!--                            type="number"-->
<!--                            step="1"-->
<!--                            placeholder="{{ one_relife.grace }}"-->
<!--                            value="{{ one_relief.grace }}"-->
<!--                            aria-label="Karencja"-->
<!--                            name="grace"-->
<!--                            required>m-->
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">
            Aktualizuj
        </button>
        <br />
    </form>
</div>

<div class="hero-unit">
    <h4>
        Historia:
    </h4>
    {% for h in one_relief.history.all %}
        <div class="notepad">
            <table width="100%" border="0">
                <tr>
                    <td>
                        {{ h.history_id }}
                    </td>
                    <td>
                        {{ h.history_type }}
                    </td>
                    <td>
                        {{ h.history_user }}
                    </td>
                    <td>
                        {{ h.history_date }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                    <br />
                        <b>Tytuł:</b>
                            {{ h.title }}
                    <br />
                        <b>Kwota:</b> {{ h.figure }} zł
                    <br />
                        <b>Karencja w miesiącach:</b> {{ h.grace }}
                    <br />
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='relief_figure_add' %}
{% endblock %}