{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"> / Stypendia</a>
<a href="{% url 'TI_Management_app:scholarships_add_search' %}"> / Dodaj stypendium</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:scholarships_add_search' %}">
        {% csrf_token %}
        <input class="form-control me-2"
               style="min-width: 100%!important; min-height: 35px"
               type="search"
               placeholder="Dodaj Uczestnika"
               aria-label="Search" name="searched">
        <button class="btn btn-primary btn-large pull-right"
                type="submit">
            Szukaj
        </button>
    </form>
</div>

    {% if searched %}
        <h2>Szukasz: <span class="search-style">{{ searched }}</span></h2>
        <br />
        {% for member in members %}
            <div class="hero-unit">
                <img src="{{ member.image.url }}" alt="image" width="100px">
                <h2>
                    <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                        {{member.forename}} {{member.surname}}
                    </a>
                </h2>
                <p>
                    <b>
                        Nr:
                    </b>
                    {{member.member_nr}} 	&#124;
                    <b>
                        tel:
                    </b>
                    {{member.phone_number}} &#124;
                    <b>
                        email:
                    </b>
                    {{member.email}}
                </p>

                <p>
                    <a href="{% url 'TI_Management_app:scholarships_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                        Dalej
                    </a>
                </p>
                <div class="date"><p>Data dodania: {{ member.created_date }}</p></div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Proszę, wprowadź imię, nazwisko, numer Członka lub numer telefonu.</h2>
    {% endif %}
{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships_add_search' %}
{% endblock %}