{% extends 'TI_Management_app/base.html' %}
{% load static %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"> / Stypendia</a>
<a href="{% url 'TI_Management_app:scholarships_edit'  pk=one_scholarship.pk %}"> / Zatwierdzenie Stypendium</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        <h4>
            <a href="{% url 'TI_Management_app:member_detail' pk=one_scholarship.member.pk %}">
                {{ one_scholarship.member.forename }} {{ one_scholarship.member.surname }} {{ one_scholarship.member.member_nr }}
            </a>
        </h4>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="text"
                value="{{ one_scholarship.title }}"
                placeholder="{{ one_scholarship.title }}"
                aria-label="Nazwa"
                name="title"
                disabled
                required>
        <br />
        <br />
        <p><b>Data złożenia wniosku:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="text"
                value="{{ one_scholarship.application_creation_date }}"
                placeholder="{{ one_scholarship.application_creation_date }}"
                name="application_creation_date"
                disabled
                required>

        <p><b>Data rozpoczęcia semestru:</b></p>

        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="date"
                value="{{ formatted_seminary_start_date }}"
                name="seminary_start_date"
                disabled
                required>

        <p><b>Data zakończenia semestru:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="date"
                value="{{ formatted_seminary_end_date }}"
                name="seminary_end_date"
                disabled
                required>

        <p><b>Wynagrodzenie Członka:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                min="0"
                step="0.01"
                value="{{ one_scholarship.member_salary|comma_to_period }}"
                placeholder="{{ one_scholarship.member_salary|comma_to_period|floatformat:2 }} - {{ member_earnings_pct }}%"
                aria-label="Wynagrodzenie Członka"
                name="member_salary"
                disabled
                required> zł - {{ member_earnings_pct }}%
        <p>
            <small>
                Przeciętne wynagrodzenie:
                {{ one_scholarship.average_salary.title }} -
                {{ one_scholarship.average_salary.salary }} zł
            </small>
        </p>
        <div id="messageContainer"></div>
        <br />

        <p><b>Uczelnia preferowana?</b></p>
        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Uczelnia preferowana"
                name="preferred_university"
                {% if one_scholarship.preferred_university is True %}
                    checked
                {% endif %}
                disabled
                required>
        {% if one_scholarship.preferred_university is True %}
            <div>Tak, uczelnia preferowana</div>
        {% else %}
            <div>Nie, uczelnia nie jest preferowana</div>
        {% endif %}

        <br />

        <p><b>Uzyskana średnia:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 8%!important; min-height: 15px"
                type="number"
                placeholder="3.5"
                aria-label="Uzyskana średnia"
                name="average_grade"
                value="{{ one_scholarship.average_grade|comma_to_period }}"
                min="0.5"
                max="6"
                step="0.01"
                disabled
                required>

        <p><b>Skala ocen do:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 8%!important; min-height: 15px"
                type="number"
                placeholder="5"
                aria-label="Skala ocen"
                name="grading_scale"
                value="{{ one_scholarship.grading_scale|comma_to_period }}"
                min="5"
                max="5.5"
                step="0.5"
                disabled
                required>
        <br />

        <p><b>Wysokość czesnego za semestr:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                placeholder="0"
                aria-label="Skala ocen"
                name="tuition_fee_amount"
                value="{{ one_scholarship.tuition_fee_amount|comma_to_period }}"
                min="1"
                step="0.01"
                disabled
                required> zł
        <br />
        <br />

        <p><b>Wysokość stypendium:</b></p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                placeholder="0"
                aria-label="Wysokość stypendium"
                name="scholarship_rate"
                value="{{ one_scholarship.scholarship_rate|comma_to_period }}"
                min="0"
                step="0.01"
                required> zł
        <br />
        <br />

        <p><b>Dokumenty:</b></p>

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_scholarship_application.url }}">
            Wniosek o stypendium
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_scholarship_application}}
            </label>
        <br />

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_scanned_confirmation_of_payment_for_studies.url }}">
            Skan potwierdzenia płatności za studia
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_scanned_confirmation_of_payment_for_studies}}
            </label>
        <br />

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_declaration_of_income.url }}">
            Oświadczenie o dochodach
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_declaration_of_income}}
            </label>
        <br />

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_resolution_consenting.url }}">
            Uchwała o zgodzie na stypendium
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_resolution_consenting}}
            </label>
        <br />

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_document_confirming_of_the_semester.url }}">
            Dokument potwierdzający zaliczenie semestru
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_document_confirming_of_the_semester}}
            </label>
        <br />

        <img src="{% static 'img/pdf-2610.png' %}" alt="pdf" width="20">
        <a href="{{ one_scholarship.file_university_regulations_of_the_grading_scale.url }}">
            Regulamin uczeli z informacją o skali ocen
        </a>
            <label class="custom-file-upload-mod">
                {{form.file_university_regulations_of_the_grading_scale}}
            </label>
        <br />
        <br />
        <br />

        <p><b>Potwierdzam weryfikację legitymacji studenckiej:</b></p>
        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Potwierdzam weryfikację legitymacji studenckiej"
                name="confirmation_of_student_id"
                {% if one_scholarship.confirmation_of_student_id is True %}
                    checked
                {% endif %}
                disabled
                required>
        {% if one_scholarship.confirmation_of_student_id is True %}
            <div>Potwierdzona przez: {{one_scholarship.author}}</div>
        {% else %}
            <div>Niepotwierdzona</div>
        {% endif %}
        <br />
        <br />

        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Potwierdzam zgodność danych i wypłatę stypendium"
                name="confirmation_of_scholarship"
                checked
                required>
        Potwierdzam

        {% if user.is_superuser %}
            <button type="submit" class="btn btn-primary btn-large pull-right">
                Potwierdzam zgodność danych i wypłatę stypendium
            </button>
            <br />
            <br />
<!--            <div style="text-align: right">lub</div>-->

            <button type="submit" class="btn btn-danger btn-large pull-right">
                Nie potwierdzam zgodność danych
            </button>
        {% else %}
            <button type="submit" class="btn btn-primary btn-large pull-right" disabled>
                Potwierdzam zgodność danych i wypłatę stypendium
            </button>
        {% endif %}

        <br />
    </form>

</div>
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships' %}
{% endblock %}