{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"> / Stypendia</a>
<a href="{% url 'TI_Management_app:scholarships_add'  pk=member.pk %}"> / Dodaj Stypendium</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        <h4>
            <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                {{ member.forename }} {{ member.surname }} {{ member.member_nr }}
            </a>
        </h4>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="text"
                value="Stypendium - {{ timestamp|show_timestamp }} - {{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                placeholder="{{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                aria-label="Nazwa"
                name="title"

                required>
        <br />
        <br />
        <p>Data złożenia wniosku:</p>
        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="date"
                name="application_creation_date"
                id="application_creation_date"
                required>

        <p>Data rozpoczęcia semestru:</p>
        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_start_date"
                required>

        <p>Data zakończenia semestru:</p>
        <input
                class="form-control me-2"
                style="max-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_end_date"
                required>

        <p>Wynagrodzenie Członka:</p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                min="0"
                step="0.01"
                placeholder="Wynagrodzenie Członka"
                aria-label="Wynagrodzenie Członka"
                name="member_salary"
                id="inputMemberSalary"
                required> zł
        <p>
            <small>
                Przeciętne wynagrodzenie:
                {{ scholarships_average_salary_list.title }} -
                {{ scholarships_average_salary_list.salary }} zł
            </small>
        </p>
        <div id="messageContainer"></div>
        <br />

        <p>Uczelnia preferowana?</p>
        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Uczelnia preferowana"
                name="preferred_university"
                id="preferredUniversity"
                required>
        <div id="messageContainerCheckbox"></div>
        <br />

        <p>Uzyskana średnia:</p>
        <input
                class="form-control me-2"
                style="max-width: 8%!important; min-height: 15px"
                type="number"
                placeholder="3.5"
                aria-label="Uzyskana średnia"
                name="average_grade"
                id="inputAverageGrade"
                min="0.5"
                max="6"
                step="0.01"
                required>

        <p>Skala ocen do:</p>
        <input
                class="form-control me-2"
                style="max-width: 8%!important; min-height: 15px"
                type="number"
                placeholder="5"
                aria-label="Skala ocen"
                name="grading_scale"
                id="inputGradingScale"
                min="5"
                max="5.5"
                step="0.5"
                required>
        <br />

        <p>Wysokość czesnego za semestr:</p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                placeholder="0"
                aria-label="Skala ocen"
                name="tuition_fee_amount"
                id="inputTuition"
                min="1"
                step="0.01"
                required> zł
        <br />
        <div id="messageContainerTuition"></div>
        <div id="messageContainerTenPctAverageSalary"></div>
        <div id="messageContainerFiftyPct"></div>
        <div id="messageContainerOutcome"></div>
        <br />

        <p>Wysokość stypendium:</p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                placeholder="0"
                aria-label="Wysokość stypendium"
                name="scholarship_rate"
                id="scholarshipRate"
                min="0"
                step="0.01"
                required> zł
        <br />
        <br />

        <p>Dokumenty:</p>
        
        <p>Wniosek o stypendium</p>
            <label class="custom-file-upload">
                {{form.file_scholarship_application}}
            </label>
        <br />

        <p>Skan potwierdzenia płatności za studia</p>
            <label class="custom-file-upload">
                {{form.file_scanned_confirmation_of_payment_for_studies}}
            </label>
        <br />

        <p>Oświadczenie o dochodach</p>
            <label class="custom-file-upload">
                {{form.file_declaration_of_income}}
            </label>
        <br />

        <p>Uchwała o zgodzie na stypendium</p>
            <label class="custom-file-upload">
                {{form.file_resolution_consenting}}
            </label>
        <br />

        <p>Dokument potwierdzający zaliczenie semestru</p>
            <label class="custom-file-upload">
                {{form.file_document_confirming_of_the_semester}}
            </label>
        <br />

        <p>Regulamin uczeli z informacją o skali ocen</p>
            <label class="custom-file-upload">
                {{form.file_university_regulations_of_the_grading_scale}}
            </label>
        <br />


        <br />
        <br />

        <p>Potwierdzam weryfikację legitymacji studenckiej:</p>
        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Potwierdzam weryfikację legitymacji studenckiej"
                name="confirmation_of_student_id"
                id="studentCard"
                required>
        <div id="messageContainerCheckboxStudentCard"></div>
        <br />
        <br />


        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>



<script>
document.addEventListener('DOMContentLoaded', function() {

    var currentDate = new Date().toISOString().split('T')[0];
    document.getElementById('application_creation_date').value = currentDate;


    var inputField = document.getElementById('inputMemberSalary');
    var messageContainer = document.getElementById('messageContainer');

    var checkbox = document.getElementById('preferredUniversity'); // Get the checkbox element
    var messageContainerCheckbox = document.getElementById('messageContainerCheckbox');
    messageContainerCheckbox.textContent = 'Nie, uczelnia nie jest preferowana.';
    var checkboxFlag = false;

    var checkboxStudentCard = document.getElementById('studentCard'); // Get the checkbox element
    var messageContainerCheckboxStudentCard = document.getElementById('messageContainerCheckboxStudentCard');
    messageContainerCheckboxStudentCard.textContent = 'Niepotwierdzona';

    var inputFieldTuition = document.getElementById('inputTuition');
    var messageContainerTuition = document.getElementById('messageContainerTuition');
    var messageContainerTenPctAverageSalary = document.getElementById('messageContainerTenPctAverageSalary');

    var inputGradingScale = document.getElementById('inputGradingScale'); // Get the grading_scale element
    var inputAverageGrade = document.getElementById('inputAverageGrade'); // Get the inputAverageGrade element

    {% with djangoVariable=scholarships_average_salary_list.salary|comma_to_period %}
        var djangoVariable = {{ djangoVariable }};
    {% endwith %}

    inputField.addEventListener('blur', function(event) {
        var inputValue = parseFloat(inputField.value);

        if (!isNaN(inputValue)) {
            var result = (inputValue / djangoVariable) * 100;

            result = result.toFixed(2);

            messageContainer.textContent = 'na poziomie: ' + result + '% ';
            messageContainer.style.color = 'blue';

        } else {
            messageContainer.textContent = 'Proszę podać wynagrodzenie Członka.';
        }
    });

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            messageContainerCheckbox.textContent = 'Tak, uczelnia jest preferowana.';
            checkboxFlag = true;
        } else {
            messageContainerCheckbox.textContent = 'Nie, uczelnia nie jest preferowana.';
            checkboxFlag = false;
        }
    });

    checkboxStudentCard.addEventListener('change', function() {
        if (this.checked) {
            messageContainerCheckboxStudentCard.textContent = 'Potwierdzona';
        } else {
            messageContainerCheckboxStudentCard.textContent = 'Niepotwierdzona';
        }
    });

    inputFieldTuition.addEventListener('blur', function(event) {
        var inputValue = parseFloat(inputFieldTuition.value);
        var resultTenPctAverageSalary = parseFloat(djangoVariable * 0.1);
        var resultGradingScale = parseFloat(inputGradingScale.value);
        var resultAverageGrade = parseFloat(inputAverageGrade.value);

        if (!isNaN(inputValue)) {
            var result = parseFloat(inputValue * 0.1);
            var resultFiftyPct = parseFloat(inputValue * 0.5)
            var resultOutcome = parseFloat(result + resultFiftyPct)

            result = result.toFixed(2);
            resultTenPctAverageSalary = resultTenPctAverageSalary.toFixed(2);
            resultFiftyPct = resultFiftyPct.toFixed(2);
            resultOutcome = resultOutcome.toFixed(2);

            if ((parseFloat(result) < parseFloat(resultTenPctAverageSalary)) && (checkboxFlag == true) && (resultGradingScale >= 5.5) && (resultAverageGrade > 4.95)) {

                messageContainerTuition.textContent = '10% wysokości czesnego to: ' + result + ' zł';
                messageContainerTuition.style.color = 'green';
                messageContainerTenPctAverageSalary.textContent = '10% przeciętnego wynagrodzenia wynosi: '+ resultTenPctAverageSalary +' zł';
                messageContainerTenPctAverageSalary.style.color = 'green';
                messageContainerFiftyPct.textContent = '50% wysokości czesnego to: '+ resultFiftyPct +' zł';
                messageContainerFiftyPct.style.color = 'green';
                messageContainerOutcome.textContent = 'Estymowana wysokość stypendium: '+ resultOutcome +' zł';
                messageContainerOutcome.style.color = 'green';

                document.getElementById('scholarshipRate').value = resultOutcome

            } else if ((parseFloat(result) < parseFloat(resultTenPctAverageSalary)) && (checkboxFlag == true) && (resultGradingScale == 5) && (resultAverageGrade > 4.5)) {

                messageContainerTuition.textContent = '10% wysokości czesnego to: ' + result + ' zł';
                messageContainerTuition.style.color = 'green';
                messageContainerTenPctAverageSalary.textContent = '10% przeciętnego wynagrodzenia wynosi: '+ resultTenPctAverageSalary +' zł';
                messageContainerTenPctAverageSalary.style.color = 'green';
                messageContainerFiftyPct.textContent = '50% wysokości czesnego to: '+ resultFiftyPct +' zł';
                messageContainerFiftyPct.style.color = 'green';
                messageContainerOutcome.textContent = 'Estymowana wysokość stypendium: '+ resultOutcome +' zł';
                messageContainerOutcome.style.color = 'green';

                document.getElementById('scholarshipRate').value = resultOutcome

            } else if ((parseFloat(result) < parseFloat(resultTenPctAverageSalary)) && (checkboxFlag == false) && (resultGradingScale == 5) && (resultAverageGrade > 4.75)) {

                messageContainerTuition.textContent = '10% wysokości czesnego to: ' + result + ' zł';
                messageContainerTuition.style.color = 'green';
                messageContainerTenPctAverageSalary.textContent = '10% przeciętnego wynagrodzenia wynosi: '+ resultTenPctAverageSalary +' zł';
                messageContainerTenPctAverageSalary.style.color = 'green';
                messageContainerFiftyPct.textContent = '50% wysokości czesnego to: '+ resultFiftyPct +' zł';
                messageContainerFiftyPct.style.color = 'green';
                messageContainerOutcome.textContent = 'Estymowana wysokość stypendium: '+ resultOutcome +' zł';
                messageContainerOutcome.style.color = 'green';

                document.getElementById('scholarshipRate').value = resultOutcome

            } else if ((parseFloat(result) < parseFloat(resultTenPctAverageSalary)) && (checkboxFlag == false) && (resultGradingScale == 5.5) && (resultAverageGrade > 5.23)) {

                messageContainerTuition.textContent = '10% wysokości czesnego to: ' + result + ' zł';
                messageContainerTuition.style.color = 'green';
                messageContainerTenPctAverageSalary.textContent = '10% przeciętnego wynagrodzenia wynosi: '+ resultTenPctAverageSalary +' zł';
                messageContainerTenPctAverageSalary.style.color = 'green';
                messageContainerFiftyPct.textContent = '50% wysokości czesnego to: '+ resultFiftyPct +' zł';
                messageContainerFiftyPct.style.color = 'green';
                messageContainerOutcome.textContent = 'Estymowana wysokość stypendium: '+ resultOutcome +' zł';
                messageContainerOutcome.style.color = 'green';

                document.getElementById('scholarshipRate').value = resultOutcome

            } else {
                messageContainerTuition.textContent = '10% wysokości czesnego to: ' + result + ' zł';
                messageContainerTuition.style.color = 'red';
                messageContainerTenPctAverageSalary.textContent = '10% przeciętnego wynagrodzenia wynosi: '+ resultTenPctAverageSalary +' zł';
                messageContainerTenPctAverageSalary.style.color = 'red';
                messageContainerFiftyPct.textContent = '50% wysokości czesnego to: '+ resultFiftyPct +' zł';
                messageContainerFiftyPct.style.color = 'red';
                messageContainerOutcome.textContent = 'Estymowana wysokość stypendium: 0 zł';
                messageContainerOutcome.style.color = 'red';

                document.getElementById('scholarshipRate').value = 0.00
            }

        } else {
            messageContainerTuition.textContent = 'Niewprowadzony';
        }
    });

});
</script>


</div>
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships_add_search' %}
{% endblock %}