{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"><b> / Stypendia</b></a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"><b> / Wyszukiwanie</b></a>
{% endblock %}

{% block content %}
    {% if searched %}
        <h2 class="fadeInUp-animation">Szukasz: <span class="search-style">{{ searched }}</span></h2>
        <hr>
        <br />
        <div class="hero-unit">
        {% for member in members %}
            <div class="notepad">
<!--                <img src="{{ member.member.image.url }}" alt="image" width="100px">-->
                <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                    <img src="{% thumbnail member.member.image 100x0  quality=100 %}">
                </a>
                <h3>
                    <a href="{% url 'TI_Management_app:member_detail' pk=member.member.pk %}">
                        {{member.member.forename}} {{member.member.surname}}
                    </a>
                </h3>
                <p>
                    <b>
                        Nr:
                    </b>
                    {{member.member.member_nr}} 	&#124;
                    <b>
                        tel:
                    </b>
                    {{member.member.phone_number|phone_number}} &#124;
                    <b>
                        email:
                    </b>
                    {{member.member.email}}
                </p>

                <p>
                    <a href="{% url 'TI_Management_app:scholarships_edit' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                        Szczegóły
                    </a>
                </p>

                <div class="date"><p>Data dodania: {{ member.member.created_date }}</p></div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="hero-unit">
            <h4>Proszę, wprowadź frazę w pole wyszukiwania</h4>
            <br />
        </div>
    {% endif %}
{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships' %}
{% endblock %}