{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:finance_list' %}"><b> / Finanse</b></a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"><b> / Stypendia</b></a>
<a href="{% url 'TI_Management_app:scholarships_add_search' %}"><b> / Dodaj stypendium</b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Dodaj Stypendium</h2>
    <hr>
    <br />
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:scholarships_add_search' %}">
        {% csrf_token %}
        {% if flag is True %}
            <input class="form-control me-2"
                style="min-width: 100%!important; min-height: 35px"
                type="search"
                placeholder="Dodaj Uczestnika"
                aria-label="Search"
                name="searched"
                autofocus="autofocus">
            <br />
            <br />
            <button class="btn btn-primary btn-large pull-right" type="submit">
                Szukaj
            </button>
            <br />
        {% else %}
            <p>Proszę, dodaj najpierw średnie wynagrodzenie przed dodaniem stypendium.</p>
        {% endif %}

    </form>
</div>
    {% if searched %}
        <h3>Szukasz: <span class="search-style">{{ searched }}</span></h3>
        <br />
        {% for member in members %}
            <div class="hero-unit">
                <h3>
                    <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                        {{member.forename}} {{member.surname}}
                    </a>
                </h3>
                <hr>
                <div class="notepad">
<!--                <img src="{{ member.image.url }}" alt="image" width="100px">-->
                    <a href="{{ member.image.url }}">
                        <img src="{% thumbnail member.image 150x0  quality=100 %}">
                    </a>

                <p>
                    <b>
                        Nr:
                    </b>
                    {{member.member_nr}} 	&#124;
                    <b>
                        tel:
                    </b>
                    {{member.phone_number|phone_number}} &#124;
                    <b>
                        email:
                    </b>
                    {{member.email}}
                </p>
                <br />

                {% for scholarship_detail in member.memberScholarships.all %}
                  <div class="notepad">
                      <p>{{scholarship_detail.scholarship_rate}} zł</p>
                      <p><b>{{scholarship_detail.title}}:</b></p>
                      <a href="#">Zobacz szczegóły stypendium</a>
                      <p>Status</p>

                    <div class="date">
                        <p>
                          Data wprowadzenia: {{scholarship_detail.created_date}}<br />
                          przez: {{scholarship_detail.author}}
                        </p>
                      </div>
                  </div>

                {% empty %}
                  <p>Brak stypendium</p>
                {% endfor %}
                <br />


                </div>
                <br />
                <p>
                    <a href="{% url 'TI_Management_app:scholarships_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                        Dalej
                    </a>
                </p>
                <div class="date"><p>Data dodania: {{ member.created_date }}</p></div>
            </div>
        {% endfor %}
    {% else %}
        <div class="hero-unit">
            {% if flag is True %}
            <p>
                Bieżące przeciętne wynagrodzenie:<b> {{ scholarships_average_salary_list }} - {{ scholarships_average_salary_list.salary|floatformat:2 }} zł </b>
            </p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships_add_search' %}
{% endblock %}