{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"> / Stypendia</a>
<a href="{% url 'TI_Management_app:scholarships_add'  pk=member.pk %}"> / Dodaj Stypendium</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        <h4>
            <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                {{ member.forename }} {{ member.surname }} {{ member.member_nr }}
            </a>
        </h4>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="text"
                value="Stypendium - {{ timestamp|show_timestamp }} - {{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                placeholder="{{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                aria-label="Nazwa"
                name="title"
                disabled
                required>
        <br />
        <br />

        <p>Data rozpoczęcia semestru:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_start_date"
                required>

        <p>Data zakończenia semestru:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_end_date"
                required>

        <p>Wynagrodzenie Członka:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="number"
                step="0.01"
                placeholder="Wynagrodzenie Członka"
                aria-label="Wynagrodzenie Członka"
                name="member_salary"
                id="inputMemberSalary"
                required>
        <p>
            <small>
                Przeciętne wynagrodzenie:
                {{ scholarships_average_salary_list.title }} -
                {{ scholarships_average_salary_list.salary }} zł
            </small>
        </p>
        <div id="messageContainer"></div>
        <br />

        <p>Uczelnia preferowana?</p>
        <input
                class="form-control me-2"
                style="min-width: 1%!important; min-height: 15px"
                type="checkbox"
                aria-label="Uczelnia preferowana"
                name="preferred_university"
                id="preferredUniversity"
                required>
        <div id="messageContainerCheckbox"></div>
        <br />

        <p>Uzyskana średnia:</p>
        <input
                class="form-control me-2"
                style="max-width: 5%!important; min-height: 15px"
                type="number"
                placeholder="3.5"
                aria-label="Uzyskana średnia"
                name="average_grade"
                min="0.5"
                max="6"
                step="0.5"
                required>

        <p>Skala ocen do:</p>
        <input
                class="form-control me-2"
                style="max-width: 5%!important; min-height: 15px"
                type="number"
                placeholder="5"
                aria-label="Skala ocen"
                name="grading_scale"
                min="5"
                max="5.5"
                step="0.5"
                required>
        <br />

        <p>Wysokość czesnego za semestr:</p>
        <input
                class="form-control me-2"
                style="max-width: 25%!important; min-height: 15px"
                type="number"
                placeholder="0"
                aria-label="Skala ocen"
                name="tuition_fee_amount"
                min="1"
                step="0.01"
                required>
        zł
        <br />

        <p>Dokumenty:</p>
        <p>Wniosek o stypendium</p>
        <label class="custom-file-upload">
            {{form.file_scholarship_application}}
        </label>
        <br />
        <p>Skan potwierdzenia płatności za studia</p>
        <label class="custom-file-upload">
            {{form.file_scanned_confirmation_of_payment_for_studies}}
        </label>
        <br />



        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>



<script>
document.addEventListener('DOMContentLoaded', function() {
    var inputField = document.getElementById('inputMemberSalary');
    var messageContainer = document.getElementById('messageContainer');
    var checkbox = document.getElementById('preferredUniversity'); // Get the checkbox element
    var messageContainerCheckbox = document.getElementById('messageContainerCheckbox');
    messageContainerCheckbox.textContent = 'Nie, uczelnia nie jest preferowana.';

    {% with djangoVariable=scholarships_average_salary_list.salary|comma_to_period %}
        var djangoVariable = {{ djangoVariable }};
    {% endwith %}

    inputField.addEventListener('blur', function(event) {
        var inputValue = parseFloat(inputField.value);

        if (!isNaN(inputValue)) {
            var result = (inputValue / djangoVariable) * 100;

            result = result.toFixed(2);
            messageContainer.textContent = 'na poziomie: ' + result + ' %';

        } else {
            messageContainer.textContent = 'Proszę podać wynagrodzenie Członka.';
        }
    });

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            messageContainerCheckbox.textContent = 'Tak, uczelnia jest preferowana.';
        } else {
            messageContainerCheckbox.textContent = 'Nie, uczelnia nie jest preferowana.';
        }
    });

});
</script>


</div>
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships_add_search' %}
{% endblock %}