{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="#"> / Finanse</a>
<a href="{% url 'TI_Management_app:scholarships_list' %}"> / Stypendia</a>
<a href="{% url 'TI_Management_app:scholarships_add'  pk=member.pk %}"> / Dodaj Stypendium</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        <h4>
            {{ member.forename }} {{ member.surname }} {{ member.member_nr }}
        </h4>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="text"
                value="Stypendium - {{ timestamp|show_timestamp }} - {{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                placeholder="{{ member.forename }} {{ member.surname }} {{ member.member_nr }}"
                aria-label="Nazwa"
                name="title"
                disabled
                required>
        <br />
        <br />

        <p>Data rozpoczęcia semestru:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_start_date"
                required>

        <p>Data zakończenia semestru:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="date"
                name="seminary_end_date"
                required>

        <p>Wynagrodzenie Członka:</p>
        <input
                class="form-control me-2"
                style="min-width: 50%!important; min-height: 15px"
                type="number"
                step="0.01"
                placeholder="Wynagrodzenie Członka"
                aria-label="Wynagrodzenie Członka"
                name="member_salary"
                required>
        <p>
            <small>
                Przeciętne wynagrodzenie:
                {{ scholarships_average_salary_list.title }} -
                {{ scholarships_average_salary_list.salary }} zł
            </small>
        </p>

        <button type="submit" class="btn btn-primary btn-large pull-right">
            Zapisz
        </button>
        <br />
    </form>
</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='scholarships_add_search' %}
{% endblock %}