{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:loyalty_card_list' %}"><b> / Karty Lojalnościowe </b></a>
<a href="{% url 'TI_Management_app:loyalty_card_edit' pk=loyalty_card.pk %}"><b> / Aktualizacja Karty Lojalnościowej</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Aktualizuj kartę lojalnościową {{ loyalty_card.card_name }}</h2>
    <hr>
    <br />
    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{form.errors}}</p>
            </div>
        {% endif %}
        <p><b>Zmień nazwe:</b></p>
        {{form.card_name}}

        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
</div>
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card' %}
{% endblock %}