{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:loyalty_card_list' %}"><b> / Karty Lojalnościowe </b></a>
<a href="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='none' %}"><b> / {{loyalty_card.card_name}}</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Karta: {{loyalty_card.card_name}}</h2>
    <hr>
    <br />
    <form class="d-flex" method=POST action="{% url 'TI_Management_app:loyalty_card_member_search' pk=loyalty_card.pk %}">
        {% csrf_token %}
        <input
                class="form-control me-2"
                style="min-width: 100%!important; min-height: 35px"
                type="search"
                placeholder="Dodaj nowego uczestnika"
                aria-label="Search"
                name="searched">
        <br />
        <br />
        <button class="btn btn-primary btn-large pull-right" type="submit">Dodaj</button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    <h3>
        <a href="{% url 'TI_Management_app:loyalty_card_edit' pk=loyalty_card.pk %}">
            {{loyalty_card.card_name}}
        </a>
    </h3>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembers">
                Lista użytkowników:
            </li>
            <li>
            </li>
            <li id="objLoyaltyCardMembers" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    <div class="notepad">
                        <p>
                            <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                            </a>
                        </p>
                        <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                        <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>
                        <p>
                            <b>Status:</b>
                            {% if  loyalty_card_status.card_status == 'active' %}
                                <span style="color: #00FF00;">Aktywny</span>
                            {% elif loyalty_card_status.card_status == 'toOrder' %}
                                Do zlecenia
                            {% elif loyalty_card_status.card_status == 'ordered' %}
                                <span style="color: #FFC300;">Zlecona</span>
                            {% elif loyalty_card_status.card_status == 'toBePickedUp' %}
                                Do odbioru
                            {% elif loyalty_card_status.card_status == 'deactivated' %}
                                <span style="color: #FF0000;">Dezaktywowana</span>
                            {% endif %}
                        </p>

                        <a href="{% url 'TI_Management_app:loyalty_card_delete_member' pk=loyalty_card.pk pk1=loyalty_card_status.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                        <br />
                    </div>
                {% endfor %}



            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersDocuments">
                Dokumenty:
            </li>
            <li>
                <div class="notepad">
                    <a href="{% url 'TI_Management_app:loyalty_cards_add_file_order' pk=loyalty_card.pk %}" class="btn btn-primary btn-large pull-left">Dodaj dokument zlecenie</a>
                    <a href="{% url 'TI_Management_app:loyalty_cards_add_file_to_be_picked_up' pk=loyalty_card.pk %}" class="btn btn-primary btn-large pull-right">Dodaj dokument odbioru</a>
                    <br/>
                </div>

            </li>

            <li id="objLoyaltyCardMembersDocuments" style="display: none">

                <div class="notepad">
                    <h4>Dokumenty zlecenie:</h4>
                    <br/>
                    {% for ordered_file in ordered_card_file %}
                        {% if ordered_file.card.id == loyalty_card.pk %}

                            <p><b>Nr dokumentu:</b>
                                <a href="{{ ordered_file.file.url }}">{{ ordered_file.title }}</a>
                            </p>
                            <p><b>Nazwa:</b> {{ ordered_file.file|filename }}</p>
                            <p><b>Data:</b> {{ ordered_file.created_date }}</p>
                            <p><b>Dodany przez:</b> {{ ordered_file.responsible }}</p>
                            <br />

                        {% endif %}
                    {% endfor %}

                </div>



                <div class="notepad">
                    <h4>Dokumenty odbioru:</h4>
                    <br/>
                    {% for to_be_picked_up_file in to_be_picked_up_doc_card_file %}
                        {% if to_be_picked_up_file.card.id == loyalty_card.pk %}

                            <p><b>Nr dokumentu:</b>
                                <a href="{{ ordered_file.file.url }}">{{ to_be_picked_up_file.title }}</a>
                            </p>
                            <p><b>Nazwa:</b> {{ to_be_picked_up_file.file|filename }}</p>
                            <p><b>Data:</b> {{ to_be_picked_up_file.created_date }}</p>
                            <p><b>Dodany przez:</b> {{ to_be_picked_up_file.responsible }}</p>
                            <br />

                        {% endif %}
                    {% endfor %}

                </div>




            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersActive">
                Lista aktywnych użytkowników {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='active' %}">
                        {% csrf_token %}
                        <p>Separator:</p>
                        {% for radio in form.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <hr />
                        <p>Kolumny:</p>
                        {% for radio in form.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <br />
                        <p>Od:</p>
                        {{form.start_date}}
                        <p>Do:</p>
                        {{form.end_date}}
                        <br />
                        <br />
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersActive" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'active' %}
                    <div class="notepad">
                        <p>
                            <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                            </a>
                        </p>
                        <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                        <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>

                        <a href="{% url 'TI_Management_app:loyalty_card_delete_member' pk=loyalty_card.pk pk1=loyalty_card_status.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                        <br />
                    </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersReadyToGet">
                Lista karty do odbioru {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='toBePickedUp' %}">
                        {% csrf_token %}
                        <p>Separator:</p>
                        {% for radio in form.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <hr>
                        <p>Kolumny:</p>
                        {% for radio in form.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <br />
                        <p>Od:</p>
                        {{form.start_date}}
                        <p>Do:</p>
                        {{form.end_date}}
                        <br />
                        <br />
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersReadyToGet" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'toBePickedUp' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p><b>M Nr:</b> {{loyalty_card_status.member.member_nr}}</p>
                            <p><b>Rodzaj:</b> {{loyalty_card.card_name}}</p>
                            <p><b>Nr karty:</b> {{loyalty_card_status.card_identity}}</p>
                            <p><b>Data:</b> {{loyalty_card_status.date_of_action}}</p>
                            <p><b>Status:</b>
                                {% if loyalty_card_status.card_status == 'toBePickedUp' %}
                                    Do odbioru
                                {% endif %}
                            </p>
                            <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                            <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersOrdered">
                Lista wysłanych karty {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='ordered' %}">
                        {% csrf_token %}
                        <p>Separator:</p>
                        {% for radio in form.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <hr>
                        <p>Kolumny:</p>
                        {% for radio in form.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <br />
                        <p>Od:</p>
                        {{form.start_date}}
                        <p>Do:</p>
                        {{form.end_date}}
                        <br />
                        <br />
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersOrdered" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'ordered' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p><b>M Nr:</b> {{loyalty_card_status.member.member_nr}}</p>
                            <p><b>Rodzaj:</b> {{loyalty_card.card_name}}</p>
                            <p><b>Nr karty:</b> {{loyalty_card_status.card_identity}}</p>
                            <p><b>Data:</b> {{loyalty_card_status.date_of_action}}</p>
                            <p><b>Status:</b>
                                {% if loyalty_card_status.card_status == 'ordered' %}
                                    Zlecona
                                {% endif %}
                            </p>
                            <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                            <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersToOrder">
                Zlecenia na kartę {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='toOrder'%}">
                        {% csrf_token %}
                        <p>Separator:</p>
                        {% for radio in form.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <hr>
                        <p>Kolumny:</p>
                        {% for radio in form.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <br />
                        <p>Od:</p>
                        {{form.start_date}}
                        <p>Do:</p>
                        {{form.end_date}}
                        <br />
                        <br />
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersToOrder" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'toOrder' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p><b>M Nr:</b> {{loyalty_card_status.member.member_nr}}</p>
                            <p><b>Rodzaj:</b> {{loyalty_card.card_name}}</p>
                            <p><b>Nr karty:</b> {{loyalty_card_status.card_identity}}</p>
                            <p><b>Data:</b> {{loyalty_card_status.date_of_action}}</p>
                            <p><b>Status:</b>
                                {% if loyalty_card_status.card_status == 'toOrder' %}
                                    Zlecona
                                {% endif %}
                            </p>
                            <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                            <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersDeactivated">
                Karty dezaktywowane {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='deactivated' %}">
                        {% csrf_token %}
                        <p>Separator:</p>
                        {% for radio in form.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <hr>
                        <p>Kolumny:</p>
                        {% for radio in form.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        <br />
                        <p>Od:</p>
                        {{form.start_date}}
                        <p>Do:</p>
                        {{form.end_date}}
                        <br />
                        <br />
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersDeactivated" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'deactivated' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'TI_Management_app:member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p><b>Nr karty:</b> {{loyalty_card_status.card_identity}}</p>
                            <p><b>Data:</b> {{loyalty_card_status.date_of_action}}</p>
                            <p><b>Status:</b>
                                {% if loyalty_card_status.card_status == 'deactivated' %}
                                    Dezaktywowana
                                {% endif %}
                            </p>
                            <p><b>Numer telefonu:</b> {{loyalty_card_status.member.phone_number|phone_number}}</p>
                            <p><b>E-mail:</b> {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card' %}
{% endblock %}