{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:loyalty_card_list' %}"><b> / Karty Lojalnościowe </b></a>
<a href="{% url 'TI_Management_app:loyalty_card_detail' pk=loyalty_card.pk category='none' %}"><b> / {{loyalty_card.card_name}} </b></a>
<a href="#"><b> / Wyszukiwarka nowego uczestnika</b></a>
{% endblock %}

{% block content %}
    {% if searched %}
    <h2 class="fadeInUp-animation">
        Szukasz uczestnika dla karty {{loyalty_card.card_name}}:
        <span class="search-style">
            {{ searched }}
        </span>
    </h2>
    <hr>
    <br />
    <div class="hero-unit">
    {% for member in members_in_validator %}
        <div class="notepad">
<!--            <img src="{{ member.image.url }}" alt="image" width="100px">-->
            <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                <img src="{% thumbnail member.image 100x0  quality=100 %}">
            </a>
            <h3>
                <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                    {{member.forename}} {{member.surname}}
                </a>
            </h3>
                <p>
                    <b>
                        Nr:
                    </b>
                    {{member.member_nr}} 	&#124;
                    <b>
                        tel:
                    </b>
                    {{member.phone_number|phone_number}} &#124;
                    <b>
                        email:
                    </b>
                    {{member.email}}
                </p>

                {% for member_validator in loyalty_card_validator%}
                    {% if member.id == member_validator.member.id %}
                        {% if loyalty_card.pk == member_validator.card.id %}
                            <span style="color: #FF0000">{{member_validator.card}} </span>|
                        {% else %}
                            {{member_validator.card}} |
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <br />
                <p>
                    <a href="{% url 'TI_Management_app:loyalty_card_add_member' pk=loyalty_card.pk pk1=member.pk %}" class="btn btn-primary btn-large pull-right">
                        Dodaj nowego uczestnika do karty {{loyalty_card.card_name}}
                    </a>
                </p>

                <div class="date"><p>Data dodania: {{ member.created_date }}</p></div>
            </div>

        {% endfor %}
    </div>
    {% else %}
        <div class="hero-unit">
            <h4>Proszę, wprowadź frazę w pole wyszukiwania</h4>
            <br />
        </div>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card' %}
{% endblock %}