<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/TI_Management_app.css' %}">
        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap-responsive.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#hide").click(function(){
                    $("#obj1").hide(1000);
                });
                $("#show").click(function(){
                    $("#obj1").show(1000);
                });
                $("#showDocuments").click(function(){
                    $("#objDocuments").show(1000);
                });
                $("#showFinance").click(function(){
                    $("#objFinance").show(1000);
                });
                $("#showGroup").click(function(){
                    $("#objGroup").show(1000);
                });
                $("#showNotepad").click(function(){
                    $("#objNotepad").show(1000);
                });
                $("#showCardsLoyality").click(function(){
                    $("#objCardsLoyality").show(1000);
                });
                $("#showSideMenuMembers").click(function(){
                    $("#objSideMenuMembers").show(1000);
                });
                $("#showActivity").click(function(){
                    $("#objActivity").show(1000);
                });
                $("#showVoting").click(function(){
                    $("#objVoting").show(1000);
                });
            });
        </script>
    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% url 'members_list' %}">zzti LUMS</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-left">
                            Labour Union<br>
                            Management System
                        </p>
                        <p class="navbar-text pull-right">
                            Użytkownik: <a href="#" class="navbar-link">{{user.username}}</a>
                        </p>
<!--                        <ul class="nav">-->
<!--                            <li class="active"><a href="#">Home</a></li>-->
<!--                            <li><a href="#about">About</a></li>-->
<!--                            <li><a href="#contact">Contact</a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Panel</li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">
                                <a href="{% url 'members_list' %}">Członkowie</a>
                                <ul>
                                    <li>
                                        <a href="{% url 'member_new' %}">dodaj</a>
                                    </li>
                                </ul>
                            </li>


                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span9">
<!--                    {% for member in members %}-->
<!--                    <div class="hero-unit">-->
<!--                        <h2><a href="">{{member.forename}} {{member.surname}} {{member.image}}</a></h2>-->
<!--                        <p>data dodania: {{member.created_date}}</p>-->
<!--                        <p><a href="#" class="btn btn-primary btn-large">Więcej informacji</a></p>-->

<!--                    </div>-->
<!--                    {% endfor %}-->
                    {% block content %}

                    {% endblock %}

                </div>
            </div>

            <footer class="bg-body-tertiary text-center">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    Copyright &#169; {% now "d-m-Y" %}r.
                    <a class="text-body" href="#">zzti</a>
                </div>
            </footer>
        </div>

    </body>
</html>