<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
        <link rel="icon" type="image/x-icon" href="{% static 'img/zzti_png-3.png' %}">
<!--        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap.css" rel="stylesheet">-->
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/TI_Management_app.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
<!--        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap-responsive.css" rel="stylesheet">-->

<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/TI_Management_app.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">
        <div class="no-print">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <img src="{% static 'img/zzti_png-3.png' %}" alt="logo" width="20">
                    <a class="brand" href="{% url 'TI_Management_app:members_list' %}">zzti LUMS</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-left">
                            Labour Union<br />
                            Management System
                        </p>
                        <a class="brand" href="#">| Offline</a>

                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'TI_Management_app:members_list' %}"><b>Main </b></a>
                        {% block breadcrumbs %}
                        {% endblock %}

                        <p class="navbar-text pull-right">
                            Użytkownik:
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:logout' %}?next=/" class="navbar-link">{{user.username}}</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <small>
                                    <a href="{% url 'admin:index' %}" class="navbar-link">
                                        Panel Administratora
                                    </a>
                                </small>
                            {% else %}
                                <a href="{% url 'users:login' %}" class="navbar-link">Zaloguj</a>
                            {% endif %}
                        </p>

                    </div>
                </div>
            </div>

        </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="no-print">
                <div class="span3">
                    <div class="well sidebar-nav">
                        {% block menu %}
                        {% endblock %}
                    </div>
                </div>
                </div>

                <div class="span9">
                    {% for msg in messages %}
                        <div class="alert alert-success" role="alert">
                            {{msg}}
                        </div>
                    {% endfor %}
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            <div class="no-print">
            <footer class="bg-body-tertiary text-center">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    Copyright &#169; {% now "d-m-Y" %}r.
                    <a class="text-body" href="#">zzti</a>
                </div>
            </footer>
            </div>
        </div>

    </body>
</html>