<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
<!--        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/TI_Management_app.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
<!--        <link href="https://getbootstrap.com/2.3.1/assets/css/bootstrap-responsive.css" rel="stylesheet">-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'js/TI_Management_app.js' %}"></script>

    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% url 'members_list' %}">zzti LUMS</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-left">
                            Labour Union<br>
                            Management System
                        </p>

                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'members_list' %}">Main </a>
                        {% block breadcrumbs %}
                        {% endblock %}


                        <p class="navbar-text pull-right">
                            Użytkownik:
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:logout' %}?next=/" class="navbar-link">{{user.username}}</a>
                            {% else %}
                                <a href="{% url 'users:login' %}" class="navbar-link">Zaloguj</a>
                            {% endif %}
                        </p>
<!--                        <ul class="nav">-->
<!--                            <li class="active"><a href="#">Home</a></li>-->
<!--                            <li><a href="#about">About</a></li>-->
<!--                            <li><a href="#contact">Contact</a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Panel</li>
                            <li><a href="#"><b>Dashboard</b></a></li>
                            <li class="active">
                                <a href="{% url 'members_list' %}"><b>Baza Członków</b></a>
                                <ul>
                                    <li>
                                        <a href="{% url 'member_new' %}">dodaj uczestnika</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{% url 'groups_list' %}"><b>Grupy</b></a>
                                <ul>
                                    <li>
                                        <a href="{% url 'groups_add' %}">dodaj grupe</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{% url 'loyalty_card_list' %}"><b>Karty Lojalnościowe</b></a>
                                <ul>
                                    <li>
                                        <a href="{% url 'loyalty_card_add' %}">dodaj karte lojalnościową</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="span9">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            <footer class="bg-body-tertiary text-center">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    Copyright &#169; {% now "d-m-Y" %}r.
                    <a class="text-body" href="#">zzti</a>
                </div>
            </footer>
        </div>

    </body>
</html>