{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="#"> / Wyszukiwarka</a>
{% endblock %}

{% block content %}
    {% if searched %}
        <h2>Szukasz: <span class="search-style">{{ searched }}</span></h2>
        <br />
        {% for document in documents %}
            <div class="hero-unit">
                <h2>
                    <a href="{{ document.file.url }}">
                        {{document.title}}
                    </a>
                </h2>

                <p>
                    <a href="{{ document.file.url }}" class="btn btn-primary btn-large pull-right">
                        Więcej informacji
                    </a>
                </p>
                <div class="date">
                    <p>
                        Data dodania: {{ document.created_date }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>
            Please, insert the phrase into the search area.
        </h2>
    {% endif %}
{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database' %}
{% endblock %}