{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:documents_database' %}"> / Baza dokumentów</a>
<a href="{% url 'TI_Management_app:documents_database_edit' pk=document.pk %}"> / Aktualizuj dokument</a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}
            <p>Dokument:</p>
        {{form.category}}
        {{form.title}}
        {{form.responsible.as_hidden}}

        <label class="custom-file-upload-mod">
            {{form.file|cut:'documentsDatabase/'}}
        </label>

        <button type="submit" class="btn btn-primary btn-large pull-right">
            Aktualizuj
        </button>
        <br />
        <br />
    </form>
</div>

<div class="hero-unit">
    <p>
        Historia:
    </p>
    {% for h in document.history.all %}
        <div class="notepad">
            <table width="100%" border="0">
                <tr>
                    <td>
                        {{ h.history_id }}
                    </td>
                    <td>
                        {{ h.history_type }}
                    </td>
                    <td>
                        {{ h.history_user }}
                    </td>
                    <td>
                        {{ h.history_date }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Ketegoria: {{ h.category }}
                    <br />
                        Tytuł: {{ h.title }}
                    <br />
                        {% if h.file %}
                            <a href="../../media/{{ h.file|escape }}">
                               {{ h.file|cut:'documentsDatabase/' }}
                            </a>
                        {% else %}
                            {{ h.file|cut:'documentsDatabase/' }}
                        {% endif %}
                    <br />
                        {{ h.responsible }}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='documents_database' %}
{% endblock %}