{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'groups_add' %}"> / Dodaj Grupe</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            <p>Dodaj grupę:</p>
            {{form.group_name}}

            <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
            <br />
            <br />
        </form>
    </div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='groups_add' %}
{% endblock %}