{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'groups_list' %}"> / Grupy </a>
<a href="#"> / Modyfikuj Grupe</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.username == 'admin'%}
    <div class="hero-unit">
        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            <p>Modyfikuj grupę:</p>
            {{form.group_name}}


            <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
            <br />
            <br />
        </form>
    </div>
{% endif %}
{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='groups' %}
{% endblock %}