{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'loyalty_card_list' %}"> / Karty Lojalnościowe </a>
<a href="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}"> / {{loyalty_card.card_name}}</a>
<a href="{% url 'loyalty_cards_add_file_to_be_picked_up' pk=loyalty_card.pk %}"> / Dodaj dokument odbioru</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.username == 'admin' %}
   <div class="hero-unit">
        <h3><a href="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">{{ loyalty_card.card_name }}</a></h3>
        <p>Dokument odbioru</p>
        <form method="post" class="post-form" enctype="multipart/form-data">
<!--            {{ form.as_p }}-->
            {% csrf_token %}
<!--            <table width="100%">-->
<!--                <tr>-->
<!--                    <td>Nazwa dokumentu: </td>-->
<!--                    <td>{{form.title}}</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Wybierz dokument: </td>-->
<!--                    <td>-->
<!--                        <label class="custom-file-upload">-->
<!--                            Dodaj dokument-->
<!--                            {{form.file}}-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <p>{{loyalty_card.pk}} {{form.card.pk.as_hidden}}</p>-->
            <p>{{form.title}}</p>
            {{form.responsible.as_hidden}}
            <label class="custom-file-upload">
                Wybierz dokument
                {{form.file}}
            </label>
            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
            <br />
        </form>
    </div>

{% endif %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card' %}
{% endblock %}