{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'loyalty_card_list' %}"> / Karty Lojalnościowe </a>
<a href="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}"> / {{loyalty_card.card_name}}</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <form class="d-flex" method=POST action="{% url 'loyalty_card_member_search' pk=loyalty_card.pk %}">
        {% csrf_token %}
        <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"
        type="search" placeholder="Dodaj nowego uczestnika" aria-label="Search" name="searched">
        <button class="btn btn-primary btn-large pull-right" type="submit">Sprawdź czy uczestnik istnieje</button>
    </form>
</div>

<div class="hero-unit">


    <h2><a href="{% url 'loyalty_card_edit' pk=loyalty_card.pk %}">{{loyalty_card.card_name}}</a></h2>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembers">
                Lista użytkowników:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">
                        {% csrf_token %}

                        {% for radio in form_sep.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        {% for radio in form_sep.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembers" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                <div class="notepad">
                    <p>
                        <a href="{% url 'member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                            <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                        </a>
                    </p>
                    <p>Numer telefonu: {{loyalty_card_status.member.phone_number}}</p>
                    <p>E-mail: {{loyalty_card_status.member.email}}</p>

                    <a href="{% url 'loyalty_card_delete_member' pk=loyalty_card.pk pk1=loyalty_card_status.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    <br />
                </div>
                {% endfor %}
                <br />
                <a href="{% url 'loyalty_card_delete_all' pk=loyalty_card.pk %}" class="btn btn-danger btn-sm pull-right">usuń wszystkich</a>
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersReadyToGet">
                Lista karty do odbioru {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">
                        {% csrf_token %}

                        {% for radio in form_sep_picked_up.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        {% for radio in form_sep.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersReadyToGet" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'toBePickedUp' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p>M Nr: {{loyalty_card_status.member.member_nr}}</p>
                            <p>Rodzaj: {{loyalty_card.card_name}}</p>
                            <p>Nr karty: {{loyalty_card_status.card_identity}}</p>
                            <p>Data: {{loyalty_card_status.date_of_action}}</p>
                            <p>Status:
                                {% if loyalty_card_status.card_status == 'toBePickedUp' %}
                                    Do odbioru
                                {% endif %}
                            </p>
                            <p>Numer telefonu: {{loyalty_card_status.member.phone_number}}</p>
                            <p>E-mail: {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersOrdered">
                Lista wysłanych karty {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">
                        {% csrf_token %}
                        {% for radio in form_sep_ordered.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        {% for radio in form_sep_ordered.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersOrdered" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'ordered' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p>M Nr: {{loyalty_card_status.member.member_nr}}</p>
                            <p>Rodzaj: {{loyalty_card.card_name}}</p>
                            <p>Nr karty: {{loyalty_card_status.card_identity}}</p>
                            <p>Data: {{loyalty_card_status.date_of_action}}</p>
                            <p>Status:
                                {% if loyalty_card_status.card_status == 'ordered' %}
                                    Zlecona
                                {% endif %}
                            </p>
                            <p>Numer telefonu: {{loyalty_card_status.member.phone_number}}</p>
                            <p>E-mail: {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersToOrder">
                Zlecenia na kartę {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">
                        {% csrf_token %}
                        {% for radio in form_sep_to_ordered.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        {% for radio in form_sep_to_ordered.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersToOrder" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'toOrder' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p>M Nr: {{loyalty_card_status.member.member_nr}}</p>
                            <p>Rodzaj: {{loyalty_card.card_name}}</p>
                            <p>Nr karty: {{loyalty_card_status.card_identity}}</p>
                            <p>Data: {{loyalty_card_status.date_of_action}}</p>
                            <p>Status:
                                {% if loyalty_card_status.card_status == 'toOrder' %}
                                    Zlecona
                                {% endif %}
                            </p>
                            <p>Numer telefonu: {{loyalty_card_status.member.phone_number}}</p>
                            <p>E-mail: {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersDocuments">
                Dokumenty:
            </li>
            <li>
                <div class="notepad">
                    <a href="{% url 'loyalty_cards_add_file_order' pk=loyalty_card.pk %}" class="btn btn-primary btn-large pull-left">Dodaj dokument zlecenie</a>
                    <a href="{% url 'loyalty_cards_add_file_to_be_picked_up' pk=loyalty_card.pk %}" class="btn btn-primary btn-large pull-right">Dodaj dokument odbioru</a>
                    <br/>
                </div>

            </li>
<!--            <li>-->
<!--                <div class="notepad">-->
<!--                    <form class="d-flex" method=POST action="{% url 'loyalty_card_member_file_order_search' pk=loyalty_card.pk %}">-->
<!--                        {% csrf_token %}-->
<!--                        <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"-->
<!--                        type="search" placeholder="Dodaj dokument zlecenie" aria-label="Search" name="searched">-->
<!--                        <button class="btn btn-primary btn-large pull-right" type="submit">Sprawdź</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="notepad">-->
<!--                    <form class="d-flex" method=POST action="{% url 'loyalty_card_member_file_to_be_picked_up_search' pk=loyalty_card.pk %}">-->
<!--                        {% csrf_token %}-->
<!--                        <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"-->
<!--                        type="search" placeholder="Dodaj dokument odbioru" aria-label="Search" name="searched">-->
<!--                        <button class="btn btn-primary btn-large pull-right" type="submit">Sprawdź</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </li>-->
            <li id="objLoyaltyCardMembersDocuments" style="display: none">

                <div class="notepad">
                    <h4>Dokumenty zlecenie:</h4>
                    <br/>
                    {% for ordered_file in ordered_card_file %}
                        {% if ordered_file.card.id == loyalty_card.pk %}

                            <p>Nr dokumentu:
                                <a href="{{ ordered_file.file.url }}">{{ ordered_file.title }}</a>
                            </p>
                            <p>Nazwa: {{ ordered_file.file }}</p>
                            <p>Data: {{ ordered_file.created_date }}</p>
                            <p>Dodany przez: {{ ordered_file.responsible }}</p>
                            <br />

                        {% endif %}
                    {% endfor %}

                </div>

<!--                <div class="notepad">-->
<!--                    <h4>Dokumenty zlecenie przypisane do uczestnika:</h4>-->
<!--                    <br />-->
<!--                        {% for loyalty_card_status in status_card_file %}-->
<!--                            {% if loyalty_card_status.file%}-->
<!--                                <p>Nr dokumentu:-->
<!--                                    <a href="{{ loyalty_card_status.file.url }}">-->
<!--                                        {{loyalty_card_status.file_name}}-->
<!--                                    </a>-->
<!--                                </p>-->
<!--                                <p>Przypisany:-->
<!--                                    <a href="{% url 'member_detail' pk=loyalty_card_status.member.id %}">-->
<!--                                        {{ loyalty_card_status.member }}-->
<!--                                    </a>-->
<!--                                </p>-->
<!--                                <br />-->
<!--                            {% endif %}-->
<!--                        {% endfor %}-->

<!--                        {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}-->
<!--                                {% if loyalty_card_status.ordered_doc %}-->
<!--                                    {% for ordered_file in ordered_card_file %}-->
<!--                                        {% if ordered_file.id == loyalty_card_status.ordered_doc.id %}-->
<!--                                            <p>Nr dokumentu:-->
<!--                                                <a href="{{ ordered_file.file.url }}">-->
<!--                                                    {{ordered_file.title}}-->
<!--                                                </a>-->
<!--                                            </p>-->
<!--                                            <p>Przypisany:-->
<!--                                                <a href="{% url 'member_detail' pk=loyalty_card_status.member.id %}">-->
<!--                                                    {{ loyalty_card_status.member }}-->
<!--                                                </a>-->
<!--                                            </p>-->
<!--                                            <br />-->
<!--                                        {% endif %}-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                        {% endfor%}-->
<!--                </div>-->

                <div class="notepad">
                    <h4>Dokumenty odbioru:</h4>
                    <br/>
                    {% for to_be_picked_up_file in to_be_picked_up_doc_card_file %}
                        {% if to_be_picked_up_file.card.id == loyalty_card.pk %}

                            <p>Nr dokumentu:
                                <a href="{{ ordered_file.file.url }}">{{ to_be_picked_up_file.title }}</a>
                            </p>
                            <p>Nazwa: {{ to_be_picked_up_file.file }}</p>
                            <p>Data: {{ to_be_picked_up_file.created_date }}</p>
                            <p>Dodany przez: {{ to_be_picked_up_file.responsible }}</p>
                            <br />

                        {% endif %}
                    {% endfor %}

                </div>


<!--                <div class="notepad">-->
<!--                    <h4>Dokumenty odbioru przypisane do uczestnika:</h4>-->
<!--                    <br/>-->
<!--                        {% for loyalty_card_status in status_card_file_a %}-->
<!--                            {% if loyalty_card_status.file_a%}-->
<!--                                <p>Nr dokumentu:-->
<!--                                    <a href="{{ loyalty_card_status.file_a.url }}">-->
<!--                                        {{loyalty_card_status.file_name_a}}-->
<!--                                    </a>-->
<!--                                </p>-->
<!--                                <p>Przypisany:-->
<!--                                    <a href="{% url 'member_detail' pk=loyalty_card_status.member.id %}">-->
<!--                                        {{ loyalty_card_status.member }}-->
<!--                                    </a>-->
<!--                                </p>-->
<!--                                <br />-->
<!--                            {% endif %}-->
<!--                        {% endfor %}-->

<!--                        {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}-->
<!--                                {% if loyalty_card_status.to_be_picked_up_doc %}-->

<!--                                    {% for to_be_picked_up_file in to_be_picked_up_doc_card_file %}-->
<!--                                        {% if to_be_picked_up_file.id == loyalty_card_status.to_be_picked_up_doc.id %}-->
<!--                                            <p>Nr dokumentu:-->
<!--                                                <a href="{{ to_be_picked_up_file.file.url }}">-->
<!--                                                    {{to_be_picked_up_file.title}}-->
<!--                                                </a>-->
<!--                                            </p>-->
<!--                                            <p>Przypisany:-->
<!--                                                <a href="{% url 'member_detail' pk=loyalty_card_status.member.id %}">-->
<!--                                                    {{ loyalty_card_status.member }}-->
<!--                                                </a>-->
<!--                                            </p>-->
<!--                                            <br />-->
<!--                                        {% endif %}-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                        {% endfor%}-->
<!--                </div>-->

            </li>
          </ul>
    </div>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header" id="showLoyaltyCardMembersDeactivated">
                Karty dezaktywowane {{ loyalty_card.card_name }}:
            </li>
            <li>
                <div class="notepad">
                    <form method="post" action="{% url 'loyalty_card_detail' pk=loyalty_card.pk %}">
                        {% csrf_token %}
                        {% for radio in form_sep_to_deactivated.separator %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <br />
                        {% for radio in form_sep_to_deactivated.data %}
                            <label class="horizontal-radio">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                        <button class="btn btn-info btn-sm pull-right" type="submit">Wygeneruj listę</button>
                    </form>
                </div>
            </li>
            <li id="objLoyaltyCardMembersDeactivated" style="display: none">
                {% for loyalty_card_status in loyalty_card.loyaltyCardStatus.all %}
                    {% if loyalty_card_status.card_status == 'deactivated' %}
                        <div class="notepad">
                            <p>
                                <a href="{% url 'member_loyalty_card_edit' pk=loyalty_card_status.member.id pk1=loyalty_card_status.id %}">
                                    <b>{{loyalty_card_status.member.forename}} {{loyalty_card_status.member.surname}}</b>
                                </a>
                            </p>
                            <p>Nr karty: {{loyalty_card_status.card_identity}}</p>
                            <p>Data: {{loyalty_card_status.date_of_action}}</p>
                            <p>Status:
                                {% if loyalty_card_status.card_status == 'deactivated' %}
                                    Zlecona
                                {% endif %}
                            </p>
                            <p>Numer telefonu: {{loyalty_card_status.member.phone_number}}</p>
                            <p>E-mail: {{loyalty_card_status.member.email}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <br />
            </li>
          </ul>
    </div>

</div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card' %}
{% endblock %}