{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'loyalty_card_add' %}"> / Dodaj kartę lojalnościową</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            <p>Dodaj kartę lojalnościową:</p>
            {{form.card_name}}
            {{form.created_date}}


            <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
            <br />
            <br />
        </form>
    </div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='loyalty_card_add' %}
{% endblock %}