{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"> / Baza Członków </a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'TI_Management_app:member_notepad_history' pk=member.pk title=title %}"> / Historia Komunikacji</a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h3>
        <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
            {{member.forename}} {{member.surname}} {{member.member_nr}}
        </a>
    </h3>
    <div class="no-print">
        <p>
            Historia komunikacji
            <a href="{% url 'TI_Management_app:member_notepad_history_pdf' pk=member.pk title=title %}" class="btn btn-info btn-sm pull-right">
                Wygeneruj PDF
            </a>
            <button class="btn btn-info btn-sm pull-right" onclick="window.print()">
                Drukuj
            </button>
        </p>
    </div>
       {% for note in member_notepad_history_obj %}
            <div class="notepad">
                <div class="notepad-head"><h3>{{ note.title }}</h3> </div>
                <div class="notepad-history-head">
                    <div class="notepad-status-left">
                        <p># {{ forloop.revcounter }}</p>
                    </div>
                    <div class="notepad-status-right">
                        <p>Data: {{ note.published_date }} Przez: {{ note.responsible }}</p>
                    </div>
                </div>

                <table>
                    <tr>
                        <td><h5>Sposób zgłoszenia: </h5></td>
                        <td>
                            {% if note.method == 'personally' %} Osobiście
                            {% elif note.method == 'email' %} E-mail
                            {% elif note.method == 'telephone' %} Telefonicznie
                            {% elif note.method == 'zoom' %} ZOOM
                            {% elif note.method == 'whatsapp' %} WhatsApp
                            {% elif note.method == 'facebook' %} Facebook
                            {% elif note.method == 'other' %} Inny
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Ważnośc: </h5></td>
                        <td>
                            {% if note.importance == 'low' %} Niski
                            {% elif note.importance == 'standard' %} Umiarkowany
                            {% elif note.importance == 'important' %} Ważny
                            {% elif note.importance == 'veryImportant' %} Bardzo ważny
                            {% elif note.importance == 'critical' %} Krytyczny
                            {% elif note.importance == 'none' %} Nie dotyczy
                            {% else %} None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5>Opis: </h5>
                            {{ note.content }}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Nadano status: </h5></td>
                        <td>
                            {% if note.status == 'ongoing' %}
                                W trakcie
                            {% elif note.status == 'closed' %}
                                Zamknięty
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Podpisano: </h5></td>
                        <td>{{ note.confirmed }}</td>
                    </tr>
                    <tr>
                        <td><h5>Plik: </h5></td>
                        <td>
                            {% if note.file %}
                                <a href="{{ note.file.url }}">{{ note.file }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
       {% endfor %}

   </div>

{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}