{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:members_list' %}"> / Baza Członków </a>
<a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'TI_Management_app:member_notepad_edit' pk=member.pk pk1=notepad.pk %}"> / Aktualizuj komunikację</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">

        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}

        <h3><a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
        <p>Komunikacja</p>
        <form method="post" class="post-form" enctype="multipart/form-data">
<!--            {{ form.as_p }}-->
            {% csrf_token %}
<!--            <p>{{form.card}}</p>-->
<!--            <p>{{form.card_identity}}</p>-->
<!--            <p>{{form.card_status}}</p>-->
<!--            <p>{{form.date_of_action}}</p>-->
            <table width="100%">
                <tr>
                    <td>Tytuł sprawy:
                    {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <td>Opis:<br/>
                    {{ form.content }}</td>
                </tr>
<!--                <tr>-->
<!--                    <td>Data zgłoszenia:-->
<!--                    {{ form.published_date }}</td>-->
<!--                </tr>-->
                <tr>
                    <td>Ważność:<br/>
                    {{ form.importance }}</td>
                </tr>
                <tr>
                    <td>Sposób zgłoszenia:<br/>
                    {{ form.method }}</td>
                </tr>
                <tr>
                    <td>Status:<br/>
                    {{ form.status }}</td>
                </tr>
                <tr>
                    <td>Odpowiedzialny:<br/>
                    {{ form.responsible }}</td>
                </tr>
                <tr>
                    <td class="tableCredential">
                        <label class="custom-file-upload-mod">
                            Dodaj plik:
                            {{ form.file }}
                        </label>
                    </td>

                </tr>
                <tr>
                    <td>{{form.confirmed}} Potwierdzenie zgłoszenia</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
            <br />
        </form>
    </div>

{% endblock %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}