{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
<a href="{% url 'member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'member_file_edit' pk=member.pk %}"> / Dokumenty</a>
{% endblock %}

{% block content %}

   <div class="hero-unit">
        <h3><a href="{% url 'member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
        <p>Dokument</p>
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{form.title}}</p>
            <label class="custom-file-upload">
                Wybierz dokument
                {{form.file}}
            </label>
            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
            <br />
        </form>
    </div>

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}