{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'member_occupation_add' %}"> / Dodaj stanowisko</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            <p>Stanowisko:</p>
            {{form.member_occupation}}

            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
            <br />
            <br />
        </form>
    </div>

<div class="hero-unit">
    {% for occupation in all_occupation %}
        <div class="notepad">
            <h3>
                <a href="{% url 'member_occupation_edit' pk=occupation.pk %}">
                    {{occupation}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{occupation.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='member_occupation_add' %}
{% endblock %}