{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
<a href="{% url 'member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'member_loyalty_card_add' pk=member.pk %}"> / Dodaj Kartę Lojalnościową</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.username == 'admin'%}
    <div class="hero-unit">

        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}

        <h3><a href="{% url 'member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
        <p>Karty Lojalnościowe</p>
        <form method="post" class="post-form" enctype="multipart/form-data">
<!--            {{ form.as_p }}-->
            {% csrf_token %}
<!--            <p>{{form.card}}</p>-->
<!--            <p>{{form.card_identity}}</p>-->
<!--            <p>{{form.card_status}}</p>-->
<!--            <p>{{form.date_of_action}}</p>-->
            <table width="100%">
                <tr>
                    <td>Rodzaj karty: </td>
                    <td>{{form.card}}</td>
                </tr>

                <tr>
                    <td>Numer karty: </td>
<!--                    <td>{{form.card_identity}}</td>-->

                    <td>
                        {% if form.card_identity.errors %}
                            <p class="hint">{{form.card_identity}}</p>
                            <p>{{form.card_identity.errors}}</p>
                        {% else %}
                            <p>{{form.card_identity}}</p>
                        {% endif %}
                    </td>


                </tr>
                <tr>
                    <td>Startowy PIN: </td>
                    <td>{{form.card_start_pin}}</td>
                </tr>
                <tr>
                    <td>Status karty: </td>
                    <td>{{form.card_status}}</td>
                </tr>
                <tr>
                    <td>Data modyfikacji: </td>
                    <td>{{form.date_of_action}}</td>
                </tr>
                <tr>
                    <td>Potwierdzenie odbioru: </td>
                    <td>{{form.confirmed}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{form.responsible}}</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj karte</button>
            <br />
        </form>
    </div>
{% endif %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}