{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <form class="d-flex" method=POST action="{% url 'member_search' %}">
        {% csrf_token %}
        <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"
        type="search" placeholder="Szukaj Uczestnika" aria-label="Search" name="searched">
        <button class="btn btn-primary btn-large pull-right" type="submit">Szukaj</button>
    </form>
</div>
{% for member in members %}
    <div class="hero-unit">
        <h2><a href="{% url 'member_detail' pk=member.pk %}">
            {{member.forename}} {{member.surname}}
        </a></h2>
            <img src="{{ member.image.url }}" alt="image" width="150px">
        <table>
          <tr>
            <td><p class="tableCredential"><b>Funkcja:</b></p></td>
            <td><p>{{member.role}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer uczestnika:</b></p></td>
            <td><p>{{member.member_nr}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Płeć: </b></p></td>
            <td>{% if member.sex == 'male' %}<p>M</p>
                {% elif member.sex == 'female' %}<p>K</p>
                {% else %}<p>None</p>{% endif %}</td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
            <td><p>{{member.phone_number}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>E-mail: </b></p></td>
            <td><p>{{member.email}}</p></td>
          </tr>
        </table>
        {% if member.deactivate %}
            <span style="color: #FF0000">Dezaktywacja!</span>
        {% endif %}

        <p><a href="{% url 'member_detail' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
            Więcej informacji
        </a></p>
        <div class="date"><p>Data dodania: {{member.created_date}}</p></div>
    </div>
{% endfor %}

{% include 'TI_Management_app/pagination.html' with page=members %}

{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}
