{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
<a href="{% url 'member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'member_group_add' pk=member.pk pk1=group.pk %}"> / Dodaj grupę</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.username == 'admin'%}
    <div class="hero-unit">

        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}

        <h3><a href="{% url 'member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} - {{member.member_nr}}</a></h3>
        <p>Grupa:</p>
        <form method="post" class="post-form">
<!--            {{ form.as_p }}-->
            {% csrf_token %}
            <p>{{group.group_name}}{{form.member.as_hidden}}</p>
<!--            {{form.group}}-->
<!--            <p>{{form.card_identity}}</p>-->
<!--            <p>{{form.card_status}}</p>-->
<!--            <p>{{form.date_of_action}}</p>-->

            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj grupę</button>
            <br />
        </form>
    </div>
{% endif %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}
