{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:member_function_add' %}"> / Dodaj funkcję dla członka</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">

        <form method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
            <p>Funkcja Członka:</p>
            {{form.member_function}}

            <button type="submit" class="btn btn-primary btn-large pull-right">Dodaj</button>
            <br />
            <br />
        </form>
    </div>

<div class="hero-unit">
    {% for function in all_functions %}
        <div class="notepad">
            <h3>
                <a href="{% url 'TI_Management_app:member_function_edit' pk=function.pk %}">
                    {{function}}
                </a>
            </h3>
            <div class="date">
                <p>
                    Data dodania: {{function.created_date}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='member_function_add' %}
{% endblock %}