{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
<a href="{% url 'member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
{% endblock %}

{% block content %}

    <div class="hero-unit">
      {% if member.created_date %}

        <img src="{{ member.image.url }}" alt="image" style='display: block; float: right; margin-left: auto; width: 250px'>

        <table>
          <tr>
            <td><p class="tableCredential"><b>Uczestnik:</b></p></td>
            <td><p>{{member.forename}} {{member.surname}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Funkcja:</b></p></td>
            <td><p>{{member.role}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Zawód:</b></p></td>
            <td><p>{{member.occupation}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer uczestnika:</b></p></td>
            <td><p>{{member.member_nr}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Płeć: </b></p></td>
            <td>
              {% if member.sex == 'male' %}<p>M</p>
              {% elif member.sex == 'female' %}<p>K</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data urodzenia: </b></p></td>
            <td><p>{{member.birthday}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Miejsce urodzenia: </b></p></td>
            <td><p>{{member.birthplace}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>PIN: </b></p></td>
            <td><p>{{member.pin}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Numer kontaktowy: </b></p></td>
            <td><p>{{member.phone_number}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>E-mail: </b></p></td>
            <td><p>{{member.email}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data przystąpienia: </b></p></td>
            <td><p>{{member.date_of_accession}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Data wystąpienia: </b></p></td>
            <td><p>{{member.date_of_abandonment}}</p></td>
          </tr>
          <tr>
            <td><p class="tableCredential"><b>Rodzaj umowy: </b></p></td>
            <td>
              {% if member.type_of_contract == 'indefinite_period_of_time' %}<p>Na czas nieokreślony</p>
              {% elif member.type_of_contract == 'limited_duration' %}<p>Na czas określony</p>
              {% else %}<p>None</p>{% endif %}
            </td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data zatrudnienia: </b></p></td>
            <td><p>{{member.date_of_contract}}</p></td>
          </tr>
          <tr>
            <td class="tableCredential"><p><b>Data rozwiązania umowy: </b></p></td>
            <td><p>{{member.expiration_date_contract}}</p></td>
          </tr>
        </table>

        <a href="{% url 'member_edit' pk=member.pk %}">
          <button type="submit" class="btn btn-primary btn-large pull-left">Modyfikuj</button>
        </a>
      <br/>
      <br/>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="show">Karta:</li>
              <li id="obj1" style="display: none">
                <p><a href="{% url 'member_card_edit' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Zmień
                </a></p>
                <br />
                <br />
                <div class="notepad">
                  <p>{{member.card}}</p>
                </div>
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showDocuments">Dokumenty:</li>
              <li id="objDocuments" style="display: none">
                <p><a href="{% url 'member_file_edit' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Dodaj Plik
                </a></p>
                <br />
                <br />
                <div class="notepad">
                <table width="100%">
                {% for file in member.membersFile.all %}
<!--                    <p><a href="{{ file.file.url }}">{{ file.title }}</a> - {{ file.created_date }}</p>-->
                  <tr>
                    <td><a href="{{ file.file.url }}">{{ file.title }}</a></td>
                    <td><p class="str-file">{{ file.file }}</p></td>
                    <td><p class="str-file">{{ file.created_date }}</p></td>
<!--                    <td><a href="{% url 'member_file_delete' pk=member.pk pk1=file.pk %}" class="date-file-delete">usuń</a></td>-->
                    <td><a href="{% url 'member_file_delete' pk=member.pk pk1=file.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a></td>
                  </tr>



                {% empty %}
                  <tr>
                    <td>
                      <p>Brak plików</p>
                    </td>
                  </tr>
                {% endfor %}
                </table>
                </div>
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showFinance">Finanse:</li>
              <li id="objFinance" style="display: none">

                {% for app in member.application.all %}
                    <div class="notepad">
                      <p><b>Tytuł:</b> {{ app.kind_of_application }}</p>
                      <p><b>Treść:</b> {{ app.description }}</p>
                      <p><b>Data wniosku:</b> {{ app.date_of_application }}</p>
                      <p><b>Data wypłaty:</b> {{ app.date_of_payout }}</p>
                    </div>

                {% empty %}
                  <p>Brak informacji</p>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showCardsLoyality">Karty lojalnościowe:</li>
              <li id="objCardsLoyality" style="display: none">
                <p><a href="{% url 'member_loyalty_card_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Dodaj
                </a></p>
                <br />
                <br />
                {% for card in member.cardStatus.all %}
                    <div class="notepad">
                      <p><a href="{% url 'member_loyalty_card_edit' pk=member.pk pk1=card.pk %}"><b>{{ card.card }}</b></a></p>
                      <p><b>Nr:</b> {{ card.card_identity }}</p>
                        {% if card.card_status == 'toOrder' %}<p><b>Status:</b> Do zlecenia</p>
                        {% elif card.card_status == 'ordered' %}<p><b>Status:</b> Zlecona</p>
                        {% elif card.card_status == 'toBePickedUp' %}<p><b>Status:</b> Do odbioru</p>
                        {% elif card.card_status == 'deactivated' %}<p><b>Status:</b> Dezaktywowana</p>
                        {% elif card.card_status == 'none' %}<p><b>Status:</b> Brak statusu</p>
                        {% else %}<p><b>Status:</b> None</p>{% endif %}
                      <p><b>Data:</b> {{ card.date_of_action }}</p>
                      <a href="{% url 'member_loyalty_card_delete' pk=member.pk pk1=card.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    </div>

                {% empty %}
                  <p>Brak informacji</p>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showActivity">Aktywności:</li>
              <li id="objActivity" style="display: none">

                {% for activity in member.activityStatus.all %}
                    <div class="notepad">
                      <p><b>{{ activity.activities }}</b></p>
                      <p><b>Wybrana aktywność:</b> {{ activity.description }}</p>

                        {% if activity.activity_status == 'collect' %} <p><b>Status:</b> Odebrano</p>
                        {% elif activity.activity_status == 'forCollection' %} <p><b>Status:</b> Do odbioru</p>
                        {% elif activity.activity_status == 'none' %} <p><b>Status:</b> Brak statusu</p>
                        {% else %} <p><b>Status:</b> None </p>{% endif %}

                        <p><b>Data:</b> {{ activity.assigned_date }}</p>
                        <p><b>Ilość pobrań:</b> {{ activity.spend }}</p>
                    </div>

                {% empty %}
                  <p>Brak informacji</p>
                {% endfor %}

              </li>
          </ul>
        </div>

      <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showVoting">Głosowania:</li>
              <li id="objVoting" style="display: none">

                {% for vote_member in member.voteMember.all %}
                    <div class="notepad">
                      <p><b>{{ vote_member.title }}</b> : {{ vote_member.description|truncatewords:100 }}</p>
                      {% if vote_member.importance is True %}
                        <p><b>Rodzaj: </b> Niejawne</p>
                      {% else %}
                        <p><b>Rodzaj: </b> Jawne</p>
                      {% endif %}
                    </div>

                {% empty %}
                  <p>Brak dostępnych głosowań</p>
                {% endfor %}

              </li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showGroup">Grupy:</li>
              <li id="objGroup" style="display: none">
                <p><a href="{% url 'member_group_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                  Dodaj
                </a></p>
                <br />
                <br />
                {% for group in member.groupsMember.all %}
                  <div class="notepad">
                    <p>
                      {{ group.group }}
                      <a href="{% url 'member_group_delete' pk=member.pk pk1=group.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    </p>
                  </div>
                {% empty %}
                  <p>Brak grupy</p>
                {% endfor %}
              </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header" id="showNotepad">Komunikacja:</li>
              <li id="objNotepad" style="display: none">

                {% for note in member.notepad.all|dictsortreversed:"id"|slice:"1" %}

                  <p><a href="{% url 'member_notepad_edit' pk=member.pk pk1=note.pk %}" class="btn btn-primary btn-large pull-right">
                    Modyfikuj
                  </a></p>
                  <br />
                  <br />
                    <div class="notepad">
                      <p><b>Sprawa: </b><a href="{% url 'member_notepad_history' pk=member.pk %}">{{ note.title }}</a></p>

                      {% for note_date in member.notepad.all|slice:"1" %}
                        <p><b>Data dodanie:</b> {{ note_date.created_date }}</p>
                      {% endfor %}

                      <p><b>Data modyfikacji:</b> {{ note.published_date }}</p>
                        {% if note.importance == 'low' %}<p><b>Ważnośc:</b> Niski</p>
                        {% elif note.importance == 'standard' %}<p><b>Ważnośc:</b> Umiarkowany</p>
                        {% elif note.importance == 'important' %}<p><b>Ważnośc:</b> Ważny</p>
                        {% elif note.importance == 'veryImportant' %}<p><b>Ważnośc:</b> Bardzo ważny</p>
                        {% elif note.importance == 'critical' %}<p><b>Ważnośc:</b> Krytyczny</p>
                        {% elif note.importance == 'none' %}<p><b>Ważnośc:</b> Nie dotyczy</p>
                        {% else %}<p><b>Ważność:</b> None</p>
                        {% endif %}
                      <p><b>Status:</b> {{ note.status }}</p>

                      <p><b>Odpowiedzialny:</b> {{ note.responsible }}</p>

                      <a href="{% url 'member_notepad_delete_all' pk=member.pk %}" class="btn btn-danger btn-sm pull-right">usuń</a>
                    </div>
                  <br />
                {% empty %}
                  <p><a href="{% url 'member_notepad_add' pk=member.pk %}" class="btn btn-primary btn-large pull-right">
                    Dodaj
                  </a></p>
                  <br />
                  <br />
                  <p>Brak informacji</p>
                {% endfor %}

              </li>
          </ul>
        </div>
      {% endif %}
    </div>


{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}