{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'members_list' %}"> / Baza Członków </a>
<a href="{% url 'member_detail' pk=member.pk %}"> / {{member.forename}} {{member.surname}} {{member.member_nr}}</a>
<a href="{% url 'member_card_edit' pk=member.pk %}"> / Karta</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.username == 'admin'%}
    <div class="hero-unit">
        <form method="post" class="post-form">
            {% csrf_token %}
<!--            {% if form.errors %}-->
<!--                <p>{{form.errors}}</p>-->
<!--            {% endif %}-->
            <h3><a href="{% url 'member_detail' pk=member.pk %}">{{member.forename}} {{member.surname}} {{member.member_nr}}</a></h3>
            <p>{{form.forename.as_hidden}}</p>
            <p>{{form.surname.as_hidden}}</p>
            <p>{{form.pin.as_hidden}}</p>
            <p>{{form.member_nr.as_hidden}}</p>
            <p>{{form.email.as_hidden}}</p>
            <p>{{form.phone_number.as_hidden}}</p>
            <p>{{form.date_of_accession.as_hidden}}</p>
            <p>Karta</p>
            <input class="form-control me-2" style="min-width: 100%!important; min-height: 35px"
                   type="search" placeholder="{{ member.card }}" value="{{ member.card }}" aria-label="card" name="card" >
            <br />
            <br />
            <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
            <br />
        </form>
    </div>
{% endif %}
{% endblock %}

{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}
