{% extends 'TI_Management_app/base.html' %}
{% block content %}
<div class="hero-unit">
    {% if form.errors %}
        <p>Nazwa użytkownika i hasło są nieprawidłowe. Proszę spróbować ponownie.</p>
    {% endif %}
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-large pull-right">Zaloguj</button>
        <input type="hidden" name="next" value="{% url 'TI_Management_app:members_list' %}" />
        <br />
        <br />
    </form>
</div>

{% endblock content %}
{% block menu %}
    {% include 'TI_Management_app/menu.html' with active_tab='members_list' %}
{% endblock %}
