{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:voting_list' %}"><b> / Głosowania </b></a>
<a href="{% url 'TI_Management_app:voting_add_poll' pk=voting.pk %}"><b> / Dodawanie głosowania [ 2 / 3 ]</b></a>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2 class="fadeInUp-animation">Nowe głosowanie - {{ voting.title }}</h2>
    <hr>
    <br />

    <form method="post" class="post-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{ form.errors }}</p>
            </div>
        {% endif %}
        {% if form_choice.errors %}
            <div class="alert alert-danger">
                <p>{{ form_choice.errors }}</p>
            </div>
        {% endif %}

        <p><b>Pytanie lub polecenie:</b></p>
        {{ form.question }}
        <br /><br />

        <p><b>Instrukcja lub dodatkowa informacja do pytania:</b></p>
        {{ form.media }}
        {{ form.description }}
        <br /><br />

        <p><b>Możliwe odpowiedzi:</b></p>

        <div id="openEndedAnswer">
            <label for="openEndedAnswerCheckbox">Pytanie otwarte:</label>
            {{ form_choice.open_ended_answer }}
        </div>

        <div id="inputContainer">
            <br />
            <div class="inputGroup">
                <label for="answer_0">Odpowiedź 1:</label>
                {{ form_choice.answer_0 }}


                <datalist id="answer_database">
                    {% for member in members %}
                        <option value="{{ member.member_nr }}">{{ member.forename }} {{ member.surname }}</option>
                    {% endfor %}
                </datalist>


                <label for="correct_0">Poprawna odpowiedź:</label>
                {{ form_choice.correct_0 }}

            </div>

        </div>
        <div id="inputButton">
            <button type="button" id="addButton" class="btn btn-primary btn-small pull-left">Dodaj</button>
        </div>
        <br />
        <br />


        <p><b>Ilość możliwych odpowiedzi:</b></p>
        <p>
            {{ form.number_of_responses }}
<!--            <input type="text" name="number_of_responses" id="number_of_responses" value="0" readonly>-->
        </p>

<!--        <input type="hidden" name="number_of_responses" value="1">-->

        <br />
        <br />

        <p><b>Koniec:</b></p>
        <p>
            {{ form.finish }}
        </p>

        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Zapisz</button>
        <br />
        <br />
    </form>
</div>
<div class="hero-unit">
    <h3>{{ voting.title }}</h3>
    <hr>
    <br />

    <p><b>Ilość uczestników:</b> {{ voting.members.count }}</p>
        <p><b>Uczestnicy:</b></p>
            <ul>
                {% for member in voting.members.all %}
                    <li>{{ member.forename }} {{ member.surname }} - {{ member.member_nr }}</li>
                {% endfor %}
            </ul>
    <br />

    {% for poll in voting.votePoll.all %}
        <div class="notepad">
            <p><b>{{ poll.question }}</b></p>
            <p><em><small>{{ poll.description|safe }}</small></em></p>
            <hr>
            <table>
                {% for choice in poll.pollChoice.all %}
                    {% if choice.answer is not None %}
                        {% if choice.correct %}
                            <tr>
                                <td>
                                    <span style="color:green">{{ choice.answer }}</span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    {{ choice.answer }}
                                    {% if choice.answer|member_full_name_exist %}
                                        {{ choice.answer|member_full_name_exist }}
                                    {% endif %}
                                    {% with choice.answer|member_img_exist as image_url %}
                                        {% if image_url %}
                                            <img src="{% thumbnail image_url 150x0  quality=100 %}">
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td>
                                <textarea style="resize: none;" rows="4" cols="50" disabled></textarea>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% empty %}
        <div class="notepad">
            <p><b>Nie ma jeszcze żadnego pytania.</b></p>
        </div>
    {% endfor %}
    <br />
    <br />
    {% if poll_exist %}
        <a href="{% url 'TI_Management_app:voting_add_recap' pk=voting.pk %}" class="btn btn-primary btn-large pull-right">
            Przejdź do podsumowania
        </a>
    {% endif %}
    <br />
    <br />
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    console.log("JavaScript loaded");
    let fieldCount = 1;

    function updateNumberOfResponses() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"].correct');
        const checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
        document.getElementById('number_of_responses').value = checkedCount || 1;
    }

    function toggleInputContainer() {
        const openEndedAnswerCheckbox = document.querySelector('#id_open_ended_answer');
        const inputContainer = document.getElementById('inputContainer');
        if (openEndedAnswerCheckbox.checked) {
            inputContainer.style.display = 'none';
            inputButton.style.display = 'none';
        } else {
            inputContainer.style.display = 'block';
            inputButton.style.display = 'block';
        }
    }

    document.getElementById('addButton').addEventListener('click', function() {
        const newInputGroup = document.createElement('div');
        newInputGroup.classList.add('inputGroup');

        const newLabel = document.createElement('label');
        newLabel.setAttribute('for', `answer_${fieldCount}`);
        newLabel.textContent = `Odpowiedź ${fieldCount + 1}:`;

        const newInput = document.createElement('input');
        newInput.setAttribute('type', 'text');
        newInput.setAttribute('id', `answer_${fieldCount}`);
        newInput.setAttribute('name', `answer_${fieldCount}`);
        newInput.setAttribute('placeholder', `Odpowiedź`);
        newInput.setAttribute('list', 'answer_database');
        newInput.classList.add('form-control', 'me-2');

        const newCheckboxLabel = document.createElement('label');
        newCheckboxLabel.setAttribute('for', `correct_${fieldCount}`);
        newCheckboxLabel.textContent = 'Poprawna odpowiedź';

        const newCheckbox = document.createElement('input');
        newCheckbox.setAttribute('type', 'checkbox');
        newCheckbox.setAttribute('id', `correct_${fieldCount}`);
        newCheckbox.setAttribute('name', `correct_${fieldCount}`);
        newCheckbox.classList.add('correct');

        newCheckbox.addEventListener('change', updateNumberOfResponses);

        newInputGroup.appendChild(newLabel);
        newInputGroup.appendChild(newInput);
        newInputGroup.appendChild(newCheckboxLabel);
        newInputGroup.appendChild(newCheckbox);
        document.getElementById('inputContainer').appendChild(newInputGroup);

        newInput.focus();

        fieldCount++;
    });

    document.querySelectorAll('input[type="checkbox"].correct').forEach(checkbox => {
        checkbox.addEventListener('change', updateNumberOfResponses);
    });

    const openEndedAnswerCheckbox = document.querySelector('#id_open_ended_answer');
    if (openEndedAnswerCheckbox) {
        openEndedAnswerCheckbox.addEventListener('change', toggleInputContainer);
        toggleInputContainer();  // Initialize on page load
    }

    updateNumberOfResponses();
});
</script>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='voting_add' %}
{% endblock %}


