<!DOCTYPE html>
{% load static %}
{% load ti_management_tags %}
{% load thumbnail %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
        <link rel="icon" type="image/x-icon" href="{% static 'img/zzti_png-3.png' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <style>
            body {
                font-family: century-gothic, sans-serif;
            }
            header {
                text-align: center;
                padding: 0px;
            }
            header img {
                max-width: 100%;
                height: auto;
            }
            th img {
                max-width: 100%;
                height: auto;
            }
            p {
                margin-left: 10px;
            }
        </style>
    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">
        <header>
            <img src="/static/img/votingSessionHeader.png" alt="zzti LUMS">
        </header>

        <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{{ form.errors }}</p>
            </div>
        {% endif %}
        <br />
        <br />
        <div>
            <table style="width:100%" border="0">
                <tr>
                    <td><p>{{ voting.title }}<p></td>
                    <th rowspan="2"><img src="/static/img/placeholder.png" alt="hit your card"></th>
                </tr>
                <tr>
                    <td><p>{{voting.date_start}} - {{voting.date_end}}</p></td>
                </tr>
            </table>
        </div>
        <br />
            {{ form.member_signature }}
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-right">Dalej</button>
        <br />
        <br />
        </form>

    </body>
</html>

