{% extends 'TI_Management_app/base.html' %}
{% load ti_management_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:voting_list' %}"><b> / Głosowania </b></a>
<a href="{% url 'TI_Management_app:voting_history_and_reports_detail' voting.pk %}"><b> / {{ voting.title|truncatewords:5 }} </b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">Protokół z głosowania</h2>
    <hr>
    <br />
    <div class="notepad">
        <p><b>{{ voting.title }}</b><p>
        <p>Rodzaj głosowania: {% if voting.vote_type == 'confidential' %}Tajne{% endif %}</p>
        <p>Wybory odbyły się w dniach: {{voting.date_start}} - {{voting.date_end}}</p>
        <p>Skład Komisji Wyborczej: {% for commission in voting.election_commission.all %}{{commission.forename}} {{commission.surname}} - MNo. {{commission.member_nr}}, {% endfor %}</p>
        <p>Wyniki:</p>
        <p>Frekwencja minimalna: {{min_attendance|floatformat:2}}% Frekwencja w trakcie wyborów: {{attendance|floatformat:2}}% - Głosowanie było {% if grant %}<span style="color:green">ważne</span>{% else %}<span style="color:red">nieważne</span>{% endif %} Liczba uprawnionych: {{voting.members.count}} w głosowaniu wzięło udział: {{member_already_participated.count}} głosów ważnych: {{member_accepted.count}} nieważnych: {{member_rejected.count}}</p>
        <p>Próg wyborczy: {{voting.turnout}}% + 1</p>
        <p>Uzyskane głosy:</p>

        {% for poll_with_response in polls_with_responses %}
            <p>{{ poll_with_response.poll_one }}</p>
            <ol>
                {% for choice in poll_with_response.choice_counts %}
                    <li>{{ choice.choice__answer }}, {{ choice.choice_count }}

                        {% if choice.choice_count == 0 %}
                            głosów
                        {% elif choice.choice_count == 1 %}
                            głos
                        {% elif choice.choice_count > 1 and choice.choice_count < 5 %}
                            głosy
                        {% else %}
                            głosów
                        {% endif %},

                        {{ choice.percentage }}%
                    </li>
                {% endfor %}
            </ol>
        {% endfor %}
        <p>Próg wyborczy {% if grant %}<span style="color:green">został spełniony</span>{% else %}<span style="color:red">nie został spełniony</span>{% endif %} - głosowanie {% if grant %}<span style="color:green">wiążące</span>{% else %}<span style="color:red">nieważne</span>{% endif %}</p>
        <p>Głosowanie zostało potwierdzone przez:
        {% for commission in voting.election_commission.all %}
            {{ commission.forename }} {{ commission.surname }} - MNo. {{ commission.member_nr }},
        {% endfor %}
        </p>
        <p>Sesje głosowania: {{ voting.voteVotingSessionKickOff.count }}</p>
            <ul class="image-list">
                {% for session_kick_off in voting.voteVotingSessionKickOff.all %}
                    <li>
                        {{ session_kick_off.session_start }} {{ session_kick_off.title }} przez:
                        {% for commission_signature in session_kick_off.voteVotingSessionKickOffSignature.all %}
                            {{ commission_signature.member.forename }} {{ commission_signature.member.surname }} g. {{ commission_signature.created_date }} - {{session_kick_off.session_end}} | Oddano {{ session_kick_off.kickOffVotingSessionSignature.count}}

                            {% if request.GET.showed == 'True' %}
                                <img src="{{ commission_signature.signature_image.url }}" alt="Signature" style="border: 1px solid #000; width: 150px; display: block; margin-top: 10px;">
                            {% else %}
                                <p><em>Podpis ukryty!</em></p>
                            {% endif %}

                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        <p>


        <p>Lista obecności:</p>
        {% for member in member_already_participated %}
            <div class="member-entry">
                <div class="member-details">
                    <p>{{ member.member.forename }} {{ member.member.surname }} - rozpoczęcie sessji: {{ member.created_date }} {% if member.reject %}<span style="color:red">głos nieważny</span>{% else %} {% if member.complete %}<span style="color:green">głos ważny</span>{% else %}<span style="color:red">głos nieważny</span>{% endif %}{% endif %}</p>
                </div>


                {% if request.GET.showed == 'True' %}
                <div class="member-signature">
                    <img src="{{ member.signature_image.url }}" alt="Signature" style="border: 1px solid #000; width: 150px; display: block; margin-top: 10px;"></p>
                </div>
                {% else %}
                    <div class="member-signature">
                        <p><em>Podpis ukryty!</em></p>
                    </div>
                {% endif %}
            </div>



        {% endfor %}
        {% for unsigned_member in unsigned_members %}
            <p>{{ unsigned_member.forename }} {{ unsigned_member.surname }} - nie wziął udziału w głosowaniu</p>
        {% endfor %}

        <br />
        <p><b>Dokumenty:</b></p>
        {% for file in voting.votingVoteFile.all %}
            <p>{{ file.title }}: <a href="{{ file.file.url }}" target="_blank">{{ file.file.url|filename }}</a></p>
        {% endfor %}
        <br />


        <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <p>{{ form.non_field_errors }}</p>
            </div>
        {% endif %}

        <div>
            <div {% if form.title.errors %} class="hint" {% endif %}>
                {{form.title}}
            </div>
            {% if form.title.errors %}
                <div class="alert alert-danger">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <label class="custom-file-upload">
            Wybierz dokument
            {{form.file}}
        </label>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-large pull-left">Dodaj dokument</button>
        <br />
        <br />
        </form>

        <br />
        <br />






        {% if request.GET.showed == 'True' %}
            <form method="POST" action="{% url 'TI_Management_app:voting_history_and_reports_detail_encrypt_signature' pk=voting.pk %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Ukryj podpis</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'TI_Management_app:voting_history_and_reports_detail_decrypt_signature' pk=voting.pk %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary" >Zobacz podpis</button>
            </form>
        {% endif %}
        <p id="countdown"></p>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const urlParams = new URLSearchParams(window.location.search);
                const countdownElement = document.getElementById('countdown');

                // Check if the 'showed' parameter exists and is 'True'
                if (urlParams.get('showed') === 'True') {

                    // Set countdown duration in seconds
                    let countdown = 10;

                    // Update the countdown text every second
                    const countdownInterval = setInterval(() => {
                        countdownElement.textContent = `${countdown} sekund`;
                        countdown--;

                        if (countdown < 0) {
                            clearInterval(countdownInterval);

                            // Create a form dynamically for the POST request
                            const form = document.createElement('form');
                            form.method = 'POST';
                            form.action = "{% url 'TI_Management_app:voting_history_and_reports_detail_encrypt_signature' pk=voting.pk %}";

                            // Add the CSRF token as a hidden input
                            const csrfTokenInput = document.createElement('input');
                            csrfTokenInput.type = 'hidden';
                            csrfTokenInput.name = 'csrfmiddlewaretoken';
                            csrfTokenInput.value = '{{ csrf_token }}';
                            form.appendChild(csrfTokenInput);

                            // Append the form to the body and submit it
                            document.body.appendChild(form);
                            try {
                                form.submit();
                            } catch (error) {
                                console.error("Error submitting the form:", error);
                            }
                        }
                    }, 1000); // Update every second
                } else {
                    countdownElement.textContent = "";
                }
            });
        </script>









        {% if request.GET.showed == 'True' %}
        <a onclick="openNewWindow()" class="btn btn-info btn-sm pull-right">
                [&#10138;]
        </a>
           <script>
                function openNewWindow() {
                    window.open(
                        "{% url 'TI_Management_app:voting_history_and_reports_detail_pdf_advance' pk=voting.pk %}",
                        "_blank",
                        "width=800,height=600,scrollbars=yes,resizable=yes"
                    );
                }
            </script>
        <a href="{% url 'TI_Management_app:voting_history_and_reports_detail_pdf_advance' pk=voting.pk %}" target="_blank" class="btn btn-primary btn-sm pull-right">
            PDF / Drukuj protokół
        </a>
        <br />
        {% endif %}


        <div class="date"><p>Data dodania: {{voting.created_date}} przez: {{ voting.author }}</p></div>

    </div>
</div>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='voting_history_and_reports_list' %}
{% endblock %}