{% extends 'TI_Management_app/base.html' %}

{% block breadcrumbs %}
<a href="{% url 'TI_Management_app:voting_list' %}"><b> / Głosowania </b></a>
<a href="{% url 'TI_Management_app:voting_detail' voting.pk %}"><b> / {{ voting.title|truncatewords:20 }} </b></a>
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h2 class="fadeInUp-animation">{{ voting.title }}</h2>
    <hr>
    <br />
    <div class="notepad">
        <p><b>Opis:</b></p>
        <em>{{ voting.description|safe }}</em>

        <p><b>Ilość uczestników:</b> {{ voting.members.count }}</p>
        <p><b>Uczestnicy:</b></p>
            <ul>
                {% for member in voting.members.all %}
                    <li>
                        <a href="{% url 'TI_Management_app:member_detail' pk=member.pk %}">
                            {{ member.forename }} {{ member.surname }} - {{ member.member_nr }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        <br />
        <p><b>Start:</b> {{voting.date_start}} </p>
        <p><b>Koniec:</b> {{voting.date_end}} </p>
        <div id="countdown"></div>
        <br />
        <p>
            <a href="{% url 'TI_Management_app:voting_edit' pk=voting.pk %}" class="btn btn-primary btn-large pull-right">
                Aktualizuj
            </a>
        </p>
        <br />
        <br />
        <p><b>Karta głosowania:</b></p>
        <br />
        {% for poll in voting.votePoll.all %}
        <h4>{{ poll.question }}</h4>
            <hr>
            <em><small>{{ poll.description|safe }}</small></em>
            <ul>
                {% for choice in poll.pollChoice.all %}
                    <li>
                        {% if choice.correct %}
                            <span style="color:green">{{ choice.answer }}</span>
                        {% else %}
                            {{ choice.answer }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <p style="text-align: right; margin-left: auto;"><small>Ilość dopuszczalnych wyborów:</small> {{ poll.number_of_responses }}</p>

            <br />
        {% endfor %}

        <div class="date"><p>Data dodania: {{voting.created_date}} przez: {{ voting.author }}</p></div>
    </div>
</div>

<script>
const dateStart = new Date("{{ voting.date_start|date:'Y-m-d H:i:s' }}").getTime();
const dateEnd = new Date("{{ voting.date_end|date:'Y-m-d H:i:s' }}").getTime();

function updateCountdown(targetDate, message) {
    const now = new Date().getTime();
    const distance = targetDate - now;

    if (distance < 0) {
        return false;
    }

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML = `${message} ${days}d ${hours}h ${minutes}m ${seconds}s`;

    return true;
}

function countdown() {
    let countdownActive = updateCountdown(dateStart, "<b>Rozpoczęcie głosowania:</b>");

    if (!countdownActive) {
        countdownActive = updateCountdown(dateEnd, "<b>Zakończenie głosowania:</b>");
    }

    if (!countdownActive) {
        document.getElementById("countdown").innerHTML = "Głosowanie zakończone";
    }
}

// Update the countdown every second
setInterval(countdown, 1000);
</script>

{% endblock %}

{% block menu %}
{% include 'TI_Management_app/menu.html' with active_tab='voting_list' %}
{% endblock %}