<!DOCTYPE html>
{% load static %}
{% load ti_management_tags %}
{% load thumbnail %}

<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>zzti LUMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="zzti LUMS">
        <meta name="author" content="zzti LUMS">
        <link rel="icon" type="image/x-icon" href="{% static 'img/zzti_png-3.png' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!--        <link rel="stylesheet" href="{% static 'css/TI_Management_app.css' %}">-->

        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
<!--        <script src="{% static 'js/TI_Management_app.js' %}"></script>-->
        <style>
            body {
                font-family: century-gothic, sans-serif;
            }
            header {
                text-align: center; /* Center the image */
                padding: 0px; /* Optional padding */
            }
            header img {
                max-width: 100%;
                height: auto;
            }
            th img {
                max-width: 100%;
                height: auto;
            }
            p {
                margin-left: 10px;
            }
            .container {
              position: relative;
              text-align: center;
              color: #000000;
              width: 100%;
            }
            .centered {
                width:50%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #FFFFFF;
            }
            @keyframes fadeInUp {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
            .fadeInUp-animation {
                animation: 1.5s fadeInUp;
            }
            .full-width {
                display:block;
                text-align: center;
                font-size: 10px;
            }
            input[type="checkbox"] {
                min-width: 50% !important;
                min-height: 35px;
            }
        </style>
        {% if not member.confirmation is True and member.reject is False %}
        <script type="text/javascript">
            let countdown = 5;

            function updateCountdown() {
                if (countdown > 0) {
                    // document.getElementById("countdown").innerHTML = countdown;
                    countdown--;
                } else {
                    clearInterval(interval);
                    window.location.reload();
                }
            }

            let interval = setInterval(updateCountdown, 1000);
        </script>
        {% endif %}
    </head>
    <body data-new-gr-c-s-check-loaded="14.1139.0" data-gr-ext-installed="">
        <header class="container">
            <img src="/static/img/votingSessionHeader.png" alt="zzti LUMS" style="width:100%;">
            <div class="centered">
                <br /><br />Głosowanie<br />{{ voting.title }}<br /> {{ member.created_date }}
                {% if member.confirmation is True and member.reject is False %}
                    <br />{{ member.member.forename }} {{ member.member.surname }} | MNo: {{ member.member.member_nr }}
                {% endif %}
            </div>
        </header>
        <p><span id="countdown"> </span></p>
        {% if member.confirmation is False and member.reject is False %}
        <div style="margin: 20px;">
            <hr>
          <h3>
                Dzień dobry, {{ member.member.forename }} {{ member.member.surname }} | MNo: {{ member.member.member_nr }}
          </h3>
            <hr>
            <table style="width:100%" border="0">
                <tr>
                    <th rowspan="2">
                        <br />
                        <br />
                        <h1 class="fadeInUp-animation"><span style="color:green; font-size: 124px;">&#10003;</span></h1>
                    </th>
                    <td>
                        <p>Jesteś na liście uprawnionych do głosowania. <br />
                            Zapisałem Ciebie na Liście Obecności. <br />
                            Nie brałaś/eś wcześniej udziału w głosowaniu.<p>
                    </td>
                </tr>
                <tr>
                    <td><p>Zaczekaj na potwierdzenie tożsamości</p></td>
                </tr>
            </table>
        </div>
        {% elif member.confirmation is True and member.reject is False %}
        <div style="margin: 20px;">
            <hr>
          <h5>
              <span class="label label-default full-width">
              To głosowanie jest tajne. Nikt poza Tobą nie będzie mógł zobaczyć oddanego przez Ciebie głosu.
              </span>
          </h5>
            <hr>
                <p><b>Możesz oddać głos poprzez zaznaczenie pola wyboru.</b></p>

<form method="post">
    {% csrf_token %}
    {% for form in forms %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <p>{{ form.errors }}</p>
        </div>
        {% endif %}


        <table style="width: 100%;" border="1">
            <tr><td colspan="2"><b>{{ form.poll.question }}</b></td></tr>
            <tr><td colspan="2"><em><small>{{ form.poll.description|safe }}</small></em></td></tr>
            <tr><td colspan="2">Dopuszczalna ilość wyborów: {{ form.poll.number_of_responses }}</td></tr>

            {% for field in form %}
                {% if field|is_checkbox %}
                <tr>
                    <td style="text-align: center; width: 30%">
                        {{ field.label_tag }}
                        {{ field }}
                    </td>
                    <td style="text-align: right; width: 70%">
                        {% if field.label|member_full_name_exist %}
                            {{ field.label|member_full_name_exist }}
                        {% endif %}

                       {% with field.label|member_img_exist as image_url %}
                            {% if image_url %}
                                <img src="{% thumbnail image_url 150x0 quality=100 %}" alt="Image for {{ field.label }}">
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br />


    {% endfor %}

    <br />
    <br />
    <button type="submit" class="btn btn-primary btn-large btn-block">Dotknij tutaj aby przejść dalej</button>
    <br />
    <br />
</form>



<!--                <form method="POST" action="{% url 'TI_Management_app:voting_active_session_validation' voting.pk session_kick_off.pk member.pk %}">-->
<!--                    {% csrf_token %}-->
<!--                    {% if form.errors %}-->
<!--                    <div class="alert alert-danger">-->
<!--                        <p>{{ form.errors }}</p>-->
<!--                    </div>-->
<!--                    {% endif %}-->

<!--                    <table style="width: 100%;" border="1">-->
<!--                    {% for poll in polls %}-->
<!--                        <tr><td colspan="2"><b>{{ poll.question }}</b></td></tr>-->
<!--                        <tr><td colspan="2"><em><small>{{ poll.description|safe }}</small></em></td></tr>-->
<!--                        <tr><td colspan="2">Dopuszczalna ilość wyborów: {{ poll.number_of_responses }}</td></tr>-->

<!--                        {% for choice in poll.pollChoice.all %}-->
<!--                        <tr>-->
<!--                            {% if choice.answer is not None %}-->
<!--                            <td>-->
<!--                            <input type="checkbox" name="answer_{{ choice.pk }}" value="{{ choice.pk }}">-->
<!--                            {% if choice.answer|member_full_name_exist %}-->
<!--                                {{ choice.answer|member_full_name_exist }}-->
<!--                            {% endif %}-->
<!--                            </td>-->
<!--                            <td>-->
<!--                            {% with choice.answer|member_img_exist as image_url %}-->
<!--                                {% if image_url %}-->
<!--                                    <img src="{% thumbnail image_url 150x0 quality=100 %}">-->
<!--                                {% endif %}-->
<!--                            {% endwith %}-->
<!--                            </td>-->


<!--                            {% else %}-->
<!--                                <tr>-->
<!--                                    <td colspan="2">-->
<!--                                        <textarea style="resize: none;" rows="4" cols="50"></textarea>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->



<!--                        </tr>-->
<!--                        {% endfor %}-->

<!--                    {% endfor %}-->

<!--                    </table>-->
<!--                    <br />-->
<!--                    <br />-->
<!--                    <button type="submit" class="btn btn-primary btn-large btn-block">Dotknij tutaj aby przejść dalej</button>-->
<!--                    <br />-->
<!--                    <br />-->
<!--                </form>-->





        </div>
        {% elif member.confirmation is True and member.reject is True %}
        <div style="margin: 20px;">
            <hr>
          <h3>Dzień dobry, {{ member.member.forename }} {{ member.member.surname }} | MNo: {{ member.member.member_nr }} </h3>
            <hr>
                <table style="width:100%" border="0">
                <tr>
                    <th rowspan="2">
                        <br />
                        <br />
                        <h1 class="fadeInUp-animation"><span style="color:red; font-size: 124px;">&#x274c;</span></h1>
                    </th>
                    <td>
                        <p>Niestety, ale nie możesz przystąpić do głosowania. <br /><p>
                    </td>
                </tr>
                <tr>
                    <td><p>...</p></td>
                </tr>
            </table>
        </div>
        <script type="text/javascript">
            setTimeout(function() {
                window.location.href = "{% url 'TI_Management_app:voting_active_session' pk_vote=voting.id pk_kick_off=session_kick_off.id %}"; // Replace with the target view's name
            }, 3000);
        </script>
        {% endif %}
    </body>
</html>

