/* Example print styles */
body {
    font-size: 8pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* Hide certain elements */
.no-print {
    display: none;
}

/* Adjust margins */
@page {
    margin: 0.5cm;
}

img {
    display: none;
}

p {
    font-size: 10pt;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}
table {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
tr, td {
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px; /* Możesz dostosować tę wartość według potrzeb */
}

/*
a {
   display: none !important;
}
*/
/* Additional print-specific styles */