body {
    padding-top: 60px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 a, h2 a {
    text-decoration: none;
}

input {
  width: 100%;
}

.hero-unit {
    padding-bottom: 30px;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar-text.pull-left {
    float: block;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 11px;
    line-height: 1em;
    font-size: 10px;
}
.nav-header {
    font-size: 16px;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-text.pull-left {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

img {
    border-radius: 10px;
    float: left;
    margin: 10px;
}

.date{
    clear: both;
    font-size: 10pt;
    color: #828282;
    text-align: right;
    padding-top: 5px;
}

.tableCredential {
    padding-right: 15px;
}

.notepad {
    background: #FFFFFF;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.errorlist {
    font-size: 10pt;
    color: #C30010;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hint input[type=text] {
    border: 2px solid #C30010;
    background-color: #fdc5b9;
    color: #000000;
}

.hint input[type=number] {
    border: 2px solid #C30010;
    background-color: #fdc5b9;
    color: #000000;
}

.hint input[type=email] {
    border: 2px solid #C30010;
    background-color: #fdc5b9;
    color: #000000;
}