@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

textarea {
    width: 100%;
}

a {
    text-decoration: none;
}






.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu a{
  text-decoration: none;
  display: block;
  position: relative;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}
.menu-1 a::before{
  background: #E91E63;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before{
  transform-origin: 0 50%;
}






a:hover {
    text-decoration: none;
}

h1 a, h2 a {
    text-decoration: none;
}

input {
    width: 90%;
}
.horizontal-radio {
    display: inline-block;
    margin-right: 10px;
}

.hero-unit {
    padding-bottom: 30px;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar-text.pull-left {
    float: block;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 11px;
    line-height: 1em;
    font-size: 10px;
}
.nav-header {
    font-size: 16px;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-text.pull-left {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

img {
    border-radius: 10px;
    float: left;
    margin: 10px;
}

.date{
    clear: both;
    font-size: 10pt;
    color: #828282;
    text-align: right;
    padding-top: 5px;
}

.tableCredential {
    padding-right: 15px;
}

.notepadChart {
    width: 50%;
    height: 50%;
    background: #FFFFFF;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}
#myChart {
    width: 50%;
    height: 50%;
}

.notepad {
    background: #FFFFFF;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}
.notepad-history-head {
    width: 100%
}

.notepad-head {
    width: 100%
    text-align: center;
    text-align: center;
    color: #828282;
    background:  #ECF0F1;
    padding: 2px;
    margin-top: 0px;
    border-radius: 10px;
}

.notepad-status-left {
    width:50%;
    float:left;
    font-size: 10pt;
    color: #828282;
    text-align: left;
    padding-top: 1px;
}

.notepad-status-right {
    width:50%;
    float:left;
    font-size: 10pt;
    color: #828282;
    text-align: right;
    padding-top: 1px;
}

.errorlist {
    font-size: 10pt;
    color: #C30010;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.uniqueLink {
    color: #C30010;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.hint input[type=text] {
    border: 2px solid #C30010;
    background-color: #fdc5b9;
    color: #000000;
}

.hint input[type=number] {
    border: 2px solid #C30010;
    background-color: #fdc5b9;
    color: #000000;
}

.hint input[type=email] {
    border: 2px solid #C30010;
    background-color: #FDC5B9;
    color: #000000;
}

.str-file{
    color: #C000000;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

input[type="file"] {
    color: #FFFFFF;
    background: #006DCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    color: #006DCC;
    border: 2px solid #006DCC;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #006DCC;
    transition: 1s;
}

input[type="file"]::file-selector-button:hover {
    color: #006DCC;
    background-color: #006DCC;
    border: 2px solid #006DCC;
}

.custom-file-upload {
    color: #FFFFFF;
    background: #006DCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload {
    color: #FFFFFF;
    background: #006DCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload-mod input[type="file"] {
    color: #FFFFFF;
    background: #006DCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload-mod a {
    color: #000000;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
